<section class="filtro-tc-container">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="cerrarDropdown()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row justify-content-center">
    <div class="col-lg-6 filtro-tc-transmision-container">
      <p class="titulo-filtro-tc">Transmisión</p>
      <div class="row">
        <div class="col-md-4" *ngFor="let transmision of tiposTransmision">
          <button
            class="btn btn-white"
            [ngClass]="{ marcada: isMarcada(transmision.Tipo) }"
            (click)="filtroSeleccionado('transmision', transmision.Tipo)"
          >
            {{ transmision.Tipo }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 filtro-tc-combustible-container">
      <p class="titulo-filtro-tc">Combustible</p>
      <div class="row">
        <div class="col-md-4" *ngFor="let combustible of tiposCombustible">
          <button
            class="btn btn-white"
            [ngClass]="{ marcada: isMarcada(combustible.Tipo) }"
            (click)="filtroSeleccionado('combustible', combustible.Tipo)"
          >
            {{ combustible.Tipo }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
