.filtro-tc-container {
  padding: 30px 20px;

  .titulo-filtro-tc {
    font-family: 'mavenpro-bold', sans-serif;
    font-size: 16px;
  }

  .btn-white {
    font-weight: 100;
    justify-content: center;
    max-width: 135px;
    padding: 10px;
    margin-bottom: 10px;

    &:hover {
      color: #fff;
      background-color: var(--brand-blue);
    }
  }

  .marcada {
    color: #fff;
    background-color: var(--brand-blue);
  }

  .filtro-tc-transmision-container {
    border-right: 1px solid #d9dde9;
    padding: 20px 30px 40px 15px;
  }

  .filtro-tc-combustible-container {
    padding: 20px 10px 40px 30px;
  }
}

@media (max-width: 1199px) {
  .filtro-tc-container {
    .btn-white {
      width: 120px;
    }

    .filtro-tc-transmision-container {
      padding-left: 15px;
    }

    .filtro-tc-combustible-container {
      padding-left: 30px;
    }
  }
}

@media (max-width: 991px) {
  .filtro-tc-container {
    .btn-white {
      max-width: 100%;
      width: 100%;
    }

    .filtro-tc-transmision-container {
      border-right: none;
      padding-left: 20px;
      padding-right: 20px;
    }

    .filtro-tc-combustible-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 767px) {
  .filtro-tc-container {
    .btn-white {
      margin-bottom: 10px;
    }
  }
}
