/*UI*/
.form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #ffff;
  justify-content: center;
  display: flex;
  .info{
    display: none;
  }
  .header {
      width: 100%;
      padding: 1.625rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      .img_cnt {
          display: flex;
          justify-content: center;
          margin-bottom: 1.5rem;
          .img {
          width: 50%;
          text-align: center;
          }
      }
  }
  .icon_cnt {
      display: flex;
      width: 100%;
      position: relative;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 1.375rem;
      .tittle {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1.5rem;
        font-family: "mavenpro-bold";
        margin-bottom: 0;
        margin-top: 1rem;
      }
      .tittle_com {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1.5rem;
        font-family: "mavenpro-bold";
        margin-bottom: 0;
        margin-top: 0;
      }
      .subtitle {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1rem;
        font-family: "mavenpro-regular";
        margin-bottom: 0;
      }
      .icon {
        font-size: 10rem;
        color: var(--brand-blue);
        margin-top: 1.5rem;
      }
  }
  .form_tasacion_inf {
      width: 100%;
      position: relative;
      background-color: #ffff;
      .container_patente {
        padding: 1.375rem;
        background-color: var(--brand-blue);
        border-radius: 0.625rem;
        margin-bottom: 1rem;
        .img {
          margin-bottom: 17px;
        }
        .title {
          text-align: center;
          color: white;
          font-size: 1.5rem;
          font-family: "mavenpro-bold";
          margin-bottom: 0;
        }
        .title_a {
          text-align: center;
          color: white;
          font-size: 1.625rem;
          font-family: "mavenpro-regular";
          margin-bottom: 7px;
        }
        .precio {
          text-align: center;
          color: white;
          font-size: 3rem;
          font-family: "mavenpro-bold";
          margin-bottom: 0px;
          line-height: 60px;
        }
        .condiciones {
          text-align: center;
          color: var(--brand-cyan);
          font-size: 1rem;
          font-family: "mavenpro-regular";
          margin-bottom: 27px;
        }
        .condiciones_b {
          text-align: center;
          color: white;
          font-size: 0.825rem;
          font-family: "mavenpro-regular";
          margin-bottom: 11px;
        }
        .subtitle {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-regular";
          margin-bottom: 6px;
        }
        .subtitle_c {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-regular";
          margin-bottom: 16px;
        }
        .btn {
          width: 100%;
          &:first-child {
            margin-bottom: 0;
            width: 100%;
            height: 36px;
            background: white;
            border: 1px solid white;
            font-size: 1rem;
            color: var(--brand-blue);
            padding: 0;
            font-family: "mavenpro-bold";
           
          }
          &:last-child {
            margin-bottom: 1rem;
            margin-top: 1.5rem;
            width: 100%;
            height: 36px;
            border: 1px solid white;
            font-size: 1rem;
            color: white;
            padding: 0;
            font-family: "mavenpro-bold";
          }
        }
      }
  }
}
.proximos-pasos {
  font-family: "mavenpro-regular", sans-serif;
  color: var(--brand-blue);
  h2 {
    text-align: center;
    font-size: 1.7rem;
    font-family: "mavenpro-bold", sans-serif;
  }
  .imagen {
    text-align: center;
  }
  .subtitulo {
    padding-left: 0;
    h3 {
      font-size: 1.3rem;
      margin: 0;
    }
  }
}
.quieres-comprar {
  font-family: "mavenpro-regular", sans-serif;
  background: url('/assets/images/vehiculo-cotizador-2.jpg') no-repeat;
  background-position: 45% 22%;
  background-size: cover;
  padding: 4rem 0;
  .titulo {
    background-color: rgb(0, 0, 0, 0.4);
    padding: 0 1rem;
    h2 {  
      color: var(--brand-cyan);
      font-size: 2.2rem;
    }
    p {
      color: #fff;
      margin: 0;
    }
  }
  .div-btn {
    padding: 1rem 0;
    text-align: right;
    button {
      border: 0;
      padding: .2rem 1rem .3rem;
      background-color: var(--brand-cyan);
      color: var(--brand-blue);
      font-weight: 600;
    }
  }
}
@media (min-width: 800px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 80%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
        .title {
          text-align: left;
          margin-bottom: 0;
          font-size: 40px;
        }
        .subtitle {
          text-align: left;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
      .info{
        display:flow-root;
        width: 95%;
        padding: 1.625rem;
        background-color: var(--brand-blue);
        margin-left: 2rem;
        border-radius: 0.625rem;
        .tittle {
          color: #fff;
          font-size: 1.5rem;
          font-family: "mavenpro-bold";
          margin-bottom: 0;
          //margin-top: 1rem;
        }
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mavenpro-bold";
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mavenpro-regular";
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          .info-logo {
            padding:1rem;
          }
        }
      }
    }
    .derecha{
      .form_tasacion_inf{
        margin-top: 3rem;
      }
    }
  }
    
}
.img-final{
  max-width: 30rem;
  margin-left: 0rem;
  height: auto;
  min-height: 267px;
  min-width: 479px;
  margin-bottom: 19px;  
  border-radius: 10px;
}
@media screen and (max-width: 800px) {

  .img-final{
  max-width: 18rem;
  margin-left: 0rem;
  height: auto;
  min-height: 213px;
  min-width: 276px;
  margin-bottom: 19px;  
  border-radius: 10px;
}
}