
<!--New UI-->
<section class="form_tasacion container-tasador mt-3 mt-sm-0">
  <section class="derecha">
    <section class="form_tasacion_inf container">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="form-col container_patente">
                    <p class="title">
                        <img
                            src="../../../../assets/images/resumen_agenda.jpg"
                            alt="logo_car1"
                            class="img-final"
                        />
                    </p>
                    <p class="title">¡Confirmado!</p>
                    <p class="subtitle_c">
                        Tu cita de inspecci&oacute;n ha sido reservada.
                    </p>
                         <p class="title_a"><strong>{{fecha | date:'EEEE d' }} de {{fecha | date:'MMMM' }}</strong><br>
                            {{time}} hrs</p>
                    <p class="condiciones">
                        Recibirás un correo con la confirmación de tu cita.
                    </p>
                    <div class="row d-none d-sm-block">
                        <div class="col-12">
                            <p class="title">Tu Oferta</p>
                            <p class="precio">
                            ${{ datosTasacion.valor | number: "":"es" }}
                            </p>
                            <p class="condiciones_b">
                                El valor entregado puede variar seg&uacute;n el estado del veh&iacute;culo
                            </p>
                            <p class="subtitle">
                            {{ datosTasacion.marca }} {{ datosTasacion.modelo }}
                            {{ datosTasacion.version }}
                            </p>
                            <p class="subtitle">
                                ¿Tu objetivo es renovarte? Revisa nuestro stock y encuentra el auto que buscas.
                            </p>
                        </div>
                    </div>
                    <div class="form-group last_form_group d-none d-sm-block">
                        <button type="button" class="btn btn-primary2" (click)="goHome()">Ver Stock</button>
                        <button type="button" (click)="irHome()"class="btn btn-secondary_nuevo">Volver al Home</button>

                    </div>
                </div>
            </div>
        </div>
        <section class="row mt-3 d-block d-sm-none proximos-pasos">
            <div class="col-12">
              <h2>PRÓXIMOS PASOS</h2>
            </div>
            <div class="col-12 mt-4">
              <div class="row d-flex justify-content-center">
                <div class="col-2 imagen">
                  <img src="/assets/images/noun_loan_azul.png" class="img-fluid" />
                </div>
                <div class="col-7 subtitulo">
                  <h3>Espera la inspección y valida la oferta</h3>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4">
              <div class="row d-flex justify-content-center">
                <div class="col-2 imagen">
                  <img src="/assets/images/noun_drive_azul.png" class="img-fluid" />
                </div>
                <div class="col-7 subtitulo">
                  <h3>Coordina la entrega</h3>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4">
              <div class="row d-flex justify-content-center">
                <div class="col-2 imagen">
                  <img src="/assets/images/phone_azul.png" class="img-fluid" />
                </div>
                <div class="col-7 subtitulo">
                  <h3>Firma el contrato</h3>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4">
              <div class="row d-flex justify-content-center">
                <div class="col-2 imagen">
                  <img src="/assets/images/noun_Car-For-Sell_azul.png" class="img-fluid" />
                </div>
                <div class="col-7 subtitulo">
                  <h3>Recibe tu dinero</h3>
                </div>
              </div>
            </div>
          </section>
    </section>
  </section>
</section>
<section class="row mt-4 d-block d-sm-none quieres-comprar">
    <div class="col-12 px-0">
        <div class="titulo">
            <h2>¿Quieres comprar?</h2>
            <p>Revisa nuestros autos</p>
        </div>
    </div>
    <div class="col-12">
        <div class="div-btn">
            <button (click)="goHome()">Ver Stock</button>
        </div>
    </div>
</section>