::ng-deep body {
    background-color: #000;
}
::ng-deep app-full-view-image-mobile {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container-fluid {
    height: 100%;
}
.cerrar {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 100;
    span {
        cursor: pointer;
        font-weight: bold;
        color: #fff;
        font-size: 1.8rem;
        opacity: 0.8;
        &:hover, &:active {
            opacity: 1.0;
        }
    }
}
div.counter {
    position: absolute;
    z-index: 100;
    margin-top: 0.5rem;
    top: 1rem;
    padding: 0 1rem;
    span {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 0.5rem;
        padding: 0.1rem 0.2rem;
        background-color: rgba(0, 0, 0, 0.5);
        font-family: "mavenpro-regular", sans-serif;
        font-size: 0.7rem;
    }
}