<div [style]="displayCloseBtn" class="cerrar"><span (click)="closeFullView()">X</span></div>
<div class="counter">
    <span>{{activeSlide + 1}}/{{slides.length}}</span>
</div>
<section class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="b-col-12">
           <carousel
            [(activeSlide)]="activeSlide"
            appCarouselSwipe
            [isAnimated]="true"
            >
                <slide *ngFor="let slide of slides; let index = index">
                    <img [src]="slide" [style]="'height:'+ imgHeight" class="img-fluid" [alt]="'imagen_' + index">
                </slide>
            </carousel>
        </div>
    </div>
</section>