.container-filtro-tabs {
  padding: 50px 0 30px 0;
  .container {
    .titulo-filtro-tabs {
      color: var(--brand-marine);
      font-family: "mavenpro-bold", sans-serif;
      font-size: 40px;
      letter-spacing: -0.45px;
      line-height: 40px;
      text-align: center;
    }

    .navbar-nav {
      flex-direction: row;
      justify-content: space-between;

      .nav-item.dropdown {
        position: static;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      .nav-item.dropdown.show {
        .btn-white {
          border: 1px solid var(--brand-cyan2);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          color: var(--brand-cyan2);
          position: relative;
          z-index: 50000;
          border-bottom: none;
        }
      }

      .dropdown-menu {
        border: 1px solid var(--brand-cyan2);
        border-radius: 0;
        position: absolute;
        width: calc(100% - 3px);
        top: 57px;
        left: 1px;
        box-shadow: 0 2px 4px 0 rgba(148, 148, 148, 0.5);
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-filtro-tabs {
    .container {
      .navbar-nav {
        .btn.btn-white {
          font-size: 12px;
          padding: 10px;
        }

        .dropdown-menu {
          top: 44px;
          width: calc(100% - 2px);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .mobile-hidden {
    display: none;
  }
  .container-filtro-tabs {
    .container {
      .navbar-nav {
        .nav-item.dropdown {
          &:first-child {
            padding-left: 15px;
          }

          &:last-child {
            padding-right: 15px;
          }
        }

        .nav-item.dropdown.show {
          .btn-white {
            border-bottom: 1px solid #4caac6;
          }
        }

        .dropdown-menu {
          position: static;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 991px) {
  .mobile-nav {
    display: none;
  }
}

#filtros-navbar {
  padding-top: 0px;
  background-color: #f2f8f8;
  border: 1px solid #d9dde9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filtro-responsive {
  padding-top: 20px;
  padding-bottom: 20px;
}
