<section class="container-filtro-tabs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="titulo-filtro-tabs">Encuentra tu vehículo</p>
      </div>
    </div>
    <!-- Inicio componente responsivo-->
    <button class="dropdown-toggle mobile-nav btn btn-white" type=" button" data-toggle="collapse" data-target="#filtros-navbar"
      aria-expanded="false" aria-controls="filtros-navbar">
      Filtros
    </button>
    <nav id="filtros-navbar" aria-label="filtro-responsive" class="collapse mobile-nav navbar">
      <div class="filtro-responsive navbar-collapse" id="navbarNavDropdown">
        <div class="row navbar-nav">
          <!-- Filtro Tipo Vehículo -->
          <div class="nav-item dropdown col-lg-2" [ngClass]="{
                show: verTipoVehiculo
              }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('tipoVehiculo')">
              TIPO VEHÍCULO
            </button>
            <div class="dropdown-menu" [ngClass]="{
                  show: verTipoVehiculo
                }">
              <app-filtro-tipo-vehiculo [tipoVehiculos]="tipoVehiculos" (item)="opcionFiltroSeleccionada($event)"></app-filtro-tipo-vehiculo>
            </div>
          </div>
          <!-- Filtro Marca -->
          <div class="nav-item dropdown col-lg-2" [ngClass]="{
                show: verMarca
              }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('marca')">
              MARCA
            </button>
            <div class="dropdown-menu" [ngClass]="{
                  show: verMarca
                }">
              <app-filtro-marca (item)="opcionFiltroSeleccionada($event)" [marcas]="marcas"></app-filtro-marca>
            </div>
          </div>
          <!-- Filtro Precio -->
          <div class="nav-item dropdown col-lg-2" [ngClass]="{
                show: verPrecio
              }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('precio')">
              PRECIO
            </button>
            <div class="dropdown-menu" [ngClass]="{
                  show: verPrecio
                }">
              <app-filtro-precio (item)="opcionFiltroSeleccionada($event)"></app-filtro-precio>
            </div>
          </div>
          <!-- Filtro Año/Kilometraje -->
          <div class="nav-item dropdown col-lg-3" [ngClass]="{
                show: verAnioKilometraje
              }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('anio-kilometraje')">
              AÑO/KILOMETRAJE
            </button>
            <div class="dropdown-menu" [ngClass]="{
                  show: verAnioKilometraje
                }">
              <app-filtro-anio-kilometraje (item)="opcionFiltroSeleccionada($event)"></app-filtro-anio-kilometraje>
            </div>
          </div>
          <!-- Filtro Trasmisión/Combustible -->
          <div class="nav-item dropdown col-lg-3" [ngClass]="{
                show: verTransmisionCombustible
              }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('transmision-combustible')">
              TRANSMISIÓN/COMBUSTIBLE
            </button>
            <div class="dropdown-menu" [ngClass]="{
                  show: verTransmisionCombustible
                }">
              <app-filtro-transmision-combustible (item)="opcionFiltroSeleccionada($event)" [tiposTransmision]="tiposTransmision"
                [tiposCombustible]="tiposCombustible"></app-filtro-transmision-combustible>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Fin componente responsivo-->

    <nav aria-label="filtro-full" class="navbar bg-white mobile-hidden">
      <div class="navbar-collapse" id="navbarNavDropdown">
        <div class="row navbar-nav">
          <!-- Filtro Tipo Vehículo -->
          <div class="nav-item dropdown col-lg-2" [ngClass]="{
              show: verTipoVehiculo
            }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('tipoVehiculo')">
              TIPO VEHÍCULO
            </button>
            <div class="dropdown-menu" [ngClass]="{
                show: verTipoVehiculo
              }">
              <app-filtro-tipo-vehiculo [tipoVehiculos]="tipoVehiculos" (item)="opcionFiltroSeleccionada($event)"></app-filtro-tipo-vehiculo>
            </div>
          </div>
          <!-- Filtro Marca -->
          <div class="nav-item dropdown col-lg-2" [ngClass]="{
              show: verMarca
            }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('marca')">
              MARCA
            </button>
            <div class="dropdown-menu" [ngClass]="{
                show: verMarca
              }">
              <app-filtro-marca (item)="opcionFiltroSeleccionada($event)" [marcas]="marcas"></app-filtro-marca>
            </div>
          </div>
          <!-- Filtro Precio -->
          <div class="nav-item dropdown col-lg-2" [ngClass]="{
              show: verPrecio
            }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('precio')">
              PRECIO
            </button>
            <div class="dropdown-menu" [ngClass]="{
                show: verPrecio
              }">
              <app-filtro-precio (item)="opcionFiltroSeleccionada($event)"></app-filtro-precio>
            </div>
          </div>
          <!-- Filtro Año/Kilometraje -->
          <div class="nav-item dropdown col-lg-3" [ngClass]="{
              show: verAnioKilometraje
            }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('anio-kilometraje')">
              AÑO/KILOMETRAJE
            </button>
            <div class="dropdown-menu" [ngClass]="{
                show: verAnioKilometraje
              }">
              <app-filtro-anio-kilometraje (item)="opcionFiltroSeleccionada($event)"></app-filtro-anio-kilometraje>
            </div>
          </div>
          <!-- Filtro Trasmisión/Combustible -->
          <div class="nav-item dropdown col-lg-3" [ngClass]="{
              show: verTransmisionCombustible
            }">
            <button class="nav-link dropdown-toggle btn btn-white" id="navbarDropdownMenuLink" (click)="verOcultar('transmision-combustible')">
              TRANSMISIÓN/COMBUSTIBLE
            </button>
            <div class="dropdown-menu" [ngClass]="{
                show: verTransmisionCombustible
              }">
              <app-filtro-transmision-combustible (item)="opcionFiltroSeleccionada($event)" [tiposTransmision]="tiposTransmision"
                [tiposCombustible]="tiposCombustible"></app-filtro-transmision-combustible>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
