.contenedor {
    font-family: "mavenpro-regular", sans-serif;
    margin: 0;
    padding: 1rem;
    .slide-shadow {
        border-radius: 0.625rem;
        -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.7);
        padding: 1rem;
        .opinion {
            margin: 0;
            font-size: 0.9rem;
            padding: 0 1rem;
        }
    }
    .avatar {
        text-align: center;
        .avatar-fluid {
            max-width: 50px;
            height: auto;
        }
        img {
            border-radius: 1.5rem;
        }
    }
    .nombre {
        display: flex !important;
        align-items: center !important;
        padding-left: 0;
        span {
            font-family: "mavenpro-bold", sans-serif;
        }
    }
}
::ng-deep .carousel-indicators {
    bottom: -25px !important;
    li {
        background-color: var(--brand-blue) !important;
        background-clip: initial;
        border-top: 0;
        border-radius: 5px;
        width: 10px;
    height: 0px;
    }
}
::ng-deep .carousel-control {
    display: none;
}