<carousel
    appCarouselSwipe
    [isAnimated]="true"
>
    <slide *ngFor="let opinion of opinions">
        <div class="row contenedor">
            <div class="col-12 slide-shadow">
                <div class="row justify-content-center mb-2">
                    <div class="col-3 avatar">
                        <img [src]="opinion.img" class="avatar-fluid" [alt]="opinion.alt">
                    </div>
                    <div class="col-7 nombre">
                        <span>{{opinion.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="opinion">
                            {{opinion.opinion}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </slide>
</carousel>
