<section class="form_tasacion container-tasador">
  <section class="izquierda pt-4">
    <section class="form_tasacion_inf d-none d-lg-block">
          <div class="form-col container_patente">
            <p class="title">¡Tenemos una oferta para ti!</p>
            <p class="precio">
              $ 9.300.000
            </p>
            <p class="condiciones">
              El valor entregado puede variar seg&uacute;n el estado del veh&iacute;culo
            </p>
            <p class="subtitle">
              Peugeot 208 1.6 Active Pack HDI 92HP MT Diesel
            </p>
            <p class="subtitle_b">
              ¿Como llegamos a tu valor?
            </p>
          </div>
    </section>
    <article class="info">
      <div>
        <p class="tittle">¿Por qué elegirnos?</p>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-verification icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Tranquilidad</p>
          <p class="subtitle">
            A diferencia de otras empresas, nos preocupamos de transferir el auto a nuestro nombre, lo que te libera de cualquier responsabilidad futura sobre el auto.  Así, tú no tendrás que preocuparte de nada más que recibir tu dinero.
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-tag-peso icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Precio</p>
          <p class="subtitle">
            Tenemos precios muy competitivos. Cotiza con nosotros, te haremos una oferta que te sorprenderá. <strong>¿Tu auto tiene prenda? Despreocúpate, lo compramos igual!</strong>
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-comodo icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Comodidad</p>
          <p class="subtitle">
            Te pagamos en una hora y nos encargamos de todo el proceso de transferencia. Olvídate de la notaría, el banco y los trámites molestos. <strong>Vende tu auto sin salir de tu casa.</strong>
          </p>
        </div>
      </div>
    </article>
  </section>
  <section class="derecha mt-5">
    <section class="form_tasacion_inf container d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col-lg-11">
          <div class="form-col container_patente">
            <p class="title">¡Tenemos una oferta para ti!</p>
            <p class="precio">
              $ 9.300.000
            </p>
            <p class="condiciones">
              El valor entregado puede variar seg&uacute;n el estado del veh&iacute;culo
            </p>
            <p class="subtitle">
              Peugeot 208 1.6 Active Pack HDI 92HP MT Diesel
            </p>
            <p class="subtitle_b">
              ¿Como llegamos a tu valor?
            </p>
          </div>
          
        </div>
      </div>
    </section>
    <section class="form_tasacion_txt">
      <div class="row justify-content-md-center">
        <span class="circle">1</span>
        <span class="rectangle"></span>
        <span class="rectangle"></span>
        <span class="circle">2</span>
      </div>
      <div class="row">
        <span class="texto">Tus Datos</span>
        <span class="rectangle_b"></span>
        <span class="texto_b">Agenda</span>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-11">
          <div class="form-col container_pasos">
            <p class="title">Agenda Tu Hora</p>
            <p class="subtitle">
              Ind&iacute;canos el d&iacute;a y hora que prefieras para realizar la inspecci&oacute;n por videollamada.
            </p>

          </div>
          
        </div>
      </div>
    </section>

    <section class="form_tasacion_cnt container">
      <div class="row justify-content-md-center">
        <div class="col-lg-11">
          <form class="form_tasador">
            <div class="form-row seleccion-local" *ngIf="mostrarLocal">
              <div class="col-lg-12 form-group">
                <label for="inspeccionOnline" class="label-form">Local de Inspecci&oacute;n</label>
                <select class="custom-select-b custom-select-xl-b">
                  <option selected="true" disabled="disabled" value="">
                    Seleccione Local de Inspecci&oacute;n
                  </option>
                  <option value="">Rosario Norte 532</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-12 pre-cal">
                <div class="form-col">
                  <p class="anio">2021</p>
                  <p class="fecha">Lun, Ene 13</p>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div id="nuevo-custom"
                class="col-lg-12 form-group calendario-container">
                <bs-datepicker-inline
                [bsValue]="dayValue"
                  [bsConfig]="{
                    showWeekNumbers: false,
                    daysDisabled: [6, 0],
                    minDate: minDate
                  }"
                >
                </bs-datepicker-inline>
              </div>
            </div>
            <div class="form-row">  
              <div class="col-lg-12 form-group">
                <div class="container-horas-custom">
                  <div class="row hora-am">
                    <span class="titulo-hora">Ma&ntilde;ana</span>
                  </div>
                  <div class="row container-hora-item">
                        <span class="hora-item hora-item-seleccion" >
                          09:00 
                        </span>
                        <span class="hora-item" >
                          10:00 
                        </span>
                        <span class="hora-item" >
                          11:00 
                        </span>
                        <span class="hora-item" >
                          12:00 
                        </span>
                  </div>
                  <div class="row hora-pm">
                    <p class="titulo-hora">Tarde</p>
                  </div>
                  <div class="row container-hora-item">
                      <p class="hora-item">
                        14:00
                      </p>
                      <p class="hora-item">
                        15:00
                      </p>
                      <p class="hora-item">
                        16:00
                      </p>
                      <p class="hora-item">
                        17:00
                      </p>
                  </div>
                </div>
              </div>
            </div>
  

            <div class="form-group last_form_group">
              <button type="button" (click)="volver()" class="btn btn-secondary_nuevo">Volver a tus Datos</button>
              <button type="submit" (click)="siguiente()" class="btn btn-primary2">Confirmar Inspección</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  </section>    


</section>