.form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  .info{
    display: none;
  }
  .header {
    width: 100%;
    padding: 1.625rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .img_cnt {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      .img {
        width: 50%;
        text-align: center;
      }
    }
  }
  .form_tasacion_inf {
    width: 100%;
    position: relative;
    background-color: #fff;
    
    .container_patente {
      padding: 1.375rem;
      background-color: #4caac6;
      border-radius: 0.625rem;
      margin-bottom: 1rem;
      .title {
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-family: "mulish-bold";
        margin-bottom: 0;
      }
      .precio {
        text-align: center;
        color: white;
        font-size: 3rem;
        font-family: "mulish-bold";
        margin-bottom: 0px;
        line-height: initial;
      }
      .condiciones {
        text-align: center;
        color: white;
        font-size: 0.625rem;
        font-family: "mulish-regular";
        margin-bottom: 11px;
      }
      .subtitle {
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: "mulish-regular";
        margin-bottom: 6px;
      }
      .subtitle_b {
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: "mulish-bold";
        margin-bottom: 6px;
        text-decoration: underline 1px;
      }
    }
  }
  .form_tasacion_txt {
    width: 100%;
    position: relative;
    .row{
      margin-top: 0;
      margin-bottom: 0;
      justify-content: center;
      .circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        line-height: 32px;
        text-align: center;
        background: #4caac6
      }
      .rectangle {
        width: 4rem;
        height: 0.188rem;
        text-align: center;
        background: #4caac6;
        margin-block:auto;
      }
      .rectangle_b {
        width: 6rem;
        height: 0.188rem;
        text-align: center;
        background: #fff;
        margin-block:auto;
      }
      .texto {
        width: 4rem;
        height: 0.188rem;
        font-size: 0.75rem;
        color: #4caac6;
        line-height: 32px;
        text-align: center;
      }
      .texto_b {
        width: 4rem;
        height: 0.188rem;
        font-size: 0.75rem;
        color: #4caac6;
        line-height: 32px;
        text-align: center;
      }
    }

    .container_pasos {
      padding: 1.375rem;
      border-radius: 0.625rem;
      .title {
        text-align: center;
        color: #4caac6;
        font-size: 1.5rem;
        font-family: "mulish-bold";
        margin-bottom: 0;
      }
      .subtitle {
        text-align: center;
        color: #4caac6;
        font-size: 1rem;
        font-family: "mulish-regular";
        margin-bottom: 6px;
        line-height : 1.2rem;
      }
    }
  }


  .form_tasacion_cnt {
    width: 100%;
    position: relative;

    .form_tasador {
      background-color: white;
      padding: 1.375rem;
      border-radius: 0.625rem;
      margin-bottom: 2rem;
      box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.7);
      .form-group {
        padding: 0;
        background-color: white;
        border-radius: 0.625rem;
        margin-bottom: 0.5rem;
        .label-form {
          font-size: 0.875rem;
          font-family: "mulish-regular";
          font-weight: 300;
          color: #000000;
        }
        .custom-select-xl {
          border: 0.8px solid var(--brand-cyan2);
        }
        .input-form-small {
          border: 0.8px solid var(--brand-cyan2);
        }

        .custom-select-b {
          display: inline-block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 1.75rem 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          vertical-align: middle;
          background: #fff url(../../../../../src/assets/icons/icono_vector.svg) right 0.75rem center/8px 10px no-repeat;	
          border: 1px solid #4caac6;
          border-radius: 0.25rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          
          &.custom-select-xl-b {
            height: 2rem;
            line-height: 1rem;
            color: #6C757D;
            &:disabled {
              opacity: 1;
            }
            &:focus-visible {
              outline: none;
            }
          }
        }

        .custom-b::before {
          background-color: #fff;
          border: #ADB5BD solid 1px;
          border-radius: 3rem !important;
          height: 0.85rem;
          left: -2.25rem !important;
          top: 0.28rem;
          width: 1.8rem !important;
        }
       
        .custom-b::after {
          height: 0.65rem !important;
          width: 0.65rem !important;
          background: #ADB5BD;
        }

        .custom-control-input:checked ~ .custom-b::after {
          background: white;
        }

        .custom-control-input:checked ~ .custom-b::before {
          background-color: #4caac6;
        }

      }
      .pre-cal{
        background: #4caac6;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        .anio{
          font-family: "brandon-regular";
          font-size: 14px;
          color: white;
          padding-left: 25px;
          margin-bottom: 0;
          padding-top: 18px;
        }
        .fecha{
          font-family: "brandon-regular";
            font-size: 36px;
          color: white;
          padding-left: 25px;
        }
      }

      .container-horas-custom{
        background: #fff;
        border-radius: 15px;
        height: 150px;
        padding: 0px 4px;
       
        .hora-pm {
          margin-top: 15px;
        }
  
        .titulo-hora {
          color: #36383c;
          font-family: "brandon-bold";
          font-size: 18px;
          margin-bottom: 10px;
          padding-left: 20px;
        }
        .container-hora-item {
            padding: 0px 5px;
            margin-left: auto;
            margin-right: auto;
  
            & > .col-4 {
              padding: 5px;
            }
          }
  
        .hora-item {
            border: 1px solid #d9dde9;
            background: #5eb3f4;
            border-color: #5eb3f4;
            border-radius: 15px;
            font-family: "mulish-regular";
            font-size: 16px;
            margin: 0;
            text-align: center;
            padding: 2px 3px;
            height: 30px;
            width: 65px;
            margin-right: 8px;
            color: #fff;

          &:hover {
              cursor: pointer;
          }
        }

        .hora-item-seleccion {
          background: #4caac6;
          border-color: #4caac6;
          
        }
      }
    }
  }
  .btn {
    width: 100%;
    &:first-child {
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      width: 100%;
      height: 36px;
      border: 1px solid #4caac6;
      font-size: 1rem;
      color: #4caac6;
      padding: 0;
      font-family: "mulish-bold";
    }
    &:last-child {
      margin-bottom: 0;
      width: 100%;
      height: 36px;
      background: #4caac6;
      border: 1px solid #4caac6;
      font-size: 1rem;
      color: white;
      padding: 0;
      font-family: "mulish-bold";
    }
  }

}

@media (min-width: 800px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 80%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
        .title {
          text-align: left;
          margin-bottom: 0;
          font-size: 40px;
        }
        .subtitle {
          text-align: left;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
      .info{
        display:flow-root;
        width: 95%;
        padding: 1.625rem;
        background-color: var(--brand-blue);
        margin-left: 2rem;
        border-radius: 0.625rem;
        .tittle {
          color: #fff;
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 0;
          //margin-top: 1rem;
        }
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mavenpro-regular", sans-serif;
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          .info-logo {
            padding:1rem;
          }
        }
      }
    }
    .form_tasacion_inf{
      margin-top: 3rem;
      display: flow-root;
      width: 95%;
      margin-left: 2rem;
    }
    .derecha{
      

      .form_tasacion_cnt{
        .form_tasador {
          .titulo-hora {
            margin-left: 5px;

          }
          .container-hora-item {
            margin-left: 0px;
          }
        }
      }
    }

  }

}