.form-solicitud {
    .invalid {
        color: #fe6666;
        font-family: mavenpro-regular,sans-serif;
        font-size: 12px;
    }
    .captcha {
        font-size: 18px;
        margin-top: 5px;
    }
    label {
        span {
            color: #fe6666;
            font-weight: bold;
        }
    }
}
.exito-solicitud {
    .row {
        padding: 1rem .8rem;
    }
    .title {
        text-align: center;
    }
    .subTitle {
        text-align: center;
        display: block;
        font-family: "mavenpro-bold", sans-serif;
    }
    .detail {
        font-size: .9rem;
        margin: 0;
    }
}