<div *ngIf="vistaDisplay == vista.formulario" class="col-12 form-solicitud">
    <form
    [formGroup]="solicitudForm"
    (ngSubmit)="realizaSolicitud()">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                <label for="rut" class="form-label">Rut <span>*</span></label>
                <input type="text" class="form-control" id="rut" maxlength="10" formControlName="rut">
                <div class="invalid" *ngIf="validator('rut', 'required')">
                    Campo obligatorio
                </div>
                <div class="invalid" *ngIf="validator('rut', 'invalidRut')">
                    Rut no válido
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="nombre" class="form-label">Nombre <span>*</span></label>
                <input type="text" class="form-control" id="nombre" maxlength="100" formControlName="nombre">
                <div class="invalid" *ngIf="validator('nombre', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="apepat" class="form-label">Apellido Paterno <span>*</span></label>
                <input type="text" class="form-control" id="apepat" maxlength="100" formControlName="apepat">
                <div class="invalid" *ngIf="validator('apepat', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="apemat" class="form-label">Apellido Materno <span>*</span></label>
                <input type="text" class="form-control" id="apemat" maxlength="100" formControlName="apemat">
                <div class="invalid" *ngIf="validator('apemat', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="direccion" class="form-label">Direccion <span>*</span></label>
                <input type="text" class="form-control" id="direccion" maxlength="30" formControlName="direccion">
                <div class="invalid" *ngIf="validator('direccion', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="numero" class="form-label">Número <span>*</span></label>
                <input type="text" class="form-control" id="numero" maxlength="10" formControlName="numero">
                <div class="invalid" *ngIf="validator('numero', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="email" class="form-label">Email <span>*</span></label>
                <input type="text" class="form-control" id="email" maxlength="100" formControlName="email">
                <div class="invalid" *ngIf="validator('email', 'required')">
                    Campo obligatorio
                </div>
                <div class="invalid" 
                    *ngIf="validator('email', 'email')
                    || validator('email', 'pattern')
                    || validator('email', 'minlength')">
                    Correo no válido
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="telefono" class="form-label">Teléfono <span>*</span></label>
                <input type="text" class="form-control" id="telefono" [textMask]="{mask: phonemask}" maxlength="12" formControlName="telefono">
                <div class="invalid" *ngIf="validator('telefono', 'required')">
                    Campo obligatorio
                </div>
                <div class="invalid" 
                    *ngIf="validator('telefono', 'pattern')
                    || validator('telefono', 'minlength')">
                    Teléfono no válido
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="nacionalidad" class="form-label">Nacionalidad <span>*</span></label>
                <select id="nacionalidad" formControlName="nacionalidad" class="form-control m-auto">
                    <option selected disabled="disabled" value="">Selecciona</option>
                    <option 
                        *ngFor="let nac of tipoNacionalidad" 
                        [value]="nac.id"
                    >{{ nac.value }}</option>
                </select>
                <div class="invalid" *ngIf="validator('nacionalidad', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="tipoPersona" class="form-label">Tipo Persona <span>*</span></label>
                <select id="tipoPersona" formControlName="tipoPersona" class="form-control m-auto">
                    <option selected disabled="disabled" value="">Selecciona</option>
                    <option 
                        *ngFor="let per of tipoPersona" 
                        [value]="per.id"
                    >{{ per.value }}</option>
                </select>
                <div class="invalid" *ngIf="validator('tipoPersona', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="tipoContrato" class="form-label">Tipo Contrato <span>*</span></label>
                <select id="tipoContrato" formControlName="tipoContrato" class="form-control m-auto">
                    <option selected disabled="disabled" value="">Selecciona</option>
                    <option 
                        *ngFor="let con of tipoContrato" 
                        [value]="con.id"
                    >{{ con.value }}</option>
                </select>
                <div class="invalid" *ngIf="validator('tipoContrato', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="tipoRenta" class="form-label">Tipo Renta <span>*</span></label>
                <select id="tipoRenta" formControlName="tipoRenta" class="form-control m-auto">
                    <option selected disabled="disabled" value="">Selecciona</option>
                    <option 
                        *ngFor="let ren of tipoRenta" 
                        [value]="ren.id"
                    >{{ ren.value }}</option>
                </select>
                <div class="invalid" *ngIf="validator('tipoRenta', 'required')">
                    Campo obligatorio
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="antiguedad" class="form-label">Antigüedad (meses) <span>*</span></label>
                <input type="text" class="form-control" id="antiguedad" maxlength="3" formControlName="antiguedad">
                <div class="invalid" *ngIf="validator('antiguedad', 'required')">
                    Campo obligatorio
                </div>
                <div class="invalid" 
                *ngIf="
                    validator('antiguedad', 'pattern')
                    || validator('antiguedad', 'maxlength')">
                Campo no válido
            </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="renta" class="form-label">Renta <span>*</span></label>
                <input type="text" class="form-control" id="renta" [textMask]="{mask: numbermask}" maxlength="11" formControlName="renta">
                <div class="invalid" *ngIf="validator('renta', 'required')">
                    Campo obligatorio
                </div>
                <div class="invalid" 
                    *ngIf="
                        validator('renta', 'minlength')
                        || validator('renta', 'maxlength')
                        || validator('renta', 'invalidNumberMask')">
                    Campo no válido
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
                <div *ngIf="errorCaptcha" class="invalid captcha">Captcha error, intenta nuevamente</div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="vistaDisplay == vista.exito" class="col-12 scroll-view exito-solicitud">
    <div class="row">
        <div class="col-12">
            <h4 class="title">Felicidades</h4>
        </div>
        <div class="col-12">
            <span class="subTitle">Solicitud realizada con éxito</span>
        </div>
        <div class="col-12 text-center mt-2">
            <p class="detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at suscipit dolor. Maecenas ac accumsan nisi.</p>
        </div>
        <!-- <div class="col-12 text-center mt-2">
            <button class="btn btn-primary">Volver</button>
        </div> -->
    </div>
</div>