<section class="container mb-3">
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-xl-5 text-center">
                    <p class="conocer">¿Quieres conocerlo?</p>
                </div>
                <div class="col-12 col-xl-7 text-center">
                    <button 
                    class="btn btn-primary brand-single-vehicle btn-agendar-visita"
                    (click)="agendaHubspot()"
                    >
                        AGENDAR VISITA
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
