.container-tasador {
  background-color: transparent;
  padding: 20px 0 40px 0;

  .title-tasador {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 40px;
    letter-spacing: 1.2;
    line-height: 40px;
    text-align: center;
  }

  .subtitle-tasador {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 1.2;
    text-align: center;
  }

  .subtitle-tasador-b {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 20px;
    letter-spacing: -0.25px;
    line-height: 1.2;
    text-align: center;
  }

  .campos-obligatorios {
    padding: 0 6.5rem;
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
    letter-spacing: -0.14px;
    line-height: 25px;
    margin: 0;
  }

  .label-form {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 16px;

    span {
      color: #fe6666;
    }
    .opcional {
      margin-left: 0.5rem;
      color: #56595c;
      font-size: 0.875rem;
      font-weight: 100;
    }
  }

  .input-form {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 16px;
    padding: 25px 20px;
  }

  .input-form-small {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
  }

  .btn.btn-primary[disabled]:hover,
  .btn.btn-secondary[disabled]:hover {
    cursor: not-allowed;
  }

  .container-patente {
    box-sizing: border-box;
    border: 1px solid #d9dde9;
    border-radius: 10px;
    margin: 0;
    padding: 20px 6.5rem;

    .container-patente-detail {
      float: right;
      margin-right: 10px;
      width: 100%;
    }
    .btn.btn-secondary {
      height: 52px;
      margin-top: 28px;
      margin-left: 10px;
      width: 100%;
    }
  }

  .form-tasador {
    .form-row {
      padding: 0 6.5rem;
      & > div:nth-child(odd) {
        padding-right: 15px;
      }

      & > div:nth-child(even) {
        padding-left: 15px;
      }
      &.form-row--no_pad {
        padding: 0 1.5rem;
      }
    }
  }

  .last_form_group {
    margin-bottom: 0;
  }

  .button-container {
    .btn-secondary {
      margin-right: 15px;
    }

    .btn-primary {
      margin-left: 15px;
    }
  }

  #patente {
    text-transform: uppercase;
  }

  .term-container {
    padding: 1.25rem 6.5rem;

    .terms-text {
      width: 60%;
      padding-left: 25px;
      line-height: 20px;
    }
    .terms-link {
      color: #36383c;
      text-decoration: underline;
      transition: 0.5s ease all;
      &:hover {
        color: #4caac6;
      }
    }
  }

  .invalid-feedback {
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
  }

  .flujo-agenda-link {
    cursor: pointer;
    font-family: "mavenpro-bold", sans-serif;
  }

  .alert_whatsapp {
    color: #bf8f05;
    text-decoration: none;
    font-family: "mavenpro-bold", sans-serif;
  }

  .warning-tyc {
    border-color: #dc3545;
  }

  .warning-tyc-text {
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
  }
}

.bg-venta {
  background: #f2f8f8;
  border-radius: 9px;
  padding: 30px 0 60px;
}

.alert_cnt {
  width: 100%;
  padding: 0 6.5rem;
}

.alert {
  margin-bottom: 40px;
}

.container-alert {
  align-items: center;
  display: flex;
  .icon-container-alert {
    display: flex;
    img {
      height: 25px;
      width: 25px;
      max-height: 150px;
    }
  }
  .texto-alert {
    line-height: 16px;
    margin: 0px 0 0 15px;
    text-align: justify;
  }
  .texto-alert-whatsapp {
    font-size: 1.25rem;
    line-height: 24px;
    margin: 0px 0 0 15px;
  }
}

@media (max-width: 1199px) {
  .container-tasador {
    .container-patente {
      padding: 1.5rem 1.5rem;
      .container-patente-detail {
        float: none;
        width: auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .container-tasador {
    .campos-obligatorios {
      padding: 0 1.5rem;
    }
    .term-container {
      padding: 0 1.5rem;
      margin-top: 10px;
      margin-bottom: 1.5rem;
      .terms-text {
        width: 100%;
      }
    }
    .container-patente {
      padding: 1.5rem 1.5rem;
      .container-patente-detail {
        width: 100%;
      }
      .btn.btn-secondary {
        height: 52px;
        margin: 10px 0;
        width: 100%;
      }
    }

    .form-tasador {
      .form-row {
        padding: 0 1.5rem;
        & > div:nth-child(odd) {
          padding-right: 5px;
        }

        & > div:nth-child(even) {
          padding-left: 5px;
        }
      }
    }

    .alert_cnt {
      padding: 0 1.5rem;
    }
    .button-container {
      flex-direction: column-reverse;
      padding: 0 5px;
      .btn-secondary {
        margin: 20px 0px;
        width: 100%;
      }

      .btn-primary {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 740px) {
  .container-tasador {
    .title-tasador {
      font-size: 30px;
      line-height: 30px;
    }
    .subtitle-tasador {
      font-family: "mavenpro-regular", sans-serif;
      font-size: 16px;
      line-height: 1.2;
    }
    .subtitle-tasador-b {
      font-family: "mavenpro-regular", sans-serif;
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

@media (max-width: 400px) {
  .container-tasador {
    .title-tasador {
      font-size: 30px;
      line-height: 30px;
    }
    .subtitle-tasador {
      font-family: "mavenpro-regular", sans-serif;
      font-size: 14px;
      line-height: 1.2;
    }
    .subtitle-tasador-b {
      font-family: "mavenpro-regular", sans-serif;
      font-size: 13px;
      line-height: 1.2;
    }
  }
}

@media (max-width: 499px) {
  .container-tasador {
    .title-tasador {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
