<section class="container-tasador">
  
  <h1 *ngIf="esVenta" class="title-tasador mt-4">
    Car1 te compra el auto ¡As&iacute; de simple!
  </h1>
  
  <h2 *ngIf="esVenta" class="subtitle-tasador mt-2">
    <strong> Cotiza, recibe tu dinero y transfiere tu auto, todo online.</strong>
  </h2>
  <h3 *ngIf="esVenta" class="subtitle-tasador-b mb-2">
    <strong>Si tienes prenda, no te preocupes, te lo compramos igual!</strong>
  </h3>

  <section
    class="container"
    [ngClass]="{
      'bg-venta': esVenta
    }"
  >
    <h1 class="title-tasador">
      <span *ngIf="!esVenta"> ¿Quieres dejar tu auto en parte de pago?</span>
    </h1>

    <h2 class="subtitle-tasador">
      <span *ngIf="!esVenta"
        >Tu viejo amigo puede ayudarte a encontrar uno nuevo. Puedes saber el
        valor de tu auto completando los siguientes datos.</span
      >
    </h2>

    <div class="row justify-content-md-center" [ngClass]="{ 'px-3': esVenta }">
      <div class="col-lg-10">
        <form
          class="mt-1 mb-4"
          [formGroup]="patenteForm"
          (ngSubmit)="buscaPatente()"
        >
          <div class="form-row container-patente">
            <div class="col-lg-6 form-group">
              <div class="container-patente-detail">
                <label for="patente" class="label-form"
                  >Ingresar patente<span class="opcional" *ngIf="esVenta"
                    >(Opcional)</span
                  ></label
                >
                <input
                  type="text"
                  class="form-control input-form"
                  [ngClass]="{
                    'is-invalid':
                      ((!!patenteForm.get('patente')?.errors?.pattern ||
                        !!patenteForm.get('patente')?.errors?.patenteAntigua) &&
                        patenteForm.get('patente')?.touched) ||
                      (!!patenteForm.get('patente')?.errors?.required &&
                        isSubmitted) ||
                      patenteSinDatos
                  }"
                  id="patente"
                  placeholder="Ej: HPDR45"
                  formControlName="patente"
                  maxLength="6"
                  (input)="limpiaMensajePatente()"
                />
                <div>
                  <label for="patente" class="label-form">
                    <span class="opcional">*No recibimos autos con p&eacute;rdida total.</span>
                  </label>
                </div>

                <div
                  *ngIf="
                    !patenteSinDatos &&
                    !patenteForm.get('patente')?.errors?.patenteAntigua
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce una patente v&aacute;lida
                </div>
                <div *ngIf="patenteSinDatos" class="invalid-feedback">
                  No se encontr&oacute; informaci&oacute;n para la patente, ingresa el a&ntilde;o, marca, modelo, versi&oacute;n y kilometraje para conocer tu oferta
                </div>
                <div
                  *ngIf="
                    !patenteSinDatos &&
                    !!patenteForm.get('patente')?.errors?.pattern &&
                    !!patenteForm.get('patente')?.errors?.patenteAntigua
                  "
                  class="invalid-feedback"
                >
                  Upssss, no recibimos veh&iacute;culos de estos a&ntilde;os
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <button
                type="submit"
                class="btn btn-secondary"
                [ngClass]="{
                  'btn-buscarcomprador': !esVenta,
                  'btn-buscar': esVenta
                }"
                [disabled]="disableBuscar"
              >
                BUSCAR
              </button>
            </div>
          </div>
        </form>
        <form
          [formGroup]="tasadorForm"
          (ngSubmit)="realizaTasacion()"
          class="form-tasador"
        >
          <div class="form-row">
            <div class="col-lg-6 col-md-12 form-group">
              <label for="anio" class="label-form"
                >A&ntilde;o<span *ngIf="esVenta">*</span></label
              >
              <select
                class="custom-select custom-select-xl"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('anio')?.errors?.required &&
                    isSubmittedTasacion
                }"
                formControlName="anio"
                (change)="onChangeAnio()"
              >
                <option selected="true" disabled="disabled" value="">
                  Seleccione a&ntilde;o
                </option>
                <option *ngFor="let anio of anios" [value]="anio.id">
                  {{ anio.nombre }}
                </option>
              </select>
              <div class="invalid-feedback">
                Por favor, selecciona un a&ntilde;o
              </div>
            </div>
            <div class="col-lg-6 form-group">
              <label for="marca" class="label-form"
                >Marca<span *ngIf="esVenta">*</span></label
              >
              <select
                class="custom-select custom-select-xl"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('marca')?.errors?.required &&
                    isSubmittedTasacion
                }"
                formControlName="marca"
                (change)="onChangeMarca()"
              >
                <option selected="true" disabled="disabled" value="">
                  Seleccione marca
                </option>
                <option *ngFor="let marca of marcas" [value]="marca.id">
                  {{ marca.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-6 form-group">
              <label for="modelo" class="label-form"
                >Modelo<span *ngIf="esVenta">*</span></label
              >
              <select
                class="custom-select custom-select-xl"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('modelo')?.errors?.required &&
                    isSubmittedTasacion
                }"
                formControlName="modelo"
                (change)="onChangeModelo()"
              >
                <option selected="true" disabled="disabled" value="">
                  Seleccione modelo
                </option>
                <option *ngFor="let modelo of modelos" [value]="modelo.id">
                  {{ modelo.nombre }}
                </option>
              </select>
            </div>

            <div class="col-lg-6 form-group">
              <label for="version" class="label-form"
                >Versi&oacute;n<span>*</span></label
              >
              <select
                class="custom-select custom-select-xl"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('version')?.errors?.required &&
                    isSubmittedTasacion
                }"
                formControlName="version"
                (change)="onChangeVersion()"
              >
                <option selected="true" disabled="disabled" value="">
                  Seleccione versi&oacute;n
                </option>


                <ng-container *ngIf="esVenta">
                  <option *ngFor="let version of versiones" [value]="version.id" 
                    [selected]="version.id == 0 && versiones.length == 1"
                    >
                    {{ version.nombre }}
                  </option>
                </ng-container>
                <ng-container *ngIf="!esVenta">
                  <ng-container *ngFor="let version of versiones">
                    <option *ngIf="version.id !== 0" [value]="version.id">
                      {{ version.nombre }}
                    </option>
                  </ng-container>
                </ng-container>
                
              </select>
              <div class="invalid-feedback">
                Por favor, selecciona una versi&oacute;n
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-6 mb-sm-3 col-md-12 form-group">
              <label for="kilometraje" class="label-form"
                >Kilometraje<span>*</span></label
              >
              <select
                class="custom-select custom-select-xl"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('kilometraje')?.errors?.required &&
                    isSubmittedTasacion
                }"
                formControlName="kilometraje"
                (change)="onChangeKilometraje()"
              >
                <option selected="true" disabled="disabled" value="">
                  Seleccione km
                </option>
                <option
                  *ngFor="let item of valoresSelectKilometraje"
                  [value]="item.id"
                >
                  {{ item.valor }}
                </option>
              </select>
              <div class="invalid-feedback">
                Por favor, selecciona el kilometraje
              </div>
            </div>

            <div
              *ngIf="esVenta"
              class="col-lg-6 mb-sm-3 col-md-12 form-group"
            >
              <label for="email" class="label-form"
                >Email<span>*</span></label
              >
              <input
                type="email"
                class="form-control input-form-small"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('email')?.errors &&
                    tasadorForm.get('email')?.touched
                }"
                id="email"
                placeholder="Ej: correo@ejemplo.com"
                formControlName="email"
                maxLength="100"
                [required]="esVenta"
              />
              <div class="invalid-feedback">
                Por favor, introduce un email válido
              </div>
            </div>
          </div>

          <div class="form-row">
            <div 
              *ngIf="esVenta" 
              class="col-lg-6 mb-sm-3 form-group last_form_group">
              <label for="telefono" class="label-form"
                >Teléfono<span>*</span></label
              >
              <input
                type="text"
                class="form-control input-form-small"
                [ngClass]="{
                  'is-invalid':
                    !!tasadorForm.get('telefono')?.errors &&
                    tasadorForm.get('telefono')?.touched
                }"
                id="telefono"
                placeholder="Ej: +56993456789"
                maxLength="12"
                formControlName="telefono"
              />
              <div
                *ngIf="
                  !!tasadorForm.get('telefono')?.errors?.required &&
                  tasadorForm.get('telefono')?.touched
                "
                class="invalid-feedback"
              >
                Por favor, introduce tu teléfono
              </div>
              <div
                *ngIf="
                  (!!tasadorForm.get('telefono')?.errors?.pattern ||
                    !!tasadorForm.get('telefono')?.errors?.minlength) &&
                    tasadorForm.get('telefono')?.touched
                "
                class="invalid-feedback"
              >
                Por favor, introduce un teléfono válido
              </div>
            </div>


          </div>

          <p class="campos-obligatorios">(*) Datos obligatorios</p>
          <div class="form-group last_form_group" *ngIf="esVenta">
            <div class="term-container">
              <label class="label-container terms-text"
                >Estoy de acuerdo con los
                <a
                  class="terms-link"
                  [href]="urlPdfTerminosCondiciones"
                  target="_blank"
                  >términos y condiciones</a
                >.
                <input
                  type="checkbox"
                  formControlName="terminosCondiciones"
                  (click)="aceptarTerminosCondiciones()"
                />
                <span
                  class="checkmark"
                  [ngClass]="{
                    'warning-tyc':
                      esVenta && noCheckTerminosCondiciones && !versionesValidas
                  }"
                ></span>
              </label>
              <div
                *ngIf="
                  esVenta && noCheckTerminosCondiciones && !versionesValidas
                "
                class="warning-tyc-text"
              >
                Acepta los t&eacute;rminos y condiciones para continuar
              </div>
            </div>
          </div>
          <section class="alert_cnt">
            <div
              *ngIf="!anioValido || !aniosValidos || !versionesValidas"
              class="alert alert-warning"
              role="alert"
            >
              <div class="container-alert">
                <div class="icon-container-alert">
                  <img
                    src="../../../../assets/icons/icono_alerta.svg"
                    alt="icono-alerta"
                  />
                </div>
                <p *ngIf="!anioValido" class="texto-alert">
                  Por el momento no estamos recibiendo autos de ese a&ntilde;o.
                </p>
                <p *ngIf="!aniosValidos" class="texto-alert">
                  Por el momento no estamos recibiendo ese modelo de
                  veh&iacute;culos.
                </p>
                <p
                  *ngIf="!versionesValidas && anioValido && aniosValidos"
                  class="texto-alert"
                >
                  
                  <span *ngIf="!esVenta"> 
                    UPS, no hemos encontrado tu veh&iacute;culo.
                  </span>
                  <span *ngIf="esVenta">
                    Para entregarte un valor por tu auto necesitamos saber la versi&oacute;n. 
                    Esta informaci&oacute;n la puedes obtener en el certificado de inscripci&oacute;n de tu veh&iacute;culo (padr&oacute;n) o 
                    puedes agendar una visita de uno de nuestros t&eacute;cnicos de inspección
                    <span
                      class="flujo-agenda-link"
                      (click)="agendarInspeccion()"
                      ><u>aqu&iacute;</u> 
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </section>
          <div
            class="
              form-row form-row--no_pad
              justify-content-md-center
              button-container
              mt-4
            "
          >
            <button
              type="button"
              (click)="limpiarFormTasador()"
              class="btn btn-secondary"
              [ngClass]="{
                'btn-limpiarcomprador': !esVenta,
                'btn-limpiar': esVenta
              }"
            >
              LIMPIAR
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [ngClass]="{
                'btn-tasarcomprador': !esVenta,
                'btn-tasar': esVenta
              }"
              [disabled]="tasarDisabled()"
            >
              CONOCE TU OFERTA
            </button>
          </div>
          <div class="mt-2 text-center">
            <small>
              Este sitio está protegido por reCAPTCHA, se aplica la 
              <a target="_blank" href="https://policies.google.com/privacy">Política de privacidad</a> y los 
              <a target="_blank" href="https://policies.google.com/terms">Términos de servicio</a> de Google.
            </small>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
