.container-datos-personales {
  #patente {
    text-transform: uppercase;
  }

  .invalid-feedback {
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
  }
}


/*New UX*/
.form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  .info{
    display: none;
  }
  .header {
    width: 100%;
    padding: 1.625rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .img_cnt {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      .img {
        width: 50%;
        text-align: center;
      }
    }
  }
  .form_tasacion_inf {
    width: 100%;
    position: relative;
    background-color: #fff;
    .container_patente {
      padding: 1.375rem;
      background-color: var(--brand-blue);
      border-radius: 0.625rem;
      margin-bottom: 1rem;
      position: relative;
      top: 11.9rem;
      .title {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-family: "mavenpro-bold", sans-serif;
        margin-bottom: 0;
      }
      .precio {
        text-align: center;
        color: white;
        font-size: 3.4rem;
        font-family: "mavenpro-bold", sans-serif;
        margin-bottom: 0;
        line-height: initial;
      }
      .condiciones {
        text-align: center;
        color: white;
        font-size: 0.725rem;
        font-family: "mavenpro-regular", sans-serif;
        margin-bottom: 11px;
      }
      .subtitle {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-family: "mavenpro-regular", sans-serif;
        margin-bottom: 6px;
      }
      .subtitle_b {
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: "mavenpro-bold", sans-serif;
        margin-bottom: 6px;
        text-decoration: underline 1px;
      }
    }
  }
  .form_tasacion_txt {
    width: 100%;
    position: relative;
    .row{
      margin-top: 0;
      margin-bottom: 0;
      justify-content: center;
      .circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        line-height: 32px;
        text-align: center;
        background: var(--brand-blue)
      }
      .circle2 {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        line-height: 32px;
        text-align: center;
        background: var(--brand-blue)
      }
      .rectangle {
        width: 4rem;
        height: 0.188rem;
        text-align: center;
        background: var(--brand-blue);
        margin-block:auto;
      }
      .rectangle2 {
        width: 4rem;
        height: 0.188rem;
        text-align: center;
        background: var(--brand-blue);
        margin-block:auto;
      }
      .rectangle_b {
        width: 6rem;
        height: 0.188rem;
        text-align: center;
        background: #fff;
        margin-block:auto;
      }
      .texto {
        width: 4rem;
        height: 0.188rem;
        font-size: 0.75rem;
        color: var(--brand-blue);
        line-height: 32px;
        text-align: center;
      }
      .texto2 {
        width: 4rem;
        height: 0.188rem;
        font-size: 0.75rem;
        color: var(--brand-blue);
        line-height: 32px;
        text-align: center;
        margin-block:auto;
      }
    }

    .container_pasos {
      padding: 1.375rem;
      border-radius: 0.625rem;
      .title {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1.5rem;
        font-family: "mavenpro-bold", sans-serif;
        margin-bottom: 0;
      }
      .subtitle {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1rem;
        font-family: "mavenpro-regular", sans-serif;
        margin-bottom: 6px;
        line-height : 1.2rem;
        span {
          font-size: 1.2rem;
          font-family: "mavenpro-bold", sans-serif;
        }
      }
    }
  }


  .form_tasacion_cnt {
    width: 100%;
    position: relative;
    .container_patente {
      padding: 1.375rem;
      background-color: white;
      border-radius: 0.625rem;
      .label_form {
        font-size: 0.875rem;
        font-family: "mavenpro-regular", sans-serif;
        font-weight: 300;
        color: #000000;
      }
      .input_form {
        border: 0.8px solid var(--brand-cyan2);
      }
      .btn-secondary {
        width: 100%;
        height: 36px;
        background: var(--brand-blue);
        border: 1px solid var(--brand-blue);
        font-size: 1rem;
        color: white;
        padding: 0;
        font-family: "mavenpro-bold", sans-serif;
      }
    }
    .form_tasador {
      background-color: white;
      padding: 1.375rem;
      border-radius: 0.625rem;
      margin-bottom: 2rem;
      box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.7);
      .form-group {
        padding: 0;
        background-color: white;
        border-radius: 0.625rem;
        margin-bottom: 0.5rem;
        .label-form {
          font-size: 0.875rem;
          font-family: "mavenpro-regular", sans-serif;
          font-weight: 300;
          color: #000000;
        }
        .text-blue {
          color:var(--brand-cyan2);
        }
        
        .custom-select-xl {
          border: 0.8px solid var(--brand-cyan2);
        }
        .input-form-small {
          border: 0.8px solid var(--brand-cyan2);
          height: 2rem;
        }
      }
    }
  }
  .btn {
    width: 100%;
    &:first-child {
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      width: 100%;
      height: 36px;
      border: 1px solid var(--brand-blue);
      font-size: 1rem;
      color: var(--brand-blue);
      padding: 0;
      font-family: "mavenpro-bold", sans-serif;
    }
    &:last-child {
      margin-bottom: 0;
      width: 100%;
      height: 36px;
      background: var(--brand-blue);
      border: 1px solid var(--brand-blue);
      font-size: 1rem;
      color: white;
      padding: 0;
      font-family: "mavenpro-bold", sans-serif;
    }
  }

  .form_tasacion_custom {
    .custom-circle{
      background-color: blue;
      border-width: 0;
      border-color: blue;
    }
  }

}
@media (max-width: 575px) {
  .container_patente {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 80%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
      }
      .info{
        display:flow-root;
        width: 95%;
        padding: 1.625rem;
        background-color: var(--brand-blue);
        margin-left: 2rem;
        border-radius: 0.625rem;
        margin-top: 13rem;
        .tittle {
          color: #fff;
          font-size: 2rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 0;
          //margin-top: 1rem;
        }
      
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mavenpro-regular", sans-serif;
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          .info-logo {
            padding:1rem;
            padding-bottom: 0rem;
            padding-top: 0.8rem;
            
          }
        }
      }
    }
   
    .form_tasacion_inf {
      margin-top: 3rem;
      display: flow-root;
      width: 95%;
      margin-left: 2rem;
      
      }
    }
  
}
@media screen and (max-width: 992px) {
  .form_tasacion{
    display: flex;
       
    .form_tasacion_inf {
      
      .container_patente {
        padding: 1.375rem;
        background-color: var(--brand-blue);
        border-radius: 0.625rem;
        margin-bottom: 1rem;
        position: relative;
        top: -1rem;
        .title {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 0;
        }
        .precio {
          text-align: center;
          color: white;
          font-size: 3rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 0;
          line-height: initial;
        }
        .condiciones {
          text-align: center;
          color: white;
          font-size: 0.625rem;
          font-family: "mavenpro-regular", sans-serif;
          margin-bottom: 11px;
        }
        .subtitle {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-regular", sans-serif;
          margin-bottom: 6px;
        }
        .subtitle_b {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 6px;
          text-decoration: underline 1px;
        }
      }
    }
  }
}
.text-edit{
  text-transform: uppercase;
}
// .tittle-new{
//   text-align: center;
//   color: white;
//   font-size: 1.5rem;
//   font-family: "mulish-regular";
//   margin-bottom: 0;
// }
.tittle-new{
  color: #fff;
  font-size: 1.2rem;
  font-family: "mavenpro-bold", sans-serif;
  margin-bottom: 0;
}