<!--Datos Nuevos UX-->
<section class="form_tasacion container-tasador pb-4">
  <section class="izquierda pt-4">
    <section class="form_tasacion_inf d-none d-lg-block mb-4">
      <div class="form-col container_patente">
        <p class="title">¡Tenemos una oferta para ti!</p>
        <p class="precio">
          ${{ datosTasacion.valor | number: "":"es" }}
        </p>
        <p class="condiciones">
          El valor entregado puede variar seg&uacute;n el estado del
          veh&iacute;culo
        </p>
        <p class="subtitle">
          {{ datosTasacion.marca }} {{ datosTasacion.modelo }}
          {{ datosTasacion.version }} {{ datosTasacion.ano }}
        </p>
        <!-- <p class="subtitle_b">
          ¿Como llegamos a tu valor?
        </p> -->
      </div>
    </section>
    <article class="info">
      <div>
        <p class="tittle">Próximos pasos</p>
      </div>
      <div class="info-texto">
        
        <div class="info-logo">
          <p class="tittle-new">
            1. Inspección a través de video llamada y/o presencial.
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div></div>
        <div class="info-logo">
          <p class="tittle-new">2. Validación de la oferta final.</p>
        </div>
      </div>
      <div class="info-texto">
        <div></div>
        <div class="info-logo">
          <p class="tittle-new">
            3. Firma del contrato de venta y transferencia del monto acordado.
          </p>
        </div>
      </div>
    </article>
  </section>

  <section class="derecha mt-5">
    <section class="form_tasacion_inf container d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <div class="form-col container_patente">
            <p class="title">¡Tenemos una oferta para ti!</p>
            <p class="precio">
              ${{ datosTasacion.valor | number: "":"es" }}
            </p>
            <p class="condiciones">
              El valor entregado puede variar seg&uacute;n el estado del
              veh&iacute;culo
            </p>
            <p class="subtitle">
              {{ datosTasacion.marca }} {{ datosTasacion.modelo }}
              {{ datosTasacion.version }} {{ datosTasacion.ano }}
            </p>
            <!-- <p class="subtitle_b">¿Como llegamos a tu valor?</p> -->
          </div>
        </div>
      </div>
    </section>
    <section class="form_tasacion_txt">
      <div class="row justify-content-md-center d-none d-sm-flex">
        <span class="circle">1</span>
        <span class="rectangle"></span>
        <span class="rectangle2"></span>
        <span class="circle2">2</span>
      </div>
      <div class="row d-none d-sm-flex">
        <span class="texto">Tus Datos</span>
        <span class="rectangle_b"></span>
        <span class="texto2">Agenda</span>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <div class="form-col container_pasos">
            <p class="title d-none d-sm-block">Ingresa tus datos para agendar</p>
            <p class="subtitle d-none d-sm-block">
              Completa con tus datos para que podamos contactarte y hacer la
              inspecci&oacute;n por videollamada.
            </p>
            <p class="subtitle d-block d-sm-none">
              <span>¿Te gustó?</span><br>Completa tus datos para agendar una inspección.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="form_tasacion_cnt container">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <form class="form_tasador" autocomplete="off" [formGroup]="datosPersonalesForm">
            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="nombre" class="label-form"
                  >Nombre<span class="text-blue">*</span></label
                >
                <input
                  type="nombre"
                  class="form-control input-form-small"
                  [ngClass]="{
                    'is-invalid':
                      !!datosPersonalesForm.get('nombre')?.errors &&
                      datosPersonalesForm.get('nombre')?.touched
                  }"
                  id="nombre"
                  placeholder="Ej: Francisco"
                  maxLength="40"
                  formControlName="nombre"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    !!datosPersonalesForm.get('nombre')?.errors?.required &&
                    datosPersonalesForm.get('nombre')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce tu nombre
                </div>
                <div
                  *ngIf="
                    (!!datosPersonalesForm.get('nombre')?.errors?.pattern ||
                      !!datosPersonalesForm.get('nombre')?.errors?.minlength) &&
                    datosPersonalesForm.get('nombre')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce un nombre válido
                </div>
              </div>
              <div class="col-lg-12 form-group">
                <label for="apellidos" class="label-form"
                  >Apellidos<span class="text-blue">*</span></label
                >
                <input
                  type="apellidos"
                  class="form-control input-form-small"
                  [ngClass]="{
                    'is-invalid':
                      !!datosPersonalesForm.get('apellidos')?.errors &&
                      datosPersonalesForm.get('apellidos')?.touched
                  }"
                  id="apellidos"
                  placeholder="Ej: Campos Tapia"
                  maxLength="40"
                  formControlName="apellidos"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    !!datosPersonalesForm.get('apellidos')?.errors?.required &&
                    datosPersonalesForm.get('apellidos')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce tus apellidos
                </div>
                <div
                  *ngIf="
                    (!!datosPersonalesForm.get('apellidos')?.errors?.pattern ||
                      !!datosPersonalesForm.get('apellidos')?.errors
                        ?.minlength) &&
                    datosPersonalesForm.get('apellidos')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce apellidos válidos
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="telefono" class="label-form"
                  >Confirmar tel&eacute;fono<span class="text-blue"
                    >*</span
                  ></label
                >
                <input
                  type="telefono"
                  class="form-control input-form-small"
                  [ngClass]="{
                    'is-invalid':
                      !!datosPersonalesForm.get('telefono')?.errors &&
                      datosPersonalesForm.get('telefono')?.touched
                  }"
                  id="telefono"
                  type="text"
                  [placeholder]="this.data[1].value"
                  [value]="this.phone"
                  [(ngModel)]="phone"
                  maxLength="12"
                  formControlName="telefono"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    !!datosPersonalesForm.get('telefono')?.errors?.required &&
                    datosPersonalesForm.get('telefono')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce tu teléfono
                </div>
                <div
                  *ngIf="
                    (!!datosPersonalesForm.get('telefono')?.errors?.pattern ||
                      !!datosPersonalesForm.get('telefono')?.errors
                        ?.minlength) &&
                    datosPersonalesForm.get('telefono')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, ingresa +569XXXXXXXX
                </div>
              </div>
              <div class="col-lg-12 form-group">
                <label for="email" class="label-form"
                  >Confirmar Correo Electr&oacute;nico<span class="text-blue"
                    >*</span
                  ></label
                >
                <input
                  type="email"
                  class="form-control input-form-small"
                  type="text"
                  [value]="this.email"
                  [placeholder]="this.data[0].value"
                  [(ngModel)]="email"
                  [ngClass]="{
                    'is-invalid':
                      !!datosPersonalesForm.get('email')?.errors &&
                      datosPersonalesForm.get('email')?.touched
                  }"
                  id="email"
                  maxLength="100"
                  formControlName="email"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    !!datosPersonalesForm.get('email')?.errors?.required &&
                    datosPersonalesForm.get('email')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce tu email
                </div>
                <div
                  *ngIf="
                    (!!datosPersonalesForm.get('email')?.errors?.pattern ||
                      !!datosPersonalesForm.get('email')?.errors?.minLength) &&
                    datosPersonalesForm.get('email')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce un email válido
                </div>
              </div>
              <div class="col-lg-12 form-group">
                <label for="patente" class="label-form"
                  >Patente</label
                >
                <input
                  type="text"
                  class="form-control input-form-small text-edit"
                  [ngClass]="{
                    'is-invalid':
                      ((!!datosPersonalesForm.get('patente')?.errors?.pattern ||
                        !!datosPersonalesForm.get('patente')?.errors
                          ?.required ||
                        !!datosPersonalesForm.get('patente')?.errors
                          ?.patenteAntigua) &&
                        datosPersonalesForm.get('patente')?.touched) ||
                      (!datosCorrectosPatente &&
                        datosPersonalesForm.get('patente')?.touched) ||
                      patenteSinDatos
                  }"
                  id="patente"
                  [placeholder]="this.patente"
                  [value]="this.patente"
                  [(ngModel)]="this.patente"
                  maxLength="6"
                  formControlName="patente"
                  [readonly]="this.disablePatente"
                  (input)="limpiaMensajePatente()"
                  autocomplete="off"
                />
                <div
                  *ngIf="
                    !!datosPersonalesForm.get('patente')?.errors?.required &&
                    datosPersonalesForm.get('patente')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce tu patente
                </div>
                <div
                  *ngIf="
                    !!datosPersonalesForm.get('patente')?.errors?.pattern &&
                    !datosPersonalesForm.get('patente')?.errors
                      ?.patenteAntigua &&
                    datosPersonalesForm.get('patente')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce una patente v&aacute;lida
                </div>
                <div *ngIf="!datosCorrectosPatente" class="invalid-feedback">
                  Esta patente ingresada no coincide con los datos del
                  veh&iacute;culo tasado
                </div>
                <div
                  *ngIf="
                    patenteSinDatos &&
                    !(
                      !!datosPersonalesForm.get('patente')?.errors &&
                      datosPersonalesForm.get('patente')?.touched
                    )
                  "
                  class="invalid-feedback"
                >
                  No se encontr&oacute; informaci&oacute;n para la patente
                </div>
                <div
                  *ngIf="
                    !patenteSinDatos &&
                    !!datosPersonalesForm.get('patente')?.errors?.pattern &&
                    !!datosPersonalesForm.get('patente')?.errors?.patenteAntigua
                  "
                  class="invalid-feedback"
                >
                  Upssss, no recibimos veh&iacute;culos de estos a&ntilde;os
                </div>
              </div>
            </div>
            <div class="form-group last_form_group">
              <button
                type="button"
                class="btn btn-secondary_nuevo d-none d-sm-inline-block"
                (click)="volverATasar()"
              >
                Volver a Cotizar
              </button>
              <button
                type="submit"
                class="btn btn-primary2"
                [disabled]="siguienteDisabled()"
                (click)="siguiente()"
              >
                Agendar Hora
              </button>
            </div>
            <div class="row">
              <div class="col-12 text-right d-block d-sm-none">
                <a (click)="volverATasar()" class="a-volver">&#8592; Volver</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</section>
