<section class="container-ficha">
  <app-cabecera-ficha-iframe
    [fichaVehiculo]="fichaVehiculo"
  ></app-cabecera-ficha-iframe>
  <app-spincar-ficha-iframe
    *ngIf="!isMobile"
    [fichaVehiculo]="fichaVehiculo"
  ></app-spincar-ficha-iframe>
  <app-carrusel-ficha-iframe
    *ngIf="isMobile"
    [fichaVehiculo]="fichaVehiculo"
  ></app-carrusel-ficha-iframe>
  <div *ngIf="isMobile" class="container mt-2">
    <div class="row">
      <div class="col-12">
        <app-precio-ficha-iframe
          [fichaVehiculo]="fichaVehiculo">
        </app-precio-ficha-iframe>
      </div>
    </div>
  </div>
  <app-descripcion-ficha-iframe   
  *ngIf="!isMobile"
    [fichaVehiculo]="fichaVehiculo"
  ></app-descripcion-ficha-iframe>
  <app-caracteristicas-ficha-iframe *ngIf="!isMobile"
    [fichaVehiculo]="fichaVehiculo"
  ></app-caracteristicas-ficha-iframe>
  <app-caracteristicas-ficha-mobile-iframe  *ngIf="isMobile"
    [fichaVehiculo]="fichaVehiculo"
  ></app-caracteristicas-ficha-mobile-iframe>
  <app-tabs-ficha-iframe   
  *ngIf="!isMobile"
    [fichaVehiculo]="fichaVehiculo"
  ></app-tabs-ficha-iframe>
  
  <!-- <app-financiamiento-iframe
    *ngIf="activaApp()"
    [fichaVehiculo]="fichaVehiculo"
  ></app-financiamiento-iframe> -->
  <app-contacto
    [tipoContacto]="'ficha'"
    [fichaVehiculo]="fichaVehiculo"
    [urlPdfTerminosCondiciones]="urlPdfTerminosCondiciones"
  >
  </app-contacto>
  <!-- <app-contacto-mobile
    *ngIf="isMobile"
    [tipoContacto]="'ficha'"
    [fichaVehiculo]="fichaVehiculo"
    [urlPdfTerminosCondiciones]="urlPdfTerminosCondiciones"
  >
  </app-contacto-mobile> -->
  <app-info-compra 
    *ngIf="!isMobile">
  </app-info-compra>
  <app-info-compra-mobile 
    *ngIf="isMobile">
  </app-info-compra-mobile>
  <app-button-mobile-ficha-iframe
  *ngIf="isMobile"
  [fichaVehiculo]="fichaVehiculo">
  </app-button-mobile-ficha-iframe>
</section>
