.container-error {
  font-family: "brandon-regular";
  padding-bottom: 50px;
  .icon-container {
    margin: 60px 0 20px;
    text-align: center;
  }
  .icon-container img{
    max-height: 150px;
  }
  .title-error {
    color: #57afc9;
    font-family: "brandon-bold";
    text-align: center;
  }
  .sub-title-error {
    color: #36383c;
    font-size: 22px;
    margin: 40px 0 50px;
    text-align: center;
  }

  .button-container {
    .btn-secondary {
      margin-right: 15px;
    }

    .btn-primary {
      margin-left: 15px;
    }
  }
}

@media (max-width: 991px) {
  .container-error {
    .title-error {
      font-size: 30px;
    }

    .sub-title-error {
      font-size: 20px;
    }

    .button-container {
      flex-direction: column-reverse;
      padding: 0 5px;
      .btn-secondary {
        margin: 20px 0px;
        width: 100%;
      }

      .btn-primary {
        margin: 0;
        width: 100%;
      }
    }
  }
}
