<div class="container container-error">
  <div class="row justify-content-md-center">
    <div class="col-lg-10">
      <div class="icon-container">
        <img src="../../../assets/icons/icono_error.svg" alt="error-icono" />
      </div>
      <h1 class="title-error">Servicio no disponible</h1>
      <h2 class="sub-title-error">
        Lo sentimos, en este momento el servicio no se encuentra disponible.
        <br />Por favor intente nuevamente.
      </h2>
      <div class="form-row justify-content-md-center button-container">
        <button type="button" class="btn btn-secondary" (click)="irHome()">
          IR AL HOME
        </button>
        <button type="submit" class="btn btn-primary" (click)="confirmar()">
          VOLVER A INTENTAR
        </button>
      </div>
    </div>
  </div>
</div>
