<app-form-tasador *ngIf="pasoTasacion === 'formulario'"
(pasoTasacion)="manejarPaso($event)"></app-form-tasador>
<app-datos-persona *ngIf="pasoTasacion === 'oferta'"
(pasoTasacion)="manejarPaso($event)"></app-datos-persona>
<app-agenda *ngIf="pasoTasacion === 'agenda'" (pasoTasacion)="manejarPaso($event)"></app-agenda>
<app-resumen *ngIf="pasoTasacion === 'resumen'" (pasoTasacion)="manejarPaso($event)"></app-resumen>

