<section class="containter-equipamiento">
  <div class="row container-items">
    <div
      class="col-md-6 container-item"
      *ngIf="fichaVehiculo.SeguridadInfantil"
    >
      <div class="item-equipamiento">
        <p><img alt="" src="/assets/images/check.svg" />Seguro Infantil</p>
      </div>
    </div>
    <div
      class="col-md-6 container-item"
      *ngIf="fichaVehiculo.tipo_de_radio?.Tipo"
    >
      <div class="item-equipamiento">
        <p>
          <img alt="" src="/assets/images/check.svg" />Radio
          {{ fichaVehiculo.tipo_de_radio?.Tipo }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.Bluetooth">
      <div class="item-equipamiento">
        <p><img alt="" src="/assets/images/check.svg" />Bluetooth</p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.airbags?.Tipo">
      <div class="item-equipamiento">
        <p>
          <img alt="" src="/assets/images/check.svg" />Airbags
          {{ fichaVehiculo.airbags?.Tipo }}
        </p>
      </div>
    </div>

    <div
      class="col-md-6 container-item"
      *ngIf="fichaVehiculo.sistema_de_aire?.Tipo"
    >
      <div class="item-equipamiento">
        <p>
          <img alt="" src="/assets/images/check.svg" />Sistema de Aire:
          {{ fichaVehiculo.sistema_de_aire?.Tipo }}
        </p>
      </div>
    </div>
  </div>
</section>
