<section class="container-resultado">
  <section class="container">
    <h2 class="subtitle-resultado">
      Tenemos una oferta inicial para ti. ¿Te gusta? ¡Acepta la oferta!
    </h2>
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <section class="container-valor-tasacion my-3">
          <h1 class="valor-tasacion">
            ${{ datosTasacion!.valor | number: "":"es" }}
          </h1>
          <p class="disclaimer-tasacion">
            *Valor sujeto a cambios según inspección realizada.
          </p>
        </section>
        <section class="py-2">
          <h1 class="titulo-modelo">
            {{ datosTasacion.marca }} {{ datosTasacion.modelo }}
            {{ datosTasacion.version }}
          </h1>
          <h2 class="subtitulo-modelo">
            <span class="mr-1">{{ datosTasacion.ano }}</span> |
            <span class="ml-1"
              >{{ datosTasacion.kilometraje | number: "":"es" }} KM</span
            >
          </h2>
        </section>
        <div class="row justify-content-md-center button-container">
          <button
            type="button"
            class="btn btn-secondary"
            [ngClass]="{
              'btn-volvercomprador': !esVenta,
              'btn-volveroferta': esVenta
            }"
            (click)="volverATasar()"
          >
            VOLVER A TASAR
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-aceptaroferta"
            (click)="aceptaOferta()"
          >
            ACEPTAR OFERTA
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
