.contenido-container {
  .contenido-uno {
    padding: 40px 0 60px;
    .container {
      .contenido-uno-title {
        color: var(--brand-marine);
        font-family: "mavenpro-bold", sans-serif;
        font-size: 40px;
        letter-spacing: -0.45px;
        line-height: 56px;
        text-align: center;
        margin: 0 0 50px 0;
      }

      .contenido-uno-central {
        margin-top: 60px;
        .contenido-uno-central-auto {
          margin-top: 50px;
          width: 100%;
        }

        .contenido-uno-central-info {
          padding-left: 25px;
        }
      }
    }
  }

  .contenido-dos {
    .contenido-dos-left {
      background-color: #f2f8f8;

      .contenido-dos-left-info {
        padding: 25% 50px 20% 25%;
        text-align: right;
      }
    }
    .contenido-dos-right {
      background-image: url("../../../../assets/images/personas_sobre_nosotros.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .contenido-info {
    color: var(--brand-blue);
    font-family: "mavenpro-regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 26px;
    b {
      color: var(--brand-marine);
      font-style: bold;
    }
  }

  .contenido-info-title {
    color: var(--brand-cyan2);
    font-family: "mavenpro-regular", sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .contenido-container {
    .contenido-uno {
      .container {
        .contenido-uno-central {
          .contenido-uno-central-info {
            padding-left: 0;
            text-align: center;
          }
        }
      }
    }

    .contenido-dos {
      .contenido-dos-left {
        .contenido-dos-left-info {
          text-align: center;
          padding: 50px 20%;
        }
      }
      .contenido-dos-right {
        height: 500px;
        background-position: top;
      }
    }
  }
}

@media (max-width: 768px) {
  .contenido-container {
    .contenido-dos {
      .contenido-dos-left {
        .contenido-dos-left-info {
          padding: 50px 10%;
        }
      }
    }
  }
}
