<section class="contenido-container">
  <section class="contenido-uno">
    <div class="container">
      <h3 class="contenido-uno-title">Somos CAR1</h3>
      <div class="row justify-content-md-center">
        <div class="col-lg-10 col-md-9">
          <p class="contenido-info text-center">
            A finales del 2020, un grupo de profesionales con una gran experiencia en la industria automotriz tuvo una
            idea, <strong>transformar la compra de un auto usado en una experiencia dinámica, fácil, entretenida y
              segura.
              Así nació Car 1.</strong>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="contenido-dos">
    <div class="row">
      <div class="col-lg-6 contenido-dos-left">
        <div class="contenido-dos-left-info">
          <p class="contenido-info">
            Nuestro foco son las personas y nuestra meta es transformar un proceso, muchas veces difícil y desconocido,
            en <strong>un momento simple y confiable</strong>, ya que comprendemos que para tomar la decisión de
            comprar un auto,
            la confianza es fundamental.

            <br /><br />Sí, <strong>queremos cambiar la forma de comprar autos en Chile</strong><br />
            y entregar la transparencia que
            las personas requieren, comprometiéndonos a mejorar cada día para que todos puedan encontrar el auto que
            realmente necesitan.

            <br /><br />Te invitamos a conocernos y vivir la experiencia Car1.

          </p>
        </div>
      </div>
      <div class="col-lg-6 contenido-dos-right"></div>
    </div>
  </section>
</section>
