p {
  margin: 0;
}
.container-cabecera-ficha {
  padding-top: 25px;
  .info_flotante {
    width: 100%;
    position: fixed;
    padding: 0.625rem 0 0.825rem 0;
    justify-content: space-between;
    background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease all;
    &.info_flotante--visible {
      visibility: visible;
      opacity: 1;
    }
    .info_flotante_cnt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1110px;
      margin: 0 auto;
      .info_cnt {
        width: 76%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.info_cnt--disabled {
          width: 70%;
        }
        .detail_cnt {
          display: flex;
          align-items: center;
          .img_cnt {
            position: relative;
            margin: 0;
            margin-right: 1rem;
            &-img {
              width: 110px;
              height: 60px;
              border: 1px solid white;
            } //&-img
          } //img_cnt
          .info_car_cnt {
            display: flex;
            flex-flow: column;
            justify-content: center;
            position: relative;
            .title {
              color: white;
              margin-right: 0.5rem;
              font-size: 1.5rem;
              font-weight: 600;
            }
            .subtinfo_cnt {
              display: flex;
              color: white;
            }
          } //info_car_cnt
        }
        .price {
          font-size: 2rem;
          font-weight: 600;
          color: white;
        }
      } //info_cnt
      .btn_cnt {
        width: 24%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        &.btn_cnt--disabled {
          width: 32%;
        }
        &-btn {
          width: auto;
          padding: 0.625rem 3rem;
          border: 2px solid white;
          border-radius: 4px;
          background: transparent;
          outline: none;
          font-size: 16px;
          font-family: "brandon-regular";
          text-transform: uppercase;
          &:focus {
            outline: none;
            border: 2px solid white;
          }
          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
          &.btn--proceso_compra {
            font-size: 14px;
          }
        }
      }
    } //info_flotante_cnt
    .btn_mobile_cnt {
      width: 100%;
      position: relative;
      display: none;
      &-btn {
        width: auto;
        padding: 0.625rem 3rem;
        border: 2px solid white;
        border-radius: 4px;
        background: transparent;
        outline: none;
        font-size: 16px;
        font-family: "brandon-regular";
        text-transform: uppercase;
        display: none;
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
  } //info_flotante
} //container-cabecera-ficha
.container-titulo-subtitulo {
  display: flex;
  flex-direction: column;
}
.container-subtitulo {
  display: flex;
  flex-direction: row;
  p {
    color: #36383c;
    font-family: "brandon-regular";
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 30px;
  }
}
.separador-subtitulo {
  margin-left: 10px;
  margin-right: 10px;
}
.container-precio-boton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titulo-cabecera {
  color: #36383c;
  font-family: "brandon-bold";
  font-size: 44px;
  letter-spacing: -0.5px;
  line-height: 1.2;
}
.precio {
  color: #4caac6;
  font-family: "brandon-bold";
  font-size: 44px;
  letter-spacing: -0.5px;
  line-height: 61px;
  text-align: right;
  padding-right: 30px;
}
.btn_cnt {
  &:hover {
    .tooltip_btn {
      visibility: visible;
      opacity: 1;
    }
  }
  .btn {
    width: 100%;
    text-transform: uppercase;
    &:disabled {
      cursor: not-allowed;
      /*
      background: linear-gradient(
        90deg,
        #48b2be 13%,
        #6b75ff 79%,
        #967eff 100%
      );
      */
      .btn-primary:hover {
        /*
        background: linear-gradient(
          90deg,
          #48b2be 13%,
          #6b75ff 79%,
          #967eff 100%
        );
        */
      }
    }
    &.btn--proceso_compra {
      font-size: 14px;
      white-space: nowrap;
    }
  }
  .tooltip_btn {
    position: absolute;
    top: 72%;
    right: 15px;
    width: 100%;
    max-width: 264px;
    padding: 0.75rem;
    background-color: #4baac6;
    border: #4baac6;
    border-radius: 0.325rem;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease all;
    box-shadow: 0px 2px 12px 0px rgba(124, 124, 124, 0.96);
    &.tooltip_btn--position {
      top: 44%;
    }
    &-arrow {
      width: 0;
      height: 0;
      position: absolute;
      top: -9px;
      right: 10%;
      border: 0 solid transparent;
      border-right-width: 15px;
      border-left-width: 15px;
      border-bottom: 12px solid #4baac6;
    } //arrow
  }
}

@media (max-width: 991px) {
  .container-precio-boton {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 975px) {
  .container-cabecera-ficha {
    .info_flotante {
      top: inherit;
      bottom: 0;
      visibility: visible;
      opacity: 1;
      z-index: 5;
      .info_flotante_cnt {
        padding: 1rem;
        flex-flow: column;
        .info_cnt {
          width: 100%;
          display: flex;
          margin-bottom: 1.5rem;
          &.info_cnt--disabled {
            width: 94%;
          }
          .detail_cnt {
            display: flex;
            .img_cnt {
              display: none;
            } //img_cnt
            .info_car_cnt {
              margin: 0;
              margin-right: 1rem;
              .title {
                font-size: 1.125rem;
                font-weight: 700;
              }
              .subtinfo_cnt {
                font-size: 0.725rem;
              }
            } //info_car_cnt
          }
          .price {
            font-size: 1.5rem;
            font-weight: 600;
            color: white;
          }
        } //info_cnt
        .btn_cnt {
          width: 100%;
          justify-content: center;
          &.btn_cnt--disabled {
            width: 100%;
          }
          &-btn {
            width: auto;
            padding: 0.625rem 3rem;
            border: 2px solid white;
            border-radius: 4px;
            background: transparent;
            outline: none;
            font-size: 16px;
            font-family: "brandon-regular";
            text-transform: uppercase;
          }
        }
      } //info_flotante_cnt
    } //info_flotante
  } //container-cabecera-ficha
  .btn_cnt {
    width: 100%;
    .btn {
      &.btn--proceso_compra {
        width: 100%;
      }
    }
    .tooltip_btn {
      max-width: 95%;
      position: absolute;
      right: inherit;
      left: inherit;
      &.tooltip_btn--position {
        top: 120px;
      }
    }
  }
}
