<section class="container">
  <section class="container-cabecera-ficha">
    <section
      class="info_flotante"
      [ngClass]="{ 'info_flotante--visible': !!floatingBar }"
    >
      <section class="info_flotante_cnt">
        <article
          class="info_cnt"
          [ngClass]="{ 'info_cnt--disabled': disableBtnComprar }"
        >
          <article class="detail_cnt">
            <figure class="img_cnt">
              <img src="{{ getCarPictureUrl() }}" alt="" class="img_cnt-img" />
            </figure>
            <div class="info_car_cnt">
              <p class="title">{{ fichaVehiculo.Modelo }}</p>
              <div class="subtinfo_cnt">
                <p class="anio">{{ fichaVehiculo.AnioFabricacion }}</p>
                <p class="separador-subtitulo">|</p>
                <p class="kilometraje">
                  {{ fichaVehiculo.Kilometraje | number: "":"es" }} KM
                </p>
                <p class="separador-subtitulo">|</p>
                <p class="tipo-transmision">
                  {{ fichaVehiculo.tipo_de_transmision?.Tipo }}
                </p>
              </div>
            </div>
          </article>

          <p class="price">${{ fichaVehiculo.Precio | number: "":"es" }}</p>
        </article>
        <article
          class="btn_cnt"
          [ngClass]="{ 'btn_cnt--disabled': disableBtnComprar }"
        >
          <button
            class="btn_cnt-btn btn-primary"
            [ngClass]="{ 'btn--proceso_compra': disableBtnComprar }"
            (click)="redirectToCompra()"
            [disabled]="disableBtnComprar"
          >
            <span *ngIf="!disableBtnComprar">Comprar Ahora</span>
            <span *ngIf="disableBtnComprar">En proceso de compra: 30:00</span>
          </button>
        </article>
      </section>
    </section>

    <div class="row">
      <div class="col-lg-6">
        <section class="container-titulo-subtitulo">
          <p class="titulo-cabecera">{{ fichaVehiculo.Modelo }}</p>
          <section class="container-subtitulo">
            <p class="anio">{{ fichaVehiculo.AnioFabricacion }}</p>
            <p class="separador-subtitulo">|</p>
            <p class="kilometraje">
              {{ fichaVehiculo.Kilometraje | number: "":"es" }} KM
            </p>
            <p class="separador-subtitulo">|</p>
            <p class="tipo-transmision">
              {{ fichaVehiculo.tipo_de_transmision?.Tipo }}
            </p>
          </section>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="container-precio-boton">
          <p class="precio">${{ fichaVehiculo.Precio | number: "":"es" }}</p>
          <div class="btn_cnt">
            <button
              class="btn btn-primary"
              [ngClass]="{ 'btn--proceso_compra': disableBtnComprar }"
              (click)="redirectToCompra()"
              [disabled]="disableBtnComprar"
            >
              <span *ngIf="!disableBtnComprar">Comprar Ahora</span>
              <span *ngIf="disableBtnComprar">En proceso de compra: 30:00</span>
            </button>
            <div
              class="tooltip_btn"
              *ngIf="disableBtnComprar"
              [ngClass]="{
                'tooltip_btn--position': tittleDetectorClassModifier()
              }"
            >
              <span class="tooltip_btn-arrow"></span>
              El vehículo esta siendo comprado por otra persona.
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
