<div class="container">
  <div class="row filtro-seleccionado-container">
    <div class="col-md-2">
      <p class="titulo-resultados">
        Resultados: {{ contadorResultados | number: '':'es' }}
      </p>
    </div>
    <div class="col-md-6 filtros-resultados-container">
      <div *ngFor="let filtro of filtrosSeleccionados; let i = index">
        <p class="boton-filtro" *ngIf="filtro.origen !== 'orden'">
          <span *ngIf="validaFiltroRange(filtro)"
            ><span *ngIf="filtro.origen === 'precio'"
              >${{ filtro.min | number: '':'es' }} - ${{
                filtro.max | number: '':'es'
              }}</span
            >
            <span *ngIf="filtro.origen === 'anio'"
              >{{ filtro.min }} - {{ filtro.max }}</span
            >
            <span *ngIf="filtro.origen === 'kilometros'"
              >{{ filtro.min | number: '':'es' }} -
              {{ filtro.max | number: '':'es' }} KM</span
            ><span *ngIf="filtro.origen === 'marca'">{{
              filtro.nombre | uppercase
            }}</span>
            <span *ngIf="filtro.origen === 'tipo'">{{
              filtro.nombre | uppercase
            }}</span>
            <span *ngIf="filtro.origen === 'transmision'">{{
              filtro.nombre | uppercase
            }}</span>
            <span *ngIf="filtro.origen === 'combustible'">{{
              filtro.nombre | uppercase
            }}</span> </span
          ><span *ngIf="!validaFiltroRange(filtro)">{{
            filtro.nombre | uppercase
          }}</span
          ><span class="boton-filtro-quitar" (click)="eliminarFiltro(i)"
            >X</span
          >
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group justify-content-end">
        <p class="titulo-resultados mr-2">Ordenar por:</p>
        <select
          class="custom-select"
          [(ngModel)]="selectedOption"
          (ngModelChange)="ordenarResultados()"
        >
          <option *ngFor="let item of listOptions" [ngValue]="item">
            {{ item.text }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
