.filtro-seleccionado-container {
  padding: 20px 0;

  .titulo-resultados {
    font-size: 14px;
    font-family: "mavenpro-bold", sans-serif;
    margin: 10px 0 0;
    padding-top: 5px;
  }

  .order-seleccionado {
    color: var(--brand-cyan2);
  }

  .filtros-resultados-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    .boton-filtro {
      border-radius: 4px;
      border: 1px solid #d9dde9;
      color: var(--brand-marine);
      font-family: "mavenpro-regular", sans-serif;
      font-size: 12px;
      height: 30px;
      margin-bottom: 5px;
      margin-right: 10px;
      padding: 5px 10px;
      width: max-content;

      .boton-filtro-quitar {
        color: var(--brand-cyan2);
        font-weight: bolder;
        margin-left: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.custom-select {
  color: var(--brand-cyan2);
  border: 1px solid var(--brand-cyan2);
  font-family: "mavenpro-bold", sans-serif;
  font-size: 14px;
  margin-top: 8px;
  background-color: transparent;
  background-image: url(../../../../assets/icons/flecha_select.svg);
  width: 150px;

  &:focus {
    box-shadow: none;
  }

  option {
    color: var(--brand-marine);
    font-family: "mavenpro-regular", sans-serif;
    text-align: right;
    font-size: 13px;
  }
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-radius: 5px;
}
