.container-footer {
  background-color: #323232;
  background-image: url("/assets/images/img_footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;

  .footer-band {
    height: 18px;
    /*
    background: #b585ff;
    background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #b585ff 100%);
    */
    background: var(--brand-cyan);
  }

  .container-info-footer {
    align-items: center;

    .logo-container {
      .logo {
        width: 200px;
        height: 70px;
      }
    }

    .columna-footer {
      margin-bottom: 40px;

      .titulo-columna-footer {
        color: #ffffff;
        font-family: "mavenpro-bold", sans-serif;
        font-size: 18px;
        letter-spacing: -0.25px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
      }

      .container-elemento-columna-footer {
        text-align: center;
        border-left: 1px solid #fff;

        .elemento-columna-footer {
          color: #ffffff;
          font-family: "mavenpro-regular", sans-serif;
          font-size: 14px;
          letter-spacing: -0.18px;
          line-height: 25px;

          &:hover {
            color: #4caac6;
            text-decoration: none;
          }
        }

        &:first-child {
          border-left: none;
        }
      }
    }
  }

  .container-medios-pago {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social_cnt {
      display: flex;
      align-items: center;
      padding: 0 0.5rem 0 0;
      &-text {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        margin-right: 0.5rem;
        color: white;
      }
      &-item {
        position: relative;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        .img_cnt {
          position: relative;
          width: 33px;
          height: 33px;
          margin: 0;
          visibility: visible;
          opacity: 1;
          transition: 0.5s ease all;
          z-index: 2;
          &:hover {
            visibility: 0;
            opacity: 0;
          }
          &-img {
            width: 33px;
            height: 33px;
          }
        }
        .img_hovered_cnt {
          @extend .img_cnt;
          visibility: visible;
          opacity: 1;
          top: 0;
          position: absolute;
          transition: 0.5s ease all;
          z-index: 1;
          &-img {
            width: 33px;
            height: 33px;
          }
        }
      }
    }

    .text-medios-pago {
      margin: 0;
      color: #ffffff;
      font-family: "mavenpro-regular", sans-serif;
      font-size: 14px;
      text-align: right;
    }
  }
}
@media (max-width: 767px) {
  .text-medios-pago {
    text-align: center !important;
  }
}
@media (max-width: 768px) {
  .container-footer {
    .container-info-footer {
      .logo-container {
        text-align: center;
        .logo {
          width: 160px;
        }
      }

      .columna-footer {
        margin: 40px 0 0 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .container-footer {
    .container-info-footer {
      .columna-footer {
        .container-elemento-columna-footer {
          border: none;
        }
      }
    }
    .container-medios-pago {
      flex-flow: column;
      .social_cnt {
        padding: 0 0.5rem 1rem 0;
        &-text {
          margin-right: 1rem;
        }
        &-item {
          .img_cnt {
            transition: 0;
          }
          .img_hovered_cnt {
            transition: 0;
          }
        }
      }
    }
  }
}

.container-ayuda {
  margin-top: 10px;
}
.phone-container {
  h5 {
    color: #fff;
    text-align: center;
  }
  img {
    padding-right: 10px;
  }
  .contact {
    color: #ffffff;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: -0.18px;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
    display: block;
    &:hover {
      color: #4caac6;
      text-decoration: none;
    }
  }
  .separador {
    height: 100%;
    border-left: 1px solid #fff;
    display: inline-block;
  }
  .contactoWatsapp {
    text-align: center;
    color: #fff;
    &:hover {
      color: #4caac6;
      text-decoration: none;
    }
    span {
      display: block;
    }
    div {
      margin-top: .4rem;
    }
  }
}
@media screen and (max-width: 576px) {
  .phone-container {
    .separador {
      display: none !important;
    }
  }
}
.horario {
  color: #ffffff;
  font-family: "mavenpro-regular", sans-serif;
  font-size: 15px;
  letter-spacing: -0.18px;
  margin-bottom: 0;
  padding-left: 5px;
  white-space: normal !important;
}
