<section class="container-footer">
  <div class="footer-band"></div>
  <div class="container">
    <div class="row container-info-footer" [ngStyle]="{'margin-top': esMobile ? '0px' : '40px' }">
      <div class="col-lg-3 col-md-12 logo-container" *ngIf="!isMobile">
        <a [routerLink]="['']">
          <img
            alt=""
            _ngcontent-qlb-c26=""
            src="/assets/images/logo_car_1.svg"
            class="logo"
          />
        </a>
      </div>
      <div class="col-lg-8 col-md-12">
        <section class="columna-footer">
          <p class="titulo-columna-footer">Links de interés</p>
          <div class="row">
            <div class="col-md-3 container-elemento-columna-footer">
              <a
                class="elemento-columna-footer"
                [routerLink]="['stock-disponible']"
                >Stock disponible</a
              >
            </div>
            <div class="col-md-3 container-elemento-columna-footer">
              <a
                class="elemento-columna-footer"
                [routerLink]="['sobre-nosotros']"
                >Sobre nosotros
              </a>
            </div>
            <div class="col-md-3 container-elemento-columna-footer">
              <a class="elemento-columna-footer" [routerLink]="['contacto']"
                >Contáctanos</a
              >
            </div>
            <div class="col-md-3 container-elemento-columna-footer">
              <a
                class="elemento-columna-footer"
                [routerLink]="['auto-quiero-vender']"
                >Compramos tu auto</a
              >
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="container-ayuda col-lg-12 col-md-12">
      <div class="row phone-container d-flex justify-content-center">
        <div class="col-10 col-sm-12 col-md-9 col-lg-7">
          <div class="row">
            <div class="col-12 col-sm-5">
              <div class="row">
                <div class="col-12">
                  <h5>¿Quieres comprar?</h5>
                </div>
                <div class="col-12 p-0">
                  <a [href]="'https://wa.me/'+ telCompra.interno" class="contactoWatsapp" target="_blank">
                    <span>
                      Haz click aquí para contactar a uno de nuestros ejecutivos vía WhatsApp.
                    </span>
                    <div>
                      <img alt="" class="img-fluid brand-whatsapp" src="/assets/icons/icono_whatsapp_verde.svg" />
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 d-none d-sm-block col-sm-2 text-center">
              <span class="separador"></span>
            </div>
            <div class="col-12 mt-3 mt-sm-0 col-sm-5">
              <div class="row">
                <div class="col-12">
                  <h5>¿Quieres vender?</h5>
                </div>
                <div class="col-4 p-0 d-flex align-items-center justify-content-end">
                  <img alt="" class="img-fluid brand-whatsapp" src="/assets/icons/icono_whatsapp_verde.svg" />
                </div>
                <div class="col-8 p-0">
                  <a *ngFor="let item of randomVende" class="contact" [href]="'https://wa.me/' + item.interno" target="_blank" rel="noopener noreferrer">{{item.visible}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4 text-center">
          <span class="horario">(Lu - Vi de 9:00 - 18:30 hrs. y Sábado de 9:00 a 14:00 hrs.)</span>
        </div>
      </div>
    </div>
    <section class="container-medios-pago col-lg-12 col-md-12 mt-5">
      <div class="row p-1">
        <div class="p-3">
          <div class="row">
            <div class="col-12 d-none d-md-block">
              <p class="text-medios-pago">® CAR 1 Spa. - Rosario Norte 532, Oficina 1404 Las Condes.</p>
            </div>
            <div class="col-12 d-md-none">
              <p class="text-medios-pago">® CAR 1 Spa.</p>
            </div>
            <div class="col-12 d-md-none">
              <p class="text-medios-pago">Rosario Norte 532, Oficina 1404 Las Condes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-1">
        <div class="social_cnt">
          <p class="social_cnt-text">S&iacute;guenos:</p>
          <a
            (click)="doRedirect('facebook')"
            rel="noopener noreferrer"
            class="social_cnt-item"
          >
            <figure class="img_cnt">
              <img
                class="img"
                src="../../../assets/images/face_off.svg"
                alt=""
              />
            </figure>
            <figure class="img_hovered_cnt">
              <img
                class="img"
                src="../../../assets/images/face_on.svg"
                alt=""
              />
            </figure>
          </a>
          <a
            (click)="doRedirect('insta')"
            rel="noopener noreferrer"
            class="social_cnt-item"
          >
            <figure class="img_cnt">
              <img
                class="img"
                src="../../../assets/images/insta_off.svg"
                alt=""
              />
            </figure>
            <figure class="img_hovered_cnt">
              <img
                class="img"
                src="../../../assets/images/insta_on.svg"
                alt=""
              />
            </figure>
          </a>
          <a (click)="doRedirect('linkedin')" class="social_cnt-item">
            <figure class="img_cnt">
              <img
                class="img"
                src="../../../assets/images/linkedin_off.svg"
                alt=""
              />
            </figure>
            <figure class="img_hovered_cnt">
              <img
                class="img"
                src="../../../assets/images/linkedin_on.svg"
                alt=""
              />
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>
</section>
