<app-filtro-tabs
  [filtros]="filtros"
  [tipoVehiculos]="tipoVehiculos"
  [tiposTransmision]="tiposTransmision"
  [tiposCombustible]="tiposCombustible"
  [marcas]="marcas"
></app-filtro-tabs>
<section class="resultados">
  <app-filtro-seleccionado [contadorResultados]="contadorResultados">
  </app-filtro-seleccionado>
  <app-catalogo [vehiculos]="vehiculos"></app-catalogo>
</section>
