.header {
  height: 20px;
  width: 100%;
  background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
}

.principal_bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/images/landing-car2_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
  .principal_bg_cnt {
    width: 100%;
    padding: 3rem;
    position: relative;
    .logo_cnt {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin: 0;
      cursor: pointer;
      .img {
        width: 12%;
      }
    }
    .title {
      font-size: 5rem;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      color: white;
      font-family: "brandon-bold";
    }
    .btn_modelos_disponibles {
      width: auto;
      padding: 0.5rem 1.5rem;
      background: linear-gradient(
        90deg,
        #48b2be 13%,
        #6b75ff 79%,
        #967eff 100%
      );
      color: white;
      font-family: "brandon-bold";
      font-weight: 400;
      border: none;
      font-size: 3rem;
    }
  }
}

.secondary_bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/images/landing-car2_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
  .secondary_bg_cnt {
    width: 100%;
    padding: 3rem;
    position: relative;
    .title {
      font-size: 3.5rem;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #35383c;
      font-family: "brandon-bold";
    }
    .text {
      width: 40%;
      color: #232226;
      font-size: 2rem;
      font-family: "brandon-bold";
    }
    .btn_elige {
      width: auto;

      padding: 0.5rem 1.5rem;
      background: linear-gradient(
        90deg,
        #48b2be 13%,
        #6b75ff 79%,
        #967eff 100%
      );
      color: white;
      font-family: "brandon-bold";
      font-weight: 400;
      border: none;
      font-size: 2.5rem;
    }
  }
}

.secure_bg {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/images/landing-car2_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1.5rem;
  .secure_bg_cnt {
    width: 100%;
    padding: 4rem 1rem 3rem;
    margin: 0 2rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 2px solid #4ba7c3;
    .line_top_right {
      position: absolute;
      top: 0;
      right: 0;
      border-top: 3px solid #4ba7c3;
      width: 70px;
    }

    .line_bottom_right {
      position: absolute;
      right: 0;
      bottom: 0;
      border-top: 3px solid #4ba7c3;
      width: 70px;
    }
    .title {
      position: relative;
      color: white;
      margin: 0;
      font-size: 2.5rem;
      font-weight: 400;
      font-family: "brandon-bold";
      text-align: right;
      &-line_top_left {
        display: none;
      }
      &-line_bottom_left {
        display: none;
      }
      &-line_top_right {
        display: none;
      }
      &-line_bottom_right {
        display: none;
      }
    }
  }
}

.steps_container {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  margin-bottom: 1rem;
  .info_steps {
    height: 100%;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../../../assets/images/landing-car2_4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 1rem 1rem 0;
    .info_steps_cnt {
      width: 100%;
      padding: 1rem 3rem;
      .title {
        color: white;
        font-size: 3.5rem;
        margin: 0 0 1rem;
        font-weight: 600;
        font-family: "brandon-bold";
      }
      .fix_text {
        position: relative;
        top: -5px;
      }
      .btn_compra_aqui {
        width: auto;
        padding: 0.5rem 1.5rem;
        background: linear-gradient(
          90deg,
          #48b2be 13%,
          #6b75ff 79%,
          #967eff 100%
        );
        color: white;
        font-family: "brandon-bold";
        font-weight: 400;
        font-size: 2.5rem;
        border: none;
      }
    }
  }
  .steps {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #4ba7c3;
    margin-bottom: 1rem;
    .steps_cnt {
      width: 100%;
      .text {
        line-height: 1.2;
        padding: 0 1rem 0 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-family: "brandon-regular";
        font-weight: 400;
        color: white;
        &.text--principal {
          padding: 0 1rem 0 1.5rem;
          margin-bottom: 0.5rem;
          font-size: 2rem;
          font-family: "brandon-bold";
          color: white;
        }
        &.text--secondary {
          padding-left: 2rem;
        }
      }
    }
  }
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem 0;
  background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
  .text {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "brandon-bold";
  }
  .social_cnt {
    width: 100%;
    display: flex;
    justify-content: center;
    .icon {
      margin: 0 0.325rem;
      color: white;
      font-size: 2.5rem;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 1140px) {
  .principal_bg {
    .principal_bg_cnt {
      .logo_cnt {
        .img {
          width: 18%;
        }
      }
      .title {
        font-size: 4rem;
      }
      .btn_quiero_vender {
        width: 40%;
        font-size: 2rem;
      }
    }
  }

  .steps_container {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    margin-bottom: 1rem;
    .steps {
      .steps_cnt {
        .text {
          padding: 0 2rem;
          margin-bottom: 0.5rem;
          font-size: 0.875rem;
          font-weight: 600;
          color: white;
          &.text--principal {
            padding: 0 3rem;
            margin-bottom: 2rem;
            font-size: 1.2rem;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .principal_bg {
    width: 100%;
    background-image: url("../../../assets/images/landing-car2_1_mobile.jpg");
    .principal_bg_cnt {
      width: 100%;
      padding: 1rem 2rem;
      position: relative;
      .logo_cnt {
        position: relative;
        margin: 0;
        .img {
          width: 25%;
        }
      }
      .title {
        font-size: 3rem;
      }
      .btn_modelos_disponibles {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
      }
    }
  }

  .secondary_bg {
    width: 100%;
    background-image: url("../../../assets/images/landing-car2_2_mobile.jpg");
    .secondary_bg_cnt {
      width: 100%;
      padding: 1rem 2rem;
      position: relative;
      .title {
        font-size: 3rem;
      }
      .text {
        width: 62%;
        color: #232226;
        font-size: 1.5rem;
        font-family: "brandon-bold";
      }
      .btn_elige {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
      }
    }
  }

  .secure_bg {
    height: 100%;
    background-image: url("../../../assets/images/landing-car2_3_mobile.jpg");
    background-position: top;
    .secure_bg_cnt {
      padding: 2rem 0;
      flex-flow: column;
      align-items: flex-end;
      border-right: 0;
      margin: 0;
      margin-right: 2rem;
      top: 0;
      .line_top_right {
        display: none;
      }

      .line_bottom_right {
        display: none;
      }
      .title {
        position: relative;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        margin-right: 0;
        border-right: 2px solid #4ba7c3;
        &-line_top_right {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          border-top: 3px solid #4ba7c3;
          width: 50px;
        }
        &-line_bottom_right {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          border-top: 3px solid #4ba7c3;
          width: 50px;
        }
      }
    }
  }

  .steps_container {
    width: 100%;
    height: 100%;
    flex-flow: column-reverse;
    .info_steps {
      height: 400px;
      width: 100%;
      display: block;
      background-image: url("../../../assets/images/landing-car2_4_mobile.jpg");
      padding: 2rem;
      margin: 0;
      .info_steps_cnt {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .title {
          position: relative;
          padding: 0;
          color: white;
          font-size: 3rem;
          text-align: left;
          font-weight: 600;
        }
        .fix_text {
          position: relative;
          top: 0;
        }
        .btn_compra_aqui {
          width: 190px;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
        }
      }
    }
    .steps {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 1rem;
      .steps_cnt {
        width: 100%;
        padding: 1rem 0;
        .text {
          line-height: normal;
          padding: 0 2rem;
          margin-bottom: 0.5rem;
          font-size: 1.325rem;
          &.text--principal {
            padding: 0 2rem;
            margin-bottom: 2rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1rem 0;
    background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
    .text {
      font-size: 1.5rem;
      color: white;
      font-weight: 400;
      text-align: center;
      margin-bottom: 1rem;
    }
    .social_cnt {
      width: 100%;
      display: flex;
      justify-content: center;
      .icon {
        margin: 0 0.325rem;
        color: white;
        font-size: 2.5rem;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 500px) {
  .principal_bg {
    .principal_bg_cnt {
      .logo_cnt {
        .img {
          width: 42%;
        }
      }
      .btn_quiero_vender {
        width: 80%;
      }
    }
  }

  .secondary_bg {
    .secondary_bg_cnt {
      .title {
        font-size: 2.5rem;
      }
      .text {
        width: 70%;
        font-size: 1rem;
      }
    }
  }

  .secure_bg {
    .secure_bg_cnt {
      .icon_cnt {
        .icon_info {
          width: 100px;
        }
        .icon {
          font-size: 2.5rem;
        }
        .icon_text {
          font-size: 0.875rem;
        }
      }
    }
  }
}
