<header class="header"></header>

<section class="principal_bg">
  <section class="principal_bg_cnt">
    <figure class="logo_cnt">
      <img
        class="img"
        (click)="redirectToHome()"
        src="../../../assets/images/logo_car_1.svg"
        alt="logo-car1"
      />
    </figure>
    <h1 class="title">
      Compra <br />
      F&aacute;cil, R&aacute;pido <br />
      y Seguro
    </h1>
    <button class="btn_modelos_disponibles land2 boton1" (click)="goToVenta()">
      Modelos disponibles
    </button>
  </section>
</section>

<section class="secondary_bg">
  <section class="secondary_bg_cnt">
    <h1 class="title">¡Que no te hagan ...!</h1>
    <p class="text">
      Los autos usados tienen historias que van dejando huellas, por eso te
      mostramos hasta el m&aacute;s m&iacute;nimo detalle que puedan tener a
      trav&eacute;s de nuestra visi&oacute;n 360&#176;.
    </p>
    <button class="btn_elige land2 boton2" (click)="goToVenta()">
      Elige el tuyo
    </button>
  </section>
</section>

<section class="secure_bg">
  <section class="secure_bg_cnt">
    <span class="line_top_right"></span>
    <span class="line_bottom_right"></span>
    <h1 class="title">
      <span class="title-line_top_left"></span>
      <span class="title-line_bottom_left"></span>
      <span class="title-line_top_right"></span>
      <span class="title-line_bottom_right"></span>
      Compra segura <br />
      Apoyo en financiamiento <br />
      Te garantizamos transparencia
    </h1>
  </section>
</section>

<section class="steps_container">
  <section class="info_steps">
    <section class="info_steps_cnt">
      <h1 class="title">
        <span class="title-line_top_left"></span>
        <span class="title-line_bottom_left"></span>
        <span class="title-line_top_right"></span>
        <span class="title-line_bottom_right"></span>
        ¡Te lo <br *ngIf="!mobile" />
        llevamos <br *ngIf="!mobile" />
        <span class="fix_text"> a casa! </span>
      </h1>
      <button class="btn_compra_aqui land2 boton3" (click)="goToVenta()">
        Compra aqu&iacute;
      </button>
    </section>
  </section>

  <section class="steps">
    <section class="steps_cnt">
      <p class="text text--principal">
        Pru&eacute;balo en tu casa pagando una reserva de &#36;100.000,
        as&iacute; puedes verlo con tus propios ojos y darle una vuelta&#42;.
        <br />
        Si no te gusta, no hay problema, <br *ngIf="!mobile" />
        te devolvemos el 100% de tu dinero.
      </p>
      <p class="text">
        &#42; Pruebas y exhibiciones a domicilio s&oacute;lo v&aacute;lidas para
        la Regi&oacute;n Metropolitana.
      </p>
      <p class="text">
        &#42;&#42; Compras con despacho a domicilio gratuito en la Regi&oacute;n
        Metropolitana.
      </p>
      <p class="text text--secondary">
        Consulta con tu ejecutivo el costo de entrega a otras regiones.
      </p>
    </section>
  </section>
</section>

<footer class="footer">
  <p class="text">S&iacute;guenos</p>
  <article class="social_cnt">
    <a
      href="https://www.facebook.com/car1chile/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
      ><span class="icon-facebook"></span
    ></a>
    <a
      href="https://www.instagram.com/car1_chile"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <span class="icon-instagram"></span
    ></a>
    <a
      href="https://www.linkedin.com/company/car1chile/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <span class="icon-linkedin"></span
    ></a>
  </article>
</footer>
