<section class="container-caracteristicas">
    <section class="container">
      <h1>Caracter&iacute;sticas</h1>
      <div class="row justify-content-md-center">
        <div class="col-lg-9 col-md-8">
          <div class="row">
            <div class="col-lg-6 info-item" *ngIf="aplicaGarantia">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_anio.svg" />Garant&iacute;a
              </p>
              <p class="valor-caracteristica">
                {{ garantia }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_anio.svg" />Inspeccionado
              </p>
              <p class="valor-caracteristica">
                {{ textoInspeccion }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_anio.svg" />Cilindrada
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.TipoMotorLitros }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_combustible.svg" />Combustible
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.tipo_de_combustible?.Tipo }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_traccion.svg" />Tracción
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.tipo_de_traccion?.Tipo }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_trasmison.svg" />Transmisión
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.tipo_de_transmision?.Tipo }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_tipo_auto.svg" />Tipo
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.tipo_de_vehiculo?.Nombre }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_tipo_auto.svg" />Asientos
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.CantidadAsientos }}
              </p>
            </div>
            <div class="col-lg-6 info-item" *ngIf="sistemaDeAire">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_tipo_auto.svg" />Aire
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.sistema_de_aire?.Tipo }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_anio.svg" />Tipo de Asientos
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.tipo_de_asiento?.Tipo }}
              </p>
            </div>
            <div class="col-lg-6 info-item">
              <p class="titulo-caracteristica">
                <img alt="" src="/assets/icons/icono_tipo_auto.svg" />Techo
              </p>
              <p class="valor-caracteristica">
                {{ fichaVehiculo.tipo_de_techo?.Tipo }}
              </p>
            </div>
            <div class="col-lg-6 d-none d-xl-block info-item"></div>
          </div>
        </div>
      </div>
    </section>
  </section>