.contact-container {
  /*
  background: linear-gradient(
    90deg,
    rgba(72, 178, 190, 1) 13%,
    rgba(107, 117, 255, 1) 79%,
    rgba(181, 133, 255, 1) 100%
  );
  */
  background-color: rgb(16, 21, 25);
  height: 40px;
  padding: 8px;

  .contact-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .img-container {
      img {
        margin-right: 10px;
        height: 22px;
      }
    }

    .phone-container {
      .contact {
        color: #ffffff;
        font-family: "brandon-regular";
        font-size: 15px;
        letter-spacing: -0.18px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
  }
}
