<section class="contact-container">
  <div class="container contact-bar">
    <div class="img-container">
      <img alt="" src="/assets/icons/icono_whatsapp_blanco.svg" />
    </div>
    <div class="phone-container">
      <p class="contact" (click)="scrollContacto()"><strong>CONTÁCTANOS</strong></p>
    </div>
  </div>
</section>
