.modal_vender {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  .icon {
    position: absolute;
    top: 1.375rem;
    right: 1.375rem;
    font-size: 0.825rem;
    color: #fff;
    cursor: pointer;
    z-index: 10;
  }
  .img_cnt {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    .img {
      width: 100%;
      z-index: 1;
      cursor: pointer;
    }
  }
}
