<section class="modal_vender">
  <span class="icon icon-close" (click)="closeModal()"></span>
  <figure class="img_cnt" *ngIf="modalHome">
    <img
      (click)="redirectToStock()"
      src="../../../../assets/images/cyber.jpg"
      class="img"
      alt="modal_quiero_vender_home_img"
    />
  </figure>
</section>
