<section class="container-caracteristicas">
  <section class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-9 col-md-8">
        <div class="row">
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img alt="" src="/assets/icons/icono_anio.svg" />Año
            </p>
            <p class="valor-caracteristica">
              {{ fichaVehiculo.AnioFabricacion }}
            </p>
          </div>
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img alt="" src="/assets/icons/icono_tipo_auto.svg" />Tipo
            </p>
            <p class="valor-caracteristica">
              {{ fichaVehiculo.tipo_de_vehiculo?.Nombre }}
            </p>
          </div>
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img alt="" src="/assets/icons/icono_km.svg" />Kilómetros
            </p>
            <p class="valor-caracteristica">
              {{ fichaVehiculo.Kilometraje | number: "":"es" }}
            </p>
          </div>
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img
                alt=""
                src="/assets/icons/icono_valor_transferencia.svg"
              />Valor aprox. Transferencia
            </p>
            <p class="valor-caracteristica">
              ${{ fichaVehiculo.ValorTransferencia | number: "":"es" }}
            </p>
          </div>
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img alt="" src="/assets/icons/icono_trasmison.svg" />Transmisión
            </p>
            <p class="valor-caracteristica">
              {{ fichaVehiculo.tipo_de_transmision?.Tipo }}
            </p>
          </div>
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img
                alt=""
                src="/assets/icons/icono_combustible.svg"
              />Combustible
            </p>
            <p class="valor-caracteristica">
              {{ fichaVehiculo.tipo_de_combustible?.Tipo }}
            </p>
          </div>
          <div class="col-lg-6 info-item">
            <p class="titulo-caracteristica">
              <img alt="" src="/assets/icons/icono_traccion.svg" />Tracción
            </p>
            <p class="valor-caracteristica">
              {{ fichaVehiculo.tipo_de_traccion?.Tipo }}
            </p>
          </div>
          <div class="col-lg-6 d-none d-xl-block info-item"></div>
        </div>
      </div>
    </div>
  </section>
</section>
