:host {
  display: flex;
  .content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 10px;
    &.--hide {
      display: none;
    }
    &.--isFirt {
      margin-left: 0;
    }
    &-title {
      font-weight: 600;
    } //content-title
    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      padding-bottom: 5px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid #d9dde9;
      &.--base {
        border: 3px solid #d9dde9;
      } //--active
      &.--inProgress {
        border: 3px solid #4baac6;
        background-color: #4baac6;
      } //--active
      &.--rejection {
        border: 3px solid red;
      } //--active
      &.--approved {
        border: 3px solid #4baac6;
        background-color: #4baac6;
      } //--active
      .icon-inside-circle {
        margin-bottom: 0;
        .img-step {
          font-size: 12px;
          width: 12px;
          height: 12px;
          color: #d9dde9;
          &.--base {
            color: #d9dde9;
            font-size: 12px;
          } //--active
          &.--inProgress {
            color: white;
            font-size: 12px;
          } //--active
          &.--rejection {
            color: red;
            font-size: 12px;
          } //--active
          &.--approved {
            color: white;
            font-size: 12px;
          } //--active
        } //img-step
        .icon-check {
          &-cnt {
            margin-top: 35px;
          } //cnt
        } //icon-check
      } //icon-inside-circle
    } //content-circle
    &-subtitle {
      width: 180px;
      margin-top: 0.5rem;
      color: #36383c;
      font-weight: 400;
      font-size: 0.725rem;
    } //content-subtitle
  } //content
  .line {
    width: 82%;
    height: 2px;
    top: 16px;
    left: 80px;
    position: absolute;
    background-color: #d9dde9;
    z-index: -1;
    &.line--hide {
      display: none;
      width: auto;
    } //line--hide
    &.--base {
      background-color: gray;
    } //--base
    &.--inProgress {
      background-color: #4baac6;
    } //--inProgress
    &.--rejection {
      background-color: red;
    } //--rejection
    &.--approved {
      background-color: cyan;
    } //aproved
  } //line
} //host

@media (max-width: 991.98px) {
  :host {
    .content {
      margin-right: 0;
      margin-left: 0;
      &-subtitle {
        width: 100px;
      }
    }
    .line {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  :host {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 90px;
    .content {
      margin-right: 0;
      margin-left: 0;
      &-subtitle {
        width: 200px;
      }
      &-circle {
        padding-bottom: 3px;
      }
    }
    .line {
      display: none;
    }
  }
  :host:last-child {
    margin-bottom: 0;
  }
}
