<div
  class="line"
  [ngClass]="{
    'line--hide': isFirst,
    '--base': content?.typeStep == wizardEnum.BASE,
    '--approved': content?.typeStep == wizardEnum.APROBADO,
    '--inProgress': content?.typeStep == wizardEnum.ENCURSO,
    '--rejection': content?.typeStep == wizardEnum.RECHAZADO
  }"
></div>
<section
  class="content"
  [ngClass]="{ '--isFirt': isFirst }"
  (click)="emitPosition()"
>
  <div
    class="content-circle"
    [ngClass]="{
      '--base': content?.typeStep == wizardEnum.BASE,
      '--approved': content?.typeStep == wizardEnum.APROBADO,
      '--inProgress': content?.typeStep == wizardEnum.ENCURSO,
      '--rejection': content?.typeStep == wizardEnum.RECHAZADO
    }"
  >
    <figure class="icon-inside-circle">
      <span
        class="img-step {{ content?.insideIcon }}"
        [ngClass]="{
          '--base': content?.typeStep == wizardEnum.BASE,
          '--approved': content?.typeStep == wizardEnum.APROBADO,
          '--inProgress': content?.typeStep == wizardEnum.ENCURSO,
          '--rejection': content?.typeStep == wizardEnum.RECHAZADO
        }"
      ></span>
    </figure>
  </div>
  <div
    class="content-subtitle"
    [ngClass]="{
      '--base': content?.typeStep == wizardEnum.BASE,
      '--approved': content?.typeStep == wizardEnum.APROBADO,
      '--inProgress': content?.typeStep == wizardEnum.ENCURSO,
      '--rejection': content?.typeStep == wizardEnum.RECHAZADO
    }"
  >
    {{ content?.subTitle }}
  </div>
</section>
