.banner-container {
  background-image: url(../../../../assets/images/sobre-nosotros-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;

  .container {
    .container-titles {
      .banner-title {
        position: relative;
        color: #fff;
        font-family: "mavenpro-bold", sans-serif;
        font-size: 52px;
        letter-spacing: -0.59px;
        line-height: 54px;
        margin: 0 auto;
        padding: 25px 0;
        width: 460px;

        .corchete {
          border: 5px solid #fff;
          border-right: none;
          height: 100%;
          left: -20px;
          top: 0;
          position: absolute;
          width: 50px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner-container {
    padding: 50px 0;
    .container {
      .container-titles {
        .banner-title {
          font-size: 36px;
          text-align: center;
          padding: 5px 0;
          .corchete {
            border: 4px solid #fff;
            border-right: none;
            left: 60px;
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .banner-container {
    padding: 50px 0;
    .container {
      .container-titles {
        .banner-title {
          font-size: 36px;
          text-align: left;
          padding: 5px 30px;
          width: 260px;
          .corchete {
            border: 4px solid #fff;
            border-right: none;
            left: 15px;
            width: 35px;
          }
        }
      }
    }
  }
}
