<section class="container">
  <section class="container-descripcion">
    <h1>Descripción</h1>
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <p>{{ fichaVehiculo.Descripcion }}</p>
      </div>
    </div>
  </section>
</section>
