@keyframes ldio-igd7faqbj6d-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}

@keyframes ldio-igd7faqbj6d {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ldio-igd7faqbj6d div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
  box-sizing: content-box;
}

.ldio-igd7faqbj6d div:nth-child(1) {
  background: var(--brand-marine);
  animation: ldio-igd7faqbj6d 1s linear infinite;
  animation-delay: -0.5s;
}

.ldio-igd7faqbj6d div:nth-child(2) {
  background: var(--brand-cyan);
  animation: ldio-igd7faqbj6d 1s linear infinite;
  animation-delay: 0s;
}

.ldio-igd7faqbj6d div:nth-child(3) {
  background: var(--brand-marine);
  animation: ldio-igd7faqbj6d-o 1s linear infinite;
  animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-4dzbwl1srfg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-igd7faqbj6d {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.bg {
  background-color: #101519;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: center;

  &-form {
    background-color: rgba($color: #FFFFFF, $alpha: 0.5);
  }
}
