<div [ngClass]="{'bg-form': formulario}" class="bg" *ngIf="show > 0">
    <div class="loadingio-spinner-dual-ball-4dzbwl1srfg">
        <div class="ldio-igd7faqbj6d">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>