<app-contact-bar *ngIf="!isMobile"></app-contact-bar>
<section class="header-container bg-white brand-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white brand-navbar">
      <a class="navbar-brand" [routerLink]="['']"
        ><img alt="" src="/assets/images/logo_car_1.svg" class="logo"
      /></a>
      <button
        #btnMenu
        class="brand-toggle navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        #navMenu
        class="collapse navbar-collapse brand-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link menu-title" [routerLink]="['']">HOME</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link menu-title stockdisponible"
              [routerLink]="['stock-disponible']"
              >STOCK DISPONIBLE</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link menu-title quierovender"
              [routerLink]="['auto-quiero-vender']"
              >QUIERO VENDER</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link menu-title" [routerLink]="['sobre-nosotros']"
              >SOBRE NOSOTROS</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link menu-title" [routerLink]="['contacto']"
              >CONTACTO</a
            >
          </li>

        </ul>
      </div>
    </nav>
  </div>
</section>
