.header-container.brand-header{
  background-color: black !important;
}
.navbar.brand-navbar{
  background-color: black !important;
}
.header-container {
  //box-shadow: 0 5px 15px 0 rgba(148, 148, 148, 0.5);
  position: relative;
  z-index: 1;
  .navbar {
    padding: 10px 0;

    .navbar-brand {
      padding: 10px 0;

      .logo {
        height: 50px;
        width: 150px;
      }
    }

    .navbar-nav {
      .nav-link {
        //color: #35373b;
        color: white;
        transition: 0.5s ease all;
      }

      .nav-link:hover {
        //color: #5eb3f4;
        color: var(--brand-cyan);
      }

      .active > .nav-link {
        //color: #4caac6;
        color: var(--brand-cyan);
      }

      .menu-title {
        margin-left: 60px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px 0;
        height: 22px;
        font-family: "mavenpro-bold", sans-serif;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: 575px) {
  .header-container {
    .navbar {
      padding: .4rem 0 0 0;

      .navbar-brand {
        padding-top: 0;
      }
    }
  }
}
