.range-container {
  color: var(--brand-marine);
  font-family: "mavenpro-regular", sans-serif;
  font-size: 16px;

  .range-title-inputs-container {
    align-items: flex-end;
    .range-title {
      font-family: "mavenpro-bold", sans-serif;
      margin-bottom: 0;
    }

    .range-inputs-container {
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .range-input {
        border: 1px solid #d9dde9;
        border-radius: 4px;
        color: var(--brand-blue);
        font-size: 14px;
        text-align: right;
        padding: 8px 10px;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .range-ngx-slider-container {
    margin-top: 20px;
  }
}

/* Custom styles ngx-slider */
::ng-deep {
  .range-container {
    .ngx-slider {
      .ngx-slider-bar {
        height: 6px;
      }
      .ngx-slider-selection {
        background: var(--brand-cyan);
      }

      .ngx-slider-pointer {
        width: 25px;
        height: 25px;
        top: -10px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid var(--brand-cyan);

        &:after {
          display: none;
        }

        &:focus {
          outline: none;
        }
      }

      .ngx-slider-bubble {
        display: none;
      }
    }
  }
}
.btn {
  width: 108px !important;
}