<section class="range-container">
  <div class="row range-title-inputs-container">
    <div class="col-lg-5 range-title-container">
      <p class="range-title">{{ opciones.titulo }}</p>
    </div>
    <div class="col-lg-7 range-inputs-container">
      <div class="row">
        <div class="col-md-6">
          <p class="range-title">Min</p>
          <input
            *ngIf="opciones.origen === 'precio'"
            currencyMask
            [options]="{
              prefix: '$ ',
              thousands: '.',
              decimal: ',',
              precision: 0
            }"
            class="range-input"
            [(ngModel)]="minValue"
          />
          <input
            *ngIf="opciones.origen === 'anio'"
            currencyMask
            [options]="{
              prefix: '',
              thousands: '',
              decimal: '',
              precision: 0
            }"
            class="range-input"
            [(ngModel)]="minValue"
          />
          <input
            *ngIf="opciones.origen === 'kilometros'"
            currencyMask
            [options]="{
              prefix: '',
              thousands: '.',
              decimal: '',
              precision: 0
            }"
            class="range-input"
            [(ngModel)]="minValue"
          />
        </div>
        <div class="col-md-6">
          <p class="range-title">Max</p>
          <input
            *ngIf="opciones.origen === 'precio'"
            currencyMask
            [options]="{
              prefix: '$ ',
              thousands: '.',
              decimal: ',',
              precision: 0
            }"
            class="range-input"
            [(ngModel)]="maxValue"
          />
          <input
            *ngIf="opciones.origen === 'anio'"
            currencyMask
            [options]="{
              prefix: '',
              thousands: '',
              decimal: '',
              precision: 0
            }"
            class="range-input"
            [(ngModel)]="maxValue"
          />
          <input
            *ngIf="opciones.origen === 'kilometros'"
            currencyMask
            [options]="{
              prefix: '',
              thousands: '.',
              decimal: '',
              precision: 0
            }"
            class="range-input"
            [(ngModel)]="maxValue"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row range-ngx-slider-container">
    <div class="col">
      <ngx-slider
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="options"
      ></ngx-slider>
    </div>
  </div>
  <div class="row range-values-container">
    <div class="col-6">
      <p>
        <span *ngIf="opciones.origen === 'precio'">$</span>
        <span *ngIf="opciones.origen !== 'anio'">{{
          opciones.floor | number: "":"es"
        }}</span>
        <span *ngIf="opciones.origen === 'anio'">{{ opciones.floor }}</span>
        <span *ngIf="opciones.origen === 'kilometros'">km</span>
      </p>
    </div>
    <div class="col-6 text-right">
      <p>
        <span *ngIf="opciones.origen === 'precio'">$</span>
        <span *ngIf="opciones.origen === 'anio'">{{ opciones.ceil }}</span>
        <span *ngIf="opciones.origen !== 'anio'">{{
          opciones.ceil | number: "":"es"
        }}</span>
        <span *ngIf="opciones.origen === 'kilometros'">km</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-second" (click)="enviarValor()">Filtrar</button>
    </div>
  </div>
</section>
