<section class="form_tasacion container-tasador">
  <section class="izquierda pt-5">
    <!--<header class="header desaparecer-en-desktop">
      <div class="img_cnt">
        <img
          src="../../../../assets/images/logo-blue.svg"
          alt="logo_car1"
          class="img"
        />
      </div>
      <p class="title">¡Vende tu auto ya!</p>
      <p class="subtitle">
        De la forma más rápida y simple. Obtén tu oferta online en 1 minuto, lo inspeccionamos y te pagamos en 1 hora.
      </p>
    </header>-->
    <article class="info">
      <div>
        <p class="tittle">¿Por qué elegirnos?</p>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-verification icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Tranquilidad</p>
          <p class="subtitle">
            A diferencia de otras empresas, nos preocupamos de transferir el auto a nuestro nombre, lo que te libera de cualquier responsabilidad futura sobre el auto.  Así, tú no tendrás que preocuparte de nada más que recibir tu dinero.
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-tag-peso icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Precio</p>
          <p class="subtitle">
            Tenemos precios muy competitivos. Cotiza con nosotros, te haremos una oferta que te sorprenderá. <strong>¿Tu auto tiene prenda? Despreocúpate, lo compramos igual!</strong>
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-comodo icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Comodidad</p>
          <p class="subtitle">
            Te pagamos en una hora y nos encargamos de todo el proceso de transferencia. Olvídate de la notaría, el banco y los trámites molestos. <strong>Vende tu auto sin salir de tu casa.</strong>
          </p>
        </div>
      </div>
    </article>
  </section>
  <section class="derecha">
    <section class="form_tasacion_cnt container">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <form class="mt-1 mb-4 form_buscador">
            <div class="form-row container_patente">
              <div class="col-lg-12 form-group">
                <div class="container-patente-detail">
                  <label for="patente" class="label_form"
                    >Patente<span class="opcional">(Opcional)</span></label
                  >
                  <input
                    type="text"
                    class="form-control input_form"
                    id="patente"
                    placeholder="Ej: HPDR45"
                    maxLength="6"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="btn btn-secondary">
                  Buscar mi patente
                </button>
              </div>
            </div>
          </form>
          <form class="form_tasador">
            <div class="form-row">
              <div class="col-lg-12 col-md-12 form-group">
                <label for="anio" class="label-form"
                  >A&ntilde;o<span class="text-blue">*</span></label
                >
                <input
                  type="anio"
                  class="form-control input-form-small"
                  id="anio"
                  placeholder="A&ntilde;o"
                  maxLength="100"
                />
              </div>
              <div class="col-lg-12 form-group">
                <label for="marca" class="label-form">Marca<span class="text-blue">*</span></label>
                <input
                  type="marca"
                  class="form-control input-form-small"
                  id="marca"
                  placeholder="Marca"
                  maxLength="100"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="modelo" class="label-form"
                  >Modelo<span class="text-blue">*</span></label
                >
                <select class="custom-select-b custom-select-xl-b">
                  <option selected="true" disabled="disabled" value="">
                    Seleccione Modelo
                  </option>
                  <option value="">Impala</option>
                </select>
              </div>
              <div class="col-lg-12 form-group">
                <label for="kilometraje" class="label-form"
                  >Kilometraje<span class="text-blue">*</span></label
                >
                <select class="custom-select-b custom-select-xl-b">
                  <option selected="true" disabled="disabled" value="">
                    Seleccione Kilometraje
                  </option>
                  <option value="">version 1.0</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona Kilometraje
                </div>
              </div>
              
            </div>

            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="version" class="label-form"
                  >Versi&oacute;n<span class="text-blue">*</span></label
                >
                <select class="custom-select-b custom-select-xl-b">
                  <option selected="true" disabled="disabled" value="">
                    Seleccione Versi&oacute;n
                  </option>
                  <option value="">version 1.0</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona una versi&oacute;n
                </div>
              </div>
              
              <div class="col-lg-12 form-group ">
                <label for="kilometraje" class="label-form"
                  >Correo Electr&oacute;nico<span class="text-blue">*</span></label
                >
                <input
                  type="email"
                  class="form-control input-form-small"
                  id="email"
                  placeholder="abcd@abcd.cl"
                  maxLength="100"
                />
                <div class="invalid-feedback">
                  Por favor, introduce un email válido
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="telefono" class="label-form"
                  >Tel&eacute;fono<span class="text-blue">*</span></label
                >
                <input
                  type="telefono"
                  class="form-control input-form-small"
                  id="telefono"
                  placeholder="+569..."
                  maxLength="100"   
                />
              </div>
            </div>

            <div class="form-group last_form_group">
              <div class="term-container">
                <label class="label-container terms-text"
                  >Debes Aceptar los
                  <a class="terms-link" target="_blank">Términos y condiciones</a
                  >.
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div
              class="
                form-row form-row--no_pad
                justify-content-md-center
                button-container
                mt-4
              "
            >
              <button type="button"  class="btn btn-secondary_nuevo">Limpiar Campos</button>
              <button type="submit" (click)="siguiente()" class="btn btn-primary2">Quiero mi Oferta</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="icon_cnt">
      <p class="tittle">¿Por qué elegirnos?</p>
      <span class="icon-verification icon"></span>
      <p class="tittle">Tranquilidad</p>
      <p class="subtitle">
        A diferencia de otras empresas, nos preocupamos de transferir el auto a nuestro nombre, lo que te libera de cualquier responsabilidad futura sobre el auto.  Así, tú no tendrás que preocuparte de nada más que recibir tu dinero.
      </p>
      <span class="icon-tag-peso icon"></span>
      <p class="tittle">Precio</p>
      <p class="subtitle">
        Tenemos precios muy competitivos. Cotiza con nosotros, te haremos una oferta que te sorprenderá. <strong>¿Tu auto tiene prenda? Despreocúpate, lo compramos igual!</strong>
      </p>
      <span class="icon-comodo icon"></span>
      <p class="tittle_com">Comodidad</p>
      <p class="subtitle">
        Te pagamos en una hora y nos encargamos de todo el proceso de transferencia. Olvídate de la notaría, el banco y los trámites molestos. <strong>Vende tu auto sin salir de tu casa.</strong>
      </p>
    </section>
  </section>
</section>

