.form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  .info{
    display: none;
  }
  .header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .img_cnt {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      .img {
        width: 50%;
        text-align: center;
      }
    }
    .title {
      text-align: center;
      color: #4caac6;
      font-size: 1.5rem;
      font-family: "mulish-bold";
      margin-bottom: 0;
    }
    .subtitle {
      text-align: center;
      color: #4caac6;
      font-size: 1rem;
      font-family: "mulish-regular";
    }
  }
}
.form_tasacion_cnt {
  width: 100%;
  position: relative;
  background-color: #fff;
  .container_patente {
    padding: 1.375rem;
    background-color: white;
    border-radius: 0.625rem;
    margin-left: 0rem;
    width:100%;
    .label_form {
      font-size: 0.875rem;
      font-family: "mulish-regular";
      font-weight: 300;
      color: #000000;
    }
    .input_form {
      border: 0.8px solid #4caac6;
      height: 2rem;
    }
    .btn-secondary {
      width: 100%;
      height: 36px;
      background: #4caac6;
      border: 1px solid #4caac6;
      font-size: 1rem;
      color: white;
      padding: 0;
      font-family: "mulish-bold";
    }
  }
  .form_tasador {
    background-color: white;
    padding: 1.375rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.7);
    .form-group {
      padding: 0;
      background-color: white;
      border-radius: 0.625rem;
      margin-bottom: 0.5rem;
      .label-form {
        font-size: 0.875rem;
        font-family: "mulish-regular";
        font-weight: 300;
        color: #000000;
      .text-blue {
        color:#4caac6         }
      }
      .custom-select-xl {
        border: 0.8px solid #4caac6;
      }
      .input-form-small {
        border: 0.8px solid #4caac6;
        height: 2rem;
      }
      .custom-select-b {
        display: inline-block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        vertical-align: middle;
        background: #fff url(../../../../../src/assets/icons/icono_vector.svg) right 0.75rem center/8px 10px no-repeat;	
        border: 1px solid #4caac6;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        &.custom-select-xl-b {
          height: 2rem;
          line-height: 1rem;
          color: #6C757D;
          &:disabled {
            opacity: 1;
          }
          &:focus-visible {
            outline: none;
          }
        }
      }
    }
  }

  
  .term-container {
    padding: 1rem 0 0;

    .terms-text {
      width: 100%;
      padding-left: 25px;
      line-height: 20px;
    }
    .terms-link {
      color: #36383c;
      text-decoration: underline;
      text-decoration: none;
      color: #4caac6;
      font-family: "mulish-bold";
      transition: 0.5s ease all;
    }
  }
  .btn {
    width: 100%;
    &:first-child {
      margin-bottom: 1rem;
      width: 100%;
      height: 36px;
      border: 1px solid #4caac6;
      font-size: 1rem;
      color: #4caac6;
      padding: 0;
      font-family: "mulish-bold";
    }
    &:last-child {
      margin-bottom: 1rem;
      width: 100%;
      height: 36px;
      background: #4caac6;
      border: 1px solid #4caac6;
      font-size: 1rem;
      color: white;
      padding: 0;
      font-family: "mulish-bold";
    }
  }
}  
.icon_cnt {
  display: flex;
  width: 100%;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1.375rem;
  background-color: #fff;
  .tittle {
    text-align: center;
    color: #4caac6;
    font-size: 1.5rem;
    font-family: "mulish-bold";
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .tittle_com {
    text-align: center;
    color: #4caac6;
    font-size: 1.5rem;
    font-family: "mulish-bold";
    margin-bottom: 0;
    margin-top: 0;
  }
  .subtitle {
    text-align: center;
    color: #4caac6;
    font-size: 1rem;
    font-family: "mulish-regular";
    margin-bottom: 0;
  }
  .icon {
    font-size: 10rem;
    color: #4caac6;
    margin-top: 1.5rem;
  }
}

@media (min-width: 800px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 80%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
        .title {
          text-align: left;
          margin-bottom: 0;
          font-size: 40px;
        }
        .subtitle {
          text-align: left;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
      .info{
        display:flow-root;
        width: 95%;
        padding: 1.625rem;
        background-color: var(--brand-blue);
        margin-left: 2rem;
        border-radius: 0.625rem;
        .tittle {
          color: #fff;
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 0;
          //margin-top: 1rem;
        }
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mavenpro-regular", sans-serif;
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          .info-logo {
            padding:1rem;
          }
        }
      }
    }
    .derecha{

      .form_buscador{
        .container_patente{
          margin-top: 3rem;
          display: flex;
          padding: 1rem;
          margin-left: 0rem;
          width: 100%;
        }
      }
      .form_tasador{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        .term-container {
          padding: 1rem 0 0;
      
          .terms-text {
            width: 100%;
            padding-left: 25px;
            line-height: 20px;
            font-size: 0.875rem;
          }
          .terms-link {
            font-size: 0.875rem;
          }
        }
        .btn {
          width: 100%;
          &:first-child {
            margin-bottom: 0.5rem;

          }
          &:last-child {
            margin-bottom: 0rem;

          }
        }
      }

      .icon_cnt{
        display:none;
      }
    }
    
  }
  
  
}

  

