.spincar-container {
  border: 0px;
  height: 620px;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .spincar-container {
    height: 520px;
  }
}

@media (max-width: 768px) {
  .spincar-container {
    height: 400px;
  }
}

@media (max-width: 540px) {
  .spincar-container {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .spincar-container {
    height: 210px;
  }
}

@media (max-width: 375px) {
  .spincar-container {
    height: 195px;
  }
}

@media (max-width: 360px) {
  .spincar-container {
    height: 185px;
  }
}

@media (max-width: 320px) {
  .spincar-container {
    height: 160px;
  }
}
