.img-banner {
  background-image: url("/assets/images/banner_principal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;

  .container {
    .container-banner {
      display: flex;
      flex-direction: column;
      max-width: 590px;

      .container-titles {
        background-image: url("../../../../assets/images/corchete_banner_principal.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: content-box;
        padding-top: 10px;
        padding-bottom: 10px;

        .container-banner-titles {
          flex-direction: column;
          padding-left: 20px;

          .banner-title {
            color: var(--brand-cyan);
            font-family: "mavenpro-bold", sans-serif;
            font-size: 52px;
            letter-spacing: -0.59px;
            line-height: 54px;
            margin-top: 20px;
            margin-bottom: 10px;
          }
          .banner-subtitle {
            color: white;
            font-family: "mavenpro-regular", sans-serif;
            font-size: 20px;
            letter-spacing: -0.25px;
            line-height: 26px;
            margin-top: 10px;
            margin-bottom: 30px;
            max-width: 490px;
            font-weight: bold;
          }
        }
      }

      .container-buttons {
        margin-top: 10px;

        .btn-secondary {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .img-banner {
    background-image: url("/assets/images/banner_principal_mobile.jpg");
    padding-top: 240px;
    padding-bottom: 30px;
    .container {
      .container-banner {
        .container-titles {
          .container-banner-titles {
            .banner-title {
              margin-top: 10px;
              margin-bottom: 5px;
              font-size: 38px;
            }
            .banner-subtitle {
              margin-top: 5px;
              margin-bottom: 15px;
              font-size: 18px;
            }
          }
        }
        .container-buttons {
          width: 270px;
          .btn-secondary {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
