<section class="img-banner">
  <div class="container">
    <section class="container-banner">
      <section class="container-titles">
        <section class="container-banner-titles">
          <p class="banner-title">{{ bannerHome.Titulo }}</p>
          <p class="banner-subtitle">
            {{ bannerHome.Subtitulo }}
          </p>
        </section>
      </section>
      <section class="container-buttons">
        <button
          class="btn btn-primary btn-quierocomprar"
          (click)="redirecciona(bannerHome.Boton1URL)"
        >
          {{ bannerHome.Boton1Texto }}
        </button>
        <button
          class="btn btn-secondary btn-quierovender"
          (click)="redirecciona(bannerHome.Boton2URL)"
        >
          {{ bannerHome.Boton2Texto }}
        </button>
      </section>
    </section>
  </div>
</section>
