.filtro-tipo-vehiculo-container {
  .filtro-tipo-vehiculo-item {
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
    }
    .titulo-elemento-tipo-vehiculo {
      color: var(--brand-blue);
      font-family: "mavenpro-regular", sans-serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.18px;
      line-height: 19px;
      text-align: center;
    }
  }
}

@media (max-width: 991px) {
  .filtro-tipo-vehiculo-container {
    .filtro-tipo-vehiculo-item {
      img {
        width: auto;
      }
    }
  }
}
