<section class="filtro-tipo-vehiculo-container">
  <div class="row justify-content-lg-center">
    <div
      class="col-lg-2 col-md-4 col-sm-6"
      *ngFor="let vehiculo of tipoVehiculos"
    >
      <div
        class="filtro-tipo-vehiculo-item"
        (click)="tipoSeleccionado(vehiculo)"
      >
        <img alt="" [src]="vehiculo.Thumbnail.url" />
        <p class="titulo-elemento-tipo-vehiculo">
          {{ vehiculo.Nombre }}
        </p>
      </div>
    </div>
  </div>
</section>
