<section class="filtro-precio-container">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="cerrarDropdown()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <app-range [opciones]="opciones"></app-range>
    </div>
  </div>
</section>
