@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4tqp9h');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4tqp9h#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4tqp9h') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4tqp9h') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4tqp9h##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag-peso {
  &:before {
    content: $icon-tag-peso; 
  }
}
.icon-comodo {
  &:before {
    content: $icon-comodo; 
  }
}
.icon-verification {
  &:before {
    content: $icon-verification; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-tcs {
  &:before {
    content: $icon-tcs; 
  }
}
.icon-srs {
  &:before {
    content: $icon-srs; 
  }
}
.icon-next {
  &:before {
    content: $icon-next; 
  }
}
.icon-engine {
  &:before {
    content: $icon-engine; 
  }
}
.icon-dct {
  &:before {
    content: $icon-dct; 
  }
}
.icon-back {
  &:before {
    content: $icon-back; 
  }
}
.icon-abs {
  &:before {
    content: $icon-abs; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-credit {
  &:before {
    content: $icon-credit; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-wizard-check {
  &:before {
    content: $icon-wizard-check; 
  }
}
.icon-nro_5 {
  &:before {
    content: $icon-nro_5; 
  }
}
.icon-nro_4 {
  &:before {
    content: $icon-nro_4; 
  }
}
.icon-nro_3 {
  &:before {
    content: $icon-nro_3; 
  }
}
.icon-nro_2 {
  &:before {
    content: $icon-nro_2; 
  }
}
.icon-nro_1 {
  &:before {
    content: $icon-nro_1; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-exclamation {
  &:before {
    content: $icon-exclamation; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}

