$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-tag-peso: "\e918";
$icon-comodo: "\e919";
$icon-verification: "\e91a";
$icon-close: "\e917";
$icon-tcs: "\e90e";
$icon-srs: "\e90f";
$icon-next: "\e910";
$icon-engine: "\e911";
$icon-dct: "\e912";
$icon-back: "\e913";
$icon-abs: "\e915";
$icon-home: "\e906";
$icon-phone: "\e907";
$icon-credit: "\e908";
$icon-check: "\e909";
$icon-facebook: "\e90a";
$icon-instagram: "\e90c";
$icon-linkedin: "\e90d";
$icon-wizard-check: "\e900";
$icon-nro_5: "\e901";
$icon-nro_4: "\e902";
$icon-nro_3: "\e903";
$icon-nro_2: "\e904";
$icon-nro_1: "\e905";
$icon-info: "\e914";
$icon-exclamation: "\e90b";
$icon-minus: "\e916";

