<section class="banner-container">
  <div class="container">
    <div class="container-titles">
      <p class="banner-title"><span class="corchete"></span>CONTACTO</p>
    </div>
  </div>
</section>
