.app-form {
    font-family: "mavenpro-regular", sans-serif;
    b {
        font-family: "mavenpro-bold", sans-serif;
        font-size: .9rem;
    }
    small {
        line-height: 1;
    }
    .input-group-text, .form-control {
        border: 1px solid var(--brand-cyan2);
    }
    .infoError{
        color: #F00;
    }
}
::ng-deep .carousel-control {
    display: none;
}
.encuesta {
    input[type="radio"] {
        display: block;
        margin: auto;
    }
    .card {
        img {
            max-height: 2.4rem;
            margin-top: 1rem;
        }
        .card-footer {
            min-height: 11rem;
        }
    }
}
.app-form-rechazo, .app-form-oferta, .app-form-prenda {
    .row {
        padding: 1rem .8rem;
    }
    .title {
        text-align: center;
    }
    .subTitle {
        text-align: center;
        display: block;
        font-family: "mavenpro-bold", sans-serif;
    }
    .detail {
        font-size: .9rem;
        margin: 0;
    }
}
.btn-secondary {
    height: 36px;
    background: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    font-size: 1rem;
    color: white;
    padding: 0;
    font-family: "mavenpro-bold", sans-serif;
    &:hover {
        color: var(--brand-blue) !important;
    }
}
.btn-lg {
    height: 48px !important;
}