<div *ngIf="vistaDisplay == vista.formulario" class="col-12 app-form">
    <div class="row">
        <div class="col-12">
            <label class="form-label label-auto-parte" for="appPatente"><b>Ingresar patente</b> (Opcional)</label>
        </div>
        <div class="col-12 mb-2">
            <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Ej: HPDR45"
                id="appPatente"
                maxlength="6"
                [(ngModel)]="selectPatente"
            />
            <small class="infoError" *ngIf="infoError">{{ infoError }}</small>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
            <button class="btn btn-secondary btn-lg w-100" [disabled]="esbusquedaPatente" (click)="consultarPatente()">Buscar</button>
        </div>
        <div class="col-12 col-md-6">
            <button class="btn btn-primary btn-lg w-100" (click)="limpiarPatente()">Limpiar</button>
        </div>
        <div class="col-12">
            <p><small>*No recibimos vehículos con pérdida total, o que se hayan registrado como colectivos, taxis o radiotaxis.</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-2">
            <label class="form-label label-auto-parte" for="anio"><b>Año</b><span>*</span></label>
            <select id="anio" class="form-control" [disabled]="esbusquedaPatente" [(ngModel)]="selectAgno" (change)="changeAnio()">
                <option value="-1">Selecciona</option>
                <option 
                    *ngFor="let anio of agnos" 
                    [value]="anio"
                >{{ anio }}</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label class="form-label label-auto-parte" for="marca"><b>Marca</b><span>*</span></label>
            <select id="marca" class="form-control" [disabled]="esbusquedaPatente" [(ngModel)]="selectMarca" (change)="changeMarca()">
                <option value="-1">Selecciona</option>
                <option 
                    *ngFor="let marca of marcas" 
                    [value]="marca.id"
                >{{ marca.nombre }}</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label class="form-label label-auto-parte" for="modelo"><b>Modelo</b><span>*</span></label>
            <select id="modelo" class="form-control" [disabled]="esbusquedaPatente" [(ngModel)]="selectModelo" (change)="changeModelo()">
                <option value="-1">Selecciona</option>
                <option 
                    *ngFor="let modelo of modelos" 
                    [value]="modelo.id"
                >{{ modelo.nombre }}</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label class="form-label label-auto-parte" for="version"><b>Versión</b><span>*</span></label>
            <select id="version" class="form-control" [(ngModel)]="selectVersion">
                <option value="-1">Selecciona</option>
                <option 
                    *ngFor="let version of versiones" 
                    [value]="version.id"
                >{{ version.nombre }}</option>
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label label-auto-parte" for="kilometraje"><b>Kilometraje</b><span>*</span></label>
            <select id="kilometraje" class="form-control" [(ngModel)]="selectKm">
                <option value="-1">Selecciona</option>
                <option 
                    *ngFor="let kilo of kilometraje" 
                    [value]="kilo.Valor"
                >{{ kilo.Descripcion }}</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 encuesta">
            <carousel 
                [(activeSlide)]="activeSlide" 
                [interval]="0"
                >
                <slide *ngFor="let pregunta of preguntas; let index=index">
                    <div class="row text-center">
                        <div class="col-12 mb-3">
                            <h5>{{pregunta.pregunta}}</h5>
                        </div>
                        <div class="col-12">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col mb-2" *ngFor="let alternativa of pregunta.alternativas">
                                    <div class="card h-100">
                                        <img *ngIf="alternativa.imagen" alt="" [src]="'/assets/images/app/' + alternativa.imagen" />
                                        <div class="card-body">
                                            <label [for]="index + '_' + alternativa.id" class="card-text">{{alternativa.alternativa}}</label>
                                            <input type="radio" [id]="index + '_' + alternativa.id" [name]="index" (click)="seleccionOpcion(pregunta.id, alternativa.id)"/>
                                        </div>
                                        <div *ngIf="alternativa.descripcion" class="card-footer">
                                            <small class="card-text">{{alternativa.descripcion}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>
            <div class="col-12 text-center mt-3">
                <button *ngIf="!ultimaAlternativa()" class="btn btn-primary" [disabled]="disableBtn" (click)="nextSlide()">Siguiente</button>
                <button *ngIf="ultimaAlternativa()" class="btn btn-secondary" [disabled]="!encuestaCompletada() || !datosCompletos()" (click)="obtenerValorTasador()">Obtener Oferta</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="vistaDisplay == vista.oferta" class="col-12 scroll-view app-form-oferta">
    <div class="row text-center">
        <div class="col-12">
            <h4 class="title">Tenemos una oferta para ti.</h4>
        </div>
        <div class="col-12">
            <h5>{{resumen.marca}} {{resumen.modelo}}</h5>
        </div>
        <div class="col-12 mb-2">
            <span class="version">{{resumen.version}}</span>
        </div>
        <div class="col-12">
            <span>{{resumen.anio}} | {{resumen.kilometraje | number: "":"es"}} KM</span>
        </div>
        <div class="col-12">
            <h2>${{resumen.valorFinal | number: "":"es"}}</h2>
        </div>
        <div *ngIf="esPrenda" class="col-12">
            <b>Vehículo en Prenda AGREGAR TEXTO AQUÍ</b>
        </div>
        <div class="col-12 mb-2">
            <small>*Valor sujeto a cambios según inspección realizada.</small>
        </div>
        <div *ngIf="!appAceptada" class="col-12 text-center mt-2 mb-2">
            <button class="btn btn-secondary" (click)="aceptarApp()">Aceptar oferta</button>
        </div>
        <div *ngIf="!appAceptada" class="col-12 text-center mt-2">
            <button class="btn btn-primary" (click)="inicia()">No acepta oferta</button>
        </div>
    </div>
</div>
<div *ngIf="vistaDisplay == vista.rechaza" class="col-12 scroll-view app-form-rechazo">
    <div class="row">
        <div class="col-12">
            <h4 class="title">Lo sentimos :(</h4>
        </div>
        <div class="col-12">
            <span class="subTitle">No podemos recibir su vehículo</span>
        </div>
        <div class="col-12 text-center mt-2">
            <p class="detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at suscipit dolor. Maecenas ac accumsan nisi.</p>
        </div>
        <div class="col-12 text-center mt-2">
            <button class="btn btn-primary" (click)="inicia()">Volver</button>
        </div>
    </div>
</div>