.text-color-car1 {
  color: var(--brand-cyan2) !important;
}
.title-module{
  text-align: center;
  color: var(--brand-marine);
  font-size: 1.5rem;
    font-family: "mavenpro-bold", sans-serif;
    margin-bottom: 0;
    margin-top: 3rem;
  
}
.container-tasador {
  background-color: transparent;
  padding: 20px 0 40px 0;

  .title-tasador {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 1.2;
    text-align: center;
  }

  .subtitle-tasador {
    color: var(--brand-marine);
    font-family: "mavenpro-regular", sans-serif;
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 1.2;
    text-align: center;
  }

  .campos-obligatorios {
    padding: 0 6.5rem;
    color: #fe6666;
    font-family: "mavenpro-bold", sans-serif;
    font-size: 12px;
    letter-spacing: -0.14px;
    line-height: 25px;
    margin: 0;
  }

  .label-form {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 16px;

    span {
      color: #fe6666;
    }
    .opcional {
      margin-left: 0.5rem;
      color: var(--brand-blue);
      font-size: 0.875rem;
      font-weight: 100;
    }
  }

  .input-form {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 16px;
    padding: 25px 20px;
  }

  .input-form-small {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
  }

  .btn.btn-primary[disabled]:hover,
  .btn.btn-secondary[disabled]:hover {
    cursor: not-allowed;
  }

  .container-patente {
    box-sizing: border-box;
    border: 1px solid #d9dde9;
    border-radius: 10px;
    margin: 0;
    padding: 20px 6.5rem;

    .container-patente-detail {
      float: right;
      margin-right: 10px;
      width: 100%;
    }
    .btn.btn-secondary {
      height: 52px;
      margin-top: 28px;
      margin-left: 10px;
      width: 100%;
    }
  }

  .form-tasador {
    .form-row {
      padding: 0 6.5rem;
      & > div:nth-child(odd) {
        padding-right: 15px;
      }

      & > div:nth-child(even) {
        padding-left: 15px;
      }
      &.form-row--no_pad {
        padding: 0 1.5rem;
      }
    }
  }

  .last_form_group {
    margin-bottom: 0;
  }

  .button-container {
    .btn-secondary {
      margin-right: 15px;
    }

    .btn-primary {
      margin-left: 15px;
    }
  }

  #patente {
    text-transform: uppercase;
  }

  .term-container {
    padding: 1.25rem 6.5rem;

    .terms-text {
      width: 60%;
      padding-left: 25px;
      line-height: 20px;
    }
    .terms-link {
      color: #36383c;
      text-decoration: underline;
      transition: 0.5s ease all;
      &:hover {
        color: var(--brand-blue);
      }
    }
  }

  .invalid-email {
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
  }
  
  .invalid-feedback {
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
  }

  .flujo-agenda-link {
    cursor: pointer;
    font-family: "mavenpro-bold", sans-serif;
  }

  .alert_whatsapp {
    color: #bf8f05;
    text-decoration: none;
    font-family: "mavenpro-bold", sans-serif;
  }

  .warning-tyc {
    border-color: #dc3545;
  }

  .warning-tyc-text {
    color: #fe6666;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 12px;
  }
}

.bg-venta {
  background: #f2f8f8;
  border-radius: 9px;
  padding: 30px 0 60px;
}

.alert_cnt {
  width: 100%;
  padding: 0 6.5rem;
}

.alert {
  margin-bottom: 40px;
}

.container-alert {
  align-items: center;
  display: flex;
  .icon-container-alert {
    display: flex;
    img {
      height: 25px;
      width: 25px;
      max-height: 150px;
    }
  }
  .texto-alert {
    line-height: 16px;
    margin: 0px 0 0 15px;
  }
  .texto-alert-whatsapp {
    font-size: 1.25rem;
    line-height: 24px;
    margin: 0px 0 0 15px;
  }
}

@media (max-width: 1199px) {
  .container-tasador {
    .container-patente {
      padding: 1.5rem 1.5rem;
      .container-patente-detail {
        float: none;
        width: auto;
      }
    }
  }
}

// @media (max-width: 991px) {
//   .container-tasador {
//     .campos-obligatorios {
//       padding: 0 1.5rem;
//     }
//     .term-container {
//       padding: 0 1.5rem;
//       margin-top: 10px;
//       .terms-text {
//         width: 100%;
//       }
//     }
//     .container-patente {
//       padding: 1.5rem 1.5rem;
//       .container-patente-detail {
//         width: 100%;
//       }
//       .btn.btn-secondary {
//         height: 52px;
//         margin: 10px 0;
//         width: 100%;
//       }
//     }

//     .form-tasador {
//       .form-row {
//         padding: 0 1.5rem;
//         & > div:nth-child(odd) {
//           padding-right: 5px;
//         }

//         & > div:nth-child(even) {
//           padding-left: 5px;
//         }
//       }
//     }

//     .alert_cnt {
//       padding: 0 1.5rem;
//     }
//     .button-container {
//       padding: 0 5px;
//       .btn-secondary {
//         margin: 20px 0px;
//         width: 100%;
//       }

//       .btn-primary {
//         margin: 0;
//         width: 100%;
//       }
//     }
//   }
// }

// @media (max-width: 740px) {
//   .container-tasador {
//     .title-tasador {
//       font-size: 30px;
//       line-height: 30px;
//     }
//     .subtitle-tasador {
//       font-family: "mavenpro-regular", sans-serif;
//       font-size: 16px;
//       line-height: 1.2;
//     }
//   }
// }

@media (max-width: 499px) {
  .container-tasador {
    .title-tasador {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
@media (max-width: 600px) {
  .container-tasador {
    padding-top: 0 !important;

  }
}
 /*Nuevo Tasador*/
 .form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  .info{
    display: none;
  }
  .header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .img_cnt {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      .img {
        width: 50%;
        text-align: center;
      }
    }
    .title {
      text-align: center;
      color: var(--brand-blue);
      font-size: 1.5rem;
      font-family: "mavenpro-bold",sans-serif;
      margin-bottom: 0;
    }
    .subtitle {
      text-align: center;
      color: var(--brand-blue);
      font-size: 1rem;
      font-family: "mavenpro-regular",sans-serif;
    }
  }
}
.form_tasacion_cnt {
  width: 100%;
  position: relative;
  background-color: #fff;
  .container_patente {
    padding: 1.375rem;
    background-color: white;
    border-radius: 0.625rem;
    margin-left: 0rem;
    width:100%;
    .label_form[for='patente'] {
      font-size: 1.1rem;
    }
    .label_form {
      font-size: 0.875rem;
      font-family: "mavenpro-regular",sans-serif;
      font-weight: 300;
      color: var(--brand-blue);
    }
    .input_form {
      border: 0.8px solid var(--brand-blue);
      height: 2rem;
    }
    .btn-secondary {
      width: 100%;
      height: 36px;
      background: var(--brand-blue);
      border: 1px solid var(--brand-blue);
      font-size: 1rem;
      color: white;
      padding: 0;
      font-family: "mavenpro-bold",sans-serif;
    }
  }
  .form_tasador {
    background-color: white;
    padding: 1.375rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.7);
    margin-top: 1.5rem !important;
    .form-group {
      padding: 0;
      background-color: white;
      border-radius: 0.625rem;
      margin-bottom: 0.5rem;
      .label-form {
        font-size: 1.1rem;
        font-family: "mavenpro-regular",sans-serif;
        font-weight: 300;
        color: #000000;
        .text-blue {
          color:var(--brand-blue)
        }
      }
      .custom-select-xl {
        border: 0.8px solid var(--brand-cyan2);
      }
      .input-form-small {
        border: 0.8px solid var(--brand-cyan2);
        height: 2rem;
      }
      .custom-select-b {
        display: inline-block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        vertical-align: middle;
        background: #fff url(../../../../../src/assets/icons/icono_vector.svg) right 0.75rem center/8px 10px no-repeat;	
        border: 1px solid var(--brand-cyan2);
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        &.custom-select-xl-b {
          height: 2rem;
          line-height: 1rem;
          color: #6C757D;
          &:disabled {
            opacity: 1;
          }
          &:focus-visible {
            outline: none;
          }
        }
      }
    }
  }

  
  .term-container {
    padding: 1rem 0 0;

    .terms-text {
      width: 100%;
      padding-left: 25px;
      line-height: 20px;
    }
    .terms-link {
      text-decoration: underline;
      text-decoration: none;
      color: var(--brand-blue);
      font-family: "mavenpro-bold",sans-serif;
      transition: 0.5s ease all;
    }
  }
  .btn {
    width: 100%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-secondary_nuevo {
    margin-bottom: 1rem;
    width: 100%;
    height: 36px;
    font-size: 1rem;
    color: var(--brand-blue);
    padding: 0;
    font-family: "mavenpro-bold",sans-serif;
    border: 1px solid #fff;
    &:hover {
      border-color: var(--brand-blue);
      background-color: #e6e6e6;
    }
  }
  .btn-primary2 {
    margin-bottom: 1rem;
    width: 100%;
    height: 36px;
    background: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    font-size: 1rem;
    color: white;
    padding: 0;
    font-family: "mavenpro-bold",sans-serif;
  }
}  
.elegirnos {
  .imagen {
    text-align: center;
  }
  .subtitulo {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .detalle {
    text-align: center;
    p {
      margin: .5rem 0 .5rem 0;
      font-family: "mavenpro-regular", sans-serif;
    }
  }
  .separador {
    border-bottom: 4px solid var(--brand-cyan);
    margin-top: .9rem;
  }
}

.restricciones {
  color: var(--brand-blue);
  font-size: .9rem;
  text-align: center;
  .title {
    font-family: "mavenpro-bold", sans-serif;
  }
  .detail {
    font-family: "mavenpro-regular", sans-serif;
  }
}

@media (max-width: 991px) {
  .title-module {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 90%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
        .title {
          text-align: left;
          margin-bottom: 0;
          font-size: 40px;
        }
        .subtitle {
          text-align: left;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
      .info{
        display:flow-root;
        width: 90%;
        padding: 1.625rem;
        background-color: var(--brand-blue);
        margin-left: 2rem;
        border-radius: 0.625rem;
        min-height: 55.5rem;
        height: 95.6%;
        .tittle {
          color: #fff;
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          margin-bottom: 0;
          //margin-top: 1rem;
        }
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mavenpro-bold", sans-serif;
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mavenpro-regular", sans-serif;
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          margin-top: -0.5rem;
          .info-logo {
            padding:1rem;
          }
          .info-img-container {
            position: relative;
            top: -10px;
          }
          ul {
            list-style: none;
            li {
              font-family: "mavenpro-regular", sans-serif;
              color: #fff;
              &:before {
                content: "\2022";
                color: var(--brand-cyan2);
                font-weight: bold;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
              }
            }
          }
        }
        .info-img {
          display: block;
          color: #fff;
          text-align: center;
          font-family: "mavenpro-regular", sans-serif;
          font-size: .7rem;
        }
      }
    }
    .derecha{
      margin-left: 10px;
      .form_buscador{
        .container_patente{
          margin-top: -0.5rem;
          display: flex;
          padding: 1rem;
          margin-left: 0rem;
          width: 100%;
        }
      }
      .form_tasador{
        margin-top: -1.5rem;
        margin-bottom: 2.5rem;
        .term-container {
          padding: 1rem 0 0;
      
          .terms-text {
            width: 100%;
            padding-left: 25px;
            line-height: 20px;
            font-size: 0.875rem;
          }
          .terms-link {
            font-size: 0.875rem;
          }
        }
        .btn {
          width: 100%;
          &:first-child {
            margin-bottom: 0.5rem;

          }
          &:last-child {
            margin-bottom: 0rem;

          }
        }
      }
      .elegirnos{
        display:none;
      }
    }
    
  }
  
  
}

.img-car{
  max-width: 60rem;
  width: 100%;
  height: auto;
 
  border-radius: 10px;
}

.bg-vende {
  background: url('/assets/images/vehiculo-cotizador.jpg') no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  height: 200px;
  h1 {
    color: var(--brand-cyan);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 2.2rem;
  }
  p {
    color: #fff;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 1.1rem;
  }
  h1, p {
    background-color: rgba(0,0,0,0.5);
    padding-left: 10px;
    padding-right: 10px;
  }
}
h2, h3 {
  color: var(--brand-blue);
  text-align: center;
  font-family: "mavenpro-bold", sans-serif;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
.tres-pasos {
  h2 {
    margin-bottom: 1.4rem;
  }
  .tres-pasos-item {
    font-family: "mavenpro-regular", sans-serif;
    .row {
      display: flex;
      justify-content: center;
    }
    .number-item {
      span {
        color: var(--brand-blue);
        background-color: var(--brand-cyan);
        padding: 0.7rem 0.5rem;
        border-radius: 2rem;
        display: block;
        text-align: center;
        max-width: 3rem;
        margin: 6px auto;
        font-weight: 600;
      }
    }
    .detail-item {
      span {
        font-family: "mavenpro-bold", sans-serif;
        color: var(--brand-blue);
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}