<!--Nuevo tasador-->
<section class="form_tasacion container-tasador">
  <section class="izquierda pt-0 pt-md-5">
    <article class="info">
      <div>
        <p class="tittle text-center mb-3 text-color-car1">¿Por qué elegirnos?</p>
      </div>
      <div class="info-texto">
        <div class="info-img-container">
          <img src="/assets/images/noun_secure_Blanco-01.png" class="img-fluid" />
          <span class="info-img">Seguro</span>
        </div>
        <div class="info-logo">
          <p class="subtitle">
            No subas a extraños a tu auto ni te arriesgues a robos o estafas. Véndelo a una empresa confiable.
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div class="info-img-container">
          <img src="/assets/images/noun_speed_Blanco-01.png" class="img-fluid" />
          <span class="info-img">Rápido</span>
        </div>
        <div class="info-logo">
          <p class="subtitle">
            Recibe una oferta de inmediato, realiza los trámites online y recibe el pago en menos de una hora.
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div class="info-img-container">
          <img src="/assets/images/noun_Sofa_Blanco-01.png" class="img-fluid" />
          <span class="info-img">Cómodo</span>
        </div>
        <div class="info-logo">
          <p class="subtitle">
            Inspeccionamos tu auto por videollamada o presencial en nuestra sucursal de Las Condes y retiramos a domicilio.
          </p>
        </div>
      </div>
      <div>
        <p class="subtittle mb-3 text-color-car1">Por el momento no compramos vehículos:</p>
      </div>
      <div class="info-texto mt-2">
        <div>
          <ul>
            <li>Modelos anteriores al 2012.</li>
            <li>Declarados como pérdida total o con daños mayores.</li>
            <li>Intervenidos.</li>
            <li>Con restricción de Zona Franca.</li>
            <li>Del registro nacional de transporte público.</li>
            <li>Eléctricos.</li>
          </ul>
          <img
            class="img-car"
            src="../../../../assets/images/form_tasador.png"
            alt="imagen de formulario de tasación de venta de autos"
          />
        </div>
      </div>
    </article>
  </section>
  <section class="derecha">
    <div class="row d-flex justify-content-center align-items-center d-block d-sm-none bg-vende">
      <div class="col-12 p-0">
        <h1>Vende tu auto hoy</h1>
        <p>Cotiza, agenda una inspección y recibe el pago en 1 hora.</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <div class="form-col container_pasos">
          <p class="title-module">Conoce el valor de tu auto</p>
        </div>
      </div>
    </div>
    <section class="form_tasacion_cnt container">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <form
            class="mt-1 mb-4 form_buscador"
            [formGroup]="patenteForm"
            (ngSubmit)="buscaPatente()"
          >
            <div class="form-row container_patente">
              <div class="col-lg-12 form-group">
                <div class="container-patente-detail">
                  <label for="patente" class="label_form"
                    >Patente<span class="opcional" *ngIf="esVenta"
                      >(Opcional)</span
                    ></label
                  >
                  <input
                    type="text"
                    class="form-control input_form"
                    [ngClass]="{
                      'is-invalid':
                        ((!!patenteForm.get('patente')?.errors?.pattern ||
                          !!patenteForm.get('patente')?.errors
                            ?.patenteAntigua) &&
                          patenteForm.get('patente')?.touched) ||
                        (!!patenteForm.get('patente')?.errors?.required &&
                          isSubmitted) ||
                        patenteSinDatos
                    }"
                    id="patente"
                    placeholder="Ej: HPDR45"
                    formControlName="patente"
                    maxLength="6"
                    (input)="limpiaMensajePatente()"
                  />
                  <div
                    *ngIf="
                      !patenteSinDatos &&
                      !patenteForm.get('patente')?.errors?.patenteAntigua
                    "
                    class="invalid-feedback"
                  >
                    Por favor, introduce una patente v&aacute;lida
                  </div>
                  <div *ngIf="patenteSinDatos" class="invalid-feedback">
                    No se encontr&oacute; informaci&oacute;n para la patente, ingresa el a&ntilde;o, marca, modelo, versi&oacute;n y kilometraje para conocer tu oferta
                  </div>
                  <div
                    *ngIf="
                      !patenteSinDatos &&
                      !!patenteForm.get('patente')?.errors?.pattern &&
                      !!patenteForm.get('patente')?.errors?.patenteAntigua
                    "
                    class="invalid-feedback"
                  >
                    Upssss, no recibimos veh&iacute;culos de estos a&ntilde;os
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <button
                  type="submit"
                  [ngClass]="{
                    'btn-buscarcomprador': !esVenta,
                    'btn-buscar': esVenta
                  }"
                  [disabled]="disableBuscar"
                  class="btn btn-secondary btn-buscarpatente"
                >
                  Buscar mi patente
                </button>
              </div>
            </div>
          </form>
          <form
            class="form_tasador"
            [formGroup]="tasadorForm"
            (ngSubmit)="realizaTasacion()"
          >
            <div class="form-row">
              <div class="col-lg-12 col-md-12 form-group">
                <label for="anio" class="label-form"
                  >A&ntilde;o<span class="text-blue">*</span></label
                >
                <select
                  class="custom-select-b custom-select-xl-b"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('anio')?.errors?.required &&
                      isSubmittedTasacion
                  }"
                  formControlName="anio"
                  (change)="onChangeAnio()"
                >
                  <option selected="true" disabled="disabled" value="">
                    Seleccione a&ntilde;o
                  </option>
                  <option *ngFor="let anio of anios" [value]="anio.id">
                    {{ anio.nombre }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona un a&ntilde;o
                </div>
              </div>
              <div class="col-lg-12 form-group">
                <label for="marca" class="label-form"
                  >Marca<span class="text-blue">*</span></label
                >
                <select
                  class="custom-select-b custom-select-xl-b"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('marca')?.errors?.required &&
                      isSubmittedTasacion
                  }"
                  formControlName="marca"
                  (change)="onChangeMarca()"
                >
                  <option selected="true" disabled="disabled" value="">
                    Seleccione marca
                  </option>
                  <option *ngFor="let marca of marcas" [value]="marca.id">
                    {{ marca.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="modelo" class="label-form"
                  >Modelo<span class="text-blue">*</span></label
                >
                <select
                  class="custom-select-b custom-select-xl-b"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('modelo')?.errors?.required &&
                      isSubmittedTasacion
                  }"
                  formControlName="modelo"
                  (change)="onChangeModelo()"
                >
                  <option selected="true" disabled="disabled" value="">
                    Seleccione modelo
                  </option>
                  <option *ngFor="let modelo of modelos" [value]="modelo.id">
                    {{ modelo.nombre }}
                  </option>
                </select>
              </div>
              <div class="col-lg-12 form-group">
                <label for="kilometraje" class="label-form"
                  >Kilometraje<span class="text-blue">*</span></label
                >
                <select
                  class="custom-select-b custom-select-xl-b"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('kilometraje')?.errors?.required &&
                      isSubmittedTasacion
                  }"
                  formControlName="kilometraje"
                  (change)="onChangeKilometraje()"
                >
                  <option selected="true" disabled="disabled" value="">
                    Seleccione km
                  </option>
                  <option
                    *ngFor="let item of valoresSelectKilometraje"
                    [value]="item.id"
                  >
                    {{ item.valor }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona el kilometraje
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="version" class="label-form"
                  >Versi&oacute;n<span class="text-blue">*</span></label
                >
                <select
                  class="custom-select-b custom-select-xl-b"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('version')?.errors?.required &&
                      isSubmittedTasacion
                  }"
                  formControlName="version"
                  (change)="onChangeVersion()"
                >
                  <option selected="true" disabled="disabled" value="">
                    Seleccione versi&oacute;n
                  </option>
                  <option
                    *ngFor="let version of versiones"
                    [value]="version.id"
                  >
                    {{ version.nombre }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona una versi&oacute;n
                </div>
              </div>

              <div 
              *ngIf="esVenta"
              class="col-lg-12 form-group">
                <label for="kilometraje" class="label-form"
                  >Correo Electr&oacute;nico<span class="text-blue"
                    >*</span
                  ></label
                >
                <input
                  type="email"
                  class="form-control input-form-small"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('email')?.errors &&
                      tasadorForm.get('email')?.touched
                  }"
                  id="email"
                  placeholder="Ej: correo@ejemplo.com"
                  formControlName="email"
                  maxLength="100"
                  [required]="esVenta"
                />
                <div class="invalid-email" *ngIf="esErrorEmail">
                  Por favor, introduce un email válido
                </div>
                <div class="invalid-feedback">
                  Por favor, introduce un email válido
                </div>
              </div>
            </div>

            <div 
            *ngIf="esVenta"
            class="form-row">
              <div class="col-lg-12 form-group">
                <label for="telefono" class="label-form"
                  >Tel&eacute;fono<span class="text-blue">*</span></label
                >
                <input
                  type="telefono"
                  class="form-control input-form-small"
                  [ngClass]="{
                    'is-invalid':
                      !!tasadorForm.get('telefono')?.errors &&
                      tasadorForm.get('telefono')?.touched
                  }"
                  id="telefono"
                  placeholder="Ej: +56993456789"
                  maxLength="12"
                  formControlName="telefono"
                />
                <div
                  *ngIf="
                    !!tasadorForm.get('telefono')?.errors?.required &&
                    tasadorForm.get('telefono')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, introduce tu teléfono
                </div>
                <div
                  *ngIf="
                    (!!tasadorForm.get('telefono')?.errors?.pattern ||
                      !!tasadorForm.get('telefono')?.errors
                        ?.minlength) &&
                        tasadorForm.get('telefono')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, ingresa +569XXXXXXXX
                </div>
              </div>
            </div>

            <div 
            *ngIf="esVenta"
            class="form-group last_form_group">
              <div class="term-container">
                <label class="label-container terms-text"
                  >Debes Aceptar los
                  <a
                    class="terms-link"
                    [href]="urlPdfTerminosCondiciones"
                    target="_blank"
                    >Términos y condiciones</a
                  >.
                  <input
                    type="checkbox"
                    formControlName="terminosCondiciones"
                    (click)="aceptarTerminosCondiciones()"
                  />
                  <span
                    class="checkmark"
                    [ngClass]="{
                      'warning-tyc':
                        esVenta &&
                        noCheckTerminosCondiciones &&
                        !versionesValidas
                    }"
                  ></span>
                </label>
                <div
                  *ngIf="
                    esVenta && noCheckTerminosCondiciones && !versionesValidas
                  "
                  class="warning-tyc-text"
                >
                  Acepta los t&eacute;rminos y condiciones para continuar
                </div>
              </div>
            </div>
            <section class="alert_cnt">
              <div
                *ngIf="!anioValido || !aniosValidos || !versionesValidas"
                class="alert alert-warning"
                role="alert"
              >
                <div class="container-alert">
                  <div class="icon-container-alert">
                    <img
                      src="../../../../assets/icons/icono_alerta.svg"
                      alt="icono-alerta"
                    />
                  </div>
                  <p *ngIf="!anioValido" class="texto-alert">
                    Por el momento no estamos recibiendo autos de ese
                    a&ntilde;o.
                  </p>
                  <p *ngIf="!aniosValidos" class="texto-alert">
                    Por el momento no estamos recibiendo ese modelo de
                    veh&iacute;culos.
                  </p>
                  <p
                    *ngIf="!versionesValidas && anioValido && aniosValidos"
                    class="texto-alert"
                  >
                    UPS, no hemos encontrado tu veh&iacute;culo.
                    <span *ngIf="esVenta"
                      >Para recibir tu oferta, agenda una inspecci&oacute;n
                      <span
                        class="flujo-agenda-link"
                        (click)="agendarInspeccion()"
                        >aqu&iacute; ></span
                      ></span
                    >
                  </p>
                </div>
              </div>
            </section>
            <div
              class="
                form-row form-row--no_pad
                justify-content-md-center
                button-container
                mt-4
              "
            >
              <button
                type="submit"
                [ngClass]="{
                  'btn-tasarcomprador': !esVenta,
                  'btn-tasar': esVenta
                }"
                [disabled]="tasarDisabled()"
                class="btn btn-primary2"
              >
                Quiero mi Oferta
              </button>
              <button
                type="button"
                class="btn btn-secondary_nuevo"
                (click)="limpiarFormTasador()"
                [ngClass]="{
                  'btn-limpiarcomprador': !esVenta,
                  'btn-limpiar': esVenta
                }"
              >
                Limpiar Campos
              </button>
            </div>
            <div class="mt-2 text-center">
              <small>
                Este sitio está protegido por reCAPTCHA, se aplica la 
                <a target="_blank" href="https://policies.google.com/privacy">Política de privacidad</a> y los 
                <a target="_blank" href="https://policies.google.com/terms">Términos de servicio</a> de Google.
              </small>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="row tres-pasos mt-5 d-block d-sm-none">
      <div class="col-12">
        <h2>Vende tu auto en 3 pasos</h2>
      </div>
      <div class="col-12 tres-pasos-item">
        <div class="row">
          <div class="col-3 number-item">
            <span>1</span>
          </div>
          <div class="col-6 detail-item">
            <span>Cotiza</span>
            <p>Ingresa los datos de tu auto para recibir una oferta.</p>
          </div>
        </div>
      </div>
      <div class="col-12 tres-pasos-item">
        <div class="row">
          <div class="col-3 number-item">
            <span>2</span>
          </div>
          <div class="col-6 detail-item">
            <span>Agenda</span>
            <p>Agenda una inspección por video llamada o en sucursal de Las Condes</p>
          </div>
        </div>
      </div>
      <div class="col-12 tres-pasos-item">
        <div class="row">
          <div class="col-3 number-item">
            <span>3</span>
          </div>
          <div class="col-6 detail-item">
            <span>Vende</span>
            <p>Coordina la entrega, firma la transferencia y recibe el dinero en tu cuenta.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="row mt-3 d-block d-sm-none">
      <div class="col-12">
        <h2>Nuestros clientes</h2>
      </div>
      <app-nuestros-clientes>
      </app-nuestros-clientes>
    </section>
    <section class="row mt-5 d-block d-sm-none elegirnos">
      <div class="col-12">
        <h2>¿Por qué elegirnos?</h2>
      </div>
      <div class="col-12 mt-3">
        <div class="row d-flex justify-content-center">
          <div class="col-2 imagen">
            <img src="/assets/images/noun_secure_azul.png" class="img-fluid" />
          </div>
          <div class="col-4 subtitulo">
            <h3>Seguro</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-8 detalle">
            <p>Transferencia del auto a Car1</p>
          </div>
          <div class="col-8 separador"></div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row d-flex justify-content-center">
          <div class="col-2 imagen">
            <img src="/assets/images/noun_speed_azul.png" class="img-fluid" />
          </div>
          <div class="col-4 subtitulo">
            <h3>Rápido</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-8 detalle">
            <p>¡Te pagamos en 1 hora!</p>
          </div>
          <div class="col-8 separador"></div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row d-flex justify-content-center">
          <div class="col-2 imagen">
            <img src="/assets/images/noun_Sofa_azul.png" class="img-fluid" />
          </div>
          <div class="col-4 subtitulo">
            <h3>Cómodo</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-8 detalle">
            <p>Inspección por videollamada</p>
          </div>
          <div class="col-8 separador"></div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row d-flex justify-content-center">
          <div class="col-2 imagen">
            <img src="/assets/images/noun_Car-For-Sell_azul.png" class="img-fluid" />
          </div>
          <div class="col-4 subtitulo">
            <h3>Conveniente</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-8 detalle">
            <p>Pago directo a tu cuenta</p>
          </div>
        </div>
      </div>
    </section>
    <section class="row mt-5 restricciones d-block d-sm-none">
      <div class="col-12">
        <p class="title">RESTRICCIONES: No aceptamos vehículos que cumplan con alguna de las siguientes condiciones:</p>
        <p class="detail">Autos que se hayan registrado en el registro nacional de transporte público, como colectivos, taxis y radiotaxis • Autos que hayan sido declarados como pérdida total o con reparaciones mayores • Autos con modificaciones mecánicas o estéticas • Autos que cuenten con restricción de Zona Franca • Autos de modelos anteriores al año 2012 • Autos eléctricos.</p>
      </div>
    </section>
  </section>
</section>