<section class="container-carrusel-publicidad">
  <div class="container">
    <swiper class="carrusel-publicidad" [config]="config"> </swiper>

    <div class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          *ngFor="let publicidad of orderBanner(); let i = index"
        >
          <img
            alt=""
            loading=lazy
            class="{{ publicidad.Tag }}"
            (click)="doBannerInteract(i)"
            src="{{ publicidad.Imagen.url }}"
          />
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
