.container-carrusel-publicidad {
  background-color: #f2f8fa;
  padding: 50px 0 80px 0;
  .container {
    .swiper-container {
      padding-left: 2%;
      .swiper-wrapper {
        img {
          width: 320px;
          cursor: pointer;
        }
      }

      .swiper-button-prev {
        left: 0;
        background-color: white;
        border-radius: 50%;
        width: 44px;
        box-shadow: 2px 3px 8px #999;
        top: 50%;

        &:after {
          font-size: 14px;
          font-weight: bold;
        }
      }

      .swiper-button-next {
        right: 3px;
        background-color: white;
        border-radius: 50%;
        width: 44px;
        box-shadow: 0px 0px 8px #999;
        top: 50%;
        &:after {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-carrusel-publicidad {
    .container {
      .swiper-container {
        .swiper-wrapper {
          img {
            width: 260px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-carrusel-publicidad {
    .container {
      .swiper-container {
        padding-left: 3%;
        .swiper-wrapper {
          img {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .container-carrusel-publicidad {
    .container {
      .swiper-container {
        padding-left: 4%;
        .swiper-wrapper {
          img {
            width: 210px;
          }
        }
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 549px) {
  .container-carrusel-publicidad {
    .container {
      .swiper-container {
        padding-left: 4%;
        .swiper-wrapper {
          img {
            width: 86vw;
          }
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .container-carrusel-publicidad {
    .container {
      .swiper-container {
        padding-left: 5%;
        .swiper-wrapper {
          img {
            width: 80vw;
          }
        }
      }
    }
  }
}
