<section class="container-buscador-modelos">
  <div class="container">
    <p class="title-buscador-modelos">Buscar por marca</p>
    <section class="container-titulos-modelos">
      <div class="row">
        <div class="col-sm-4 text-modelo" *ngFor="let marca of marcas">
          <a routerLink="stock-disponible" (click)="filtroSeleccionado(marca.Nombre)">{{ marca.Nombre }}</a>
        </div>
      </div>
    </section>
  </div>
</section>
