.container-buscador-modelos {
  background-color: #f3f8fa;
  padding: 70px 0;

  .title-buscador-modelos {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 56px;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
  }

  .container-titulos-modelos {
    .text-modelo {
      font-family: "mavenpro-regular", sans-serif;
      font-size: 16px;
      letter-spacing: -0.18px;
      line-height: 50px;
      text-align: center;
      margin: 0;

      a {
        color: var(--brand-blue);
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
