<app-spinner
  [show]="isLoading"
  [formulario]="isForm"
  class="spinner-custom"
></app-spinner>

<app-header *ngIf="shouldHideFooterAndHeader()"> </app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="shouldHideFooterAndHeader()"></app-footer>
