.container-resultado {
  background-color: #ffffff;
  padding-bottom: 40px;

  .title-resultado {
    color: #36383c;
    font-family: "brandon-bold";
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 40px;
    text-align: center;
  }

  .subtitle-resultado {
    color: #36383c;
    font-family: "brandon-regular";
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 20px;
    text-align: center;
  }

  .container-valor-tasacion {
    background-color: #f2f8f8;
    border-radius: 9px;
    text-align: center;
    padding: 25px 5px;

    .valor-tasacion {
      color: #57afc9;
      font-family: "brandon-bold";
      font-size: 60px;
      letter-spacing: -0.68px;
      line-height: 83px;
      text-align: center;
    }

    .disclaimer-tasacion {
      color: #36383c;
      font-family: "brandon-regular";
      font-size: 14px;
      letter-spacing: -0.16px;
      line-height: 20px;
      text-align: center;
      margin: 0;
    }
  }

  .titulo-modelo {
    color: #36383c;
    font-family: "brandon-bold";
    font-size: 25px;
    letter-spacing: -0.28px;
    line-height: 36px;
    text-align: center;
  }

  .subtitulo-modelo {
    color: #36383c;
    font-family: "brandon-regular";
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 36px;
    text-align: center;
  }

  .button-container {
    .btn-secondary {
      margin-right: 15px;
    }

    .btn-primary {
      margin-left: 15px;
    }
  }

  .btn-agendamiento {
    width: 330px;
  }
}

@media (max-width: 991px) {
  .container-resultado {
    .button-container {
      flex-direction: column-reverse;
      padding: 0 5px;
      .btn-secondary {
        margin: 20px 0px;
        width: 100%;
      }

      .btn-primary {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 741px) {
  .container-resultado {
    .titulo-modelo {
      font-family: "brandon-bold";
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 499px) {
  .container-resultado {
    .title-resultado {
      font-size: 30px;
      line-height: 30px;
    }

    .subtitle-resultado {
      font-size: 20px;
      line-height: 18px;
    }

    .container-valor-tasacion {
      .valor-tasacion {
        font-size: 45px;
        line-height: 45px;
      }
    }
  }
}
