<!-- <section class="container-resultado">
  <section class="container">
    <h1
      class="title-resultado"
      [ngClass]="{
        'mt-5': esVenta
      }"
    >
      ¡Tenemos una oferta para ti!
    </h1>
    <h2 *ngIf="esVenta" class="subtitle-resultado">
      Para continuar, agenda tu inspección.
    </h2>
    <h2 *ngIf="!esVenta" class="subtitle-resultado">
      Tenemos una oferta inicial para ti. ¿Te gusta? ¡Acepta la oferta!
    </h2> -->
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <section class="container-valor-tasacion my-3">
          <h1 class="valor-tasacion">
            ${{ datosTasacion!.valorTasacion | number: "":"es" }}
          </h1>
          <p class="disclaimer-tasacion">
            *Valor sujeto a cambios según inspección realizada.
          </p>
        </section>
        <section class="py-2">
          <h1 class="titulo-modelo">
            {{ datosTasacion.brandName }} {{ datosTasacion.modelName }}
            {{ datosTasacion.showName }}
          </h1>
          <h2 class="subtitulo-modelo">
            <span class="mr-1">{{ datosTasacion.year }}</span> |
            <span class="ml-1"
              >{{ datosTasacion.requestedKm | number: "":"es" }} KM</span
            >
          </h2>
        </section>
        <!-- <div class="row justify-content-md-center button-container">
          <button
            type="button"
            class="btn btn-secondary"
            [ngClass]="{
              'btn-volvercomprador': !esVenta,
              'btn-volveroferta': esVenta
            }"
            (click)="volverATasar()"
          >
            VOLVER A TASAR
          </button>
          <button
            *ngIf="!esVenta"
            type="submit"
            class="btn btn-primary btn-aceptaroferta"
            (click)="aceptaOferta()"
          >
            ACEPTAR OFERTA
          </button>
          <button
            *ngIf="esVenta"
            type="submit"
            class="btn btn-primary btn-agendamiento"
            (click)="agendarInspeccion()"
          >
            AGENDAR INSPECCI&Oacute;N
          </button>
        </div>
      </div>
    </div>
  </section> -->
<!-- </section> -->
