<section class="container container-venta">
  <div class="row justify-content-center">
    <div class="col-md-11 col-12">
      <div class="container-tasador">
        <app-pasos
          *ngIf="pasoActual > 0 && esVenta"
          [paso]="pasoActual">
        </app-pasos>
        <app-formulario-tasacion
          *ngIf="pasoTasacion === 'formulario' && esVenta"
          [valoresSelectKilometraje]="valoresSelectKilometraje"
          [patenteForm]="patenteForm"
          [tasadorForm]="tasadorForm"
          [esErrorEmail]="esErrorEmail"
          [isSubmitted]="isSubmitted"
          [isSubmittedTasacion]="isSubmittedTasacion"
          [versiones]="versiones"
          (buscaPatenteEmit)="buscarPatente()"
          (limpiarFormEmit)="limpiarForm()"
          (realizaTasacionEmit)="realizaTasacion()"
          [patenteSinDatos]="patenteSinDatos"
          [esVenta]="esVenta"
          [marcas]="marcas"
          (changeMarcaEmit)="onChangeMarca()"
          [modelos]="modelos"
          (changeModeloEmit)="onChangeModelo()"
          [anios]="anios"
          (changeAnioEmit)="onChangeAnio()"
          [urlPdfTerminosCondiciones]="urlPdfTerminosCondiciones"
          [anioValido]="anioValido"
          [aniosValidos]="aniosValidos"
          (pasoDatosPersonales)="pasoDatosPersonales($event)"
          [versionesValidas]="versionesValidas"
          (changeVersionEmit)="onChangeVersion()"
          (changeKilometrajeEmit)="onChangeKilometraje()"
          [noCheckTerminosCondiciones]="noCheckTerminosCondiciones"
          [disableBuscar]="disableBuscar"
          (checkTerminos)="checkTerminosClicked($event)"
        >
        </app-formulario-tasacion>

        <app-formulario-tasacion-app
          *ngIf="pasoTasacion === 'formulario' && !esVenta"
          [valoresSelectKilometraje]="valoresSelectKilometraje"
          [patenteForm]="patenteForm"
          [tasadorForm]="tasadorForm"
          [isSubmitted]="isSubmitted"
          [isSubmittedTasacion]="isSubmittedTasacion"
          [versiones]="versiones"
          (buscaPatenteEmit)="buscarPatente()"
          (limpiarFormEmit)="limpiarForm()"
          (realizaTasacionEmit)="realizaTasacion()"
          [patenteSinDatos]="patenteSinDatos"
          [esVenta]="esVenta"
          [marcas]="marcas"
          (changeMarcaEmit)="onChangeMarca()"
          [modelos]="modelos"
          (changeModeloEmit)="onChangeModelo()"
          [anios]="anios"
          (changeAnioEmit)="onChangeAnio()"
          [urlPdfTerminosCondiciones]="urlPdfTerminosCondiciones"
          [anioValido]="anioValido"
          [aniosValidos]="aniosValidos"
          (pasoDatosPersonales)="pasoDatosPersonales($event)"
          [versionesValidas]="versionesValidas"
          (changeVersionEmit)="onChangeVersion()"
          (changeKilometrajeEmit)="onChangeKilometraje()"
          [noCheckTerminosCondiciones]="noCheckTerminosCondiciones"
          [disableBuscar]="disableBuscar"
          (checkTerminos)="checkTerminosClicked($event)"
        >
        </app-formulario-tasacion-app>

        <app-resultado-tasacion-app
        *ngIf="pasoTasacion === 'datosPersonales' && !esVenta"
          [datosTasacion]="datosTasacion"
          (pasoTasacion)="volverATasar($event)"
          (aceptaOfertaEmit)="aceptaOferta()"
          [esVenta]="esVenta"
        ></app-resultado-tasacion-app>

        <div *ngIf="pasoTasacion === 'datosPersonales' && esVenta">
          <app-datos-personales
            [datosTasacion]="datosTasacion"
            [esVenta]="esVenta"
            (pasoDatosPersonales)="pasoDatosPersonales()"
            [patenteForm]="patenteForm"
            [tasadorForm]="tasadorForm"
            [datosPersonalesForm]="datosPersonalesForm"
            (pasoTasacion)="volverATasar($event)"
            (pasoAgendamiento)="pasoAgendamiento()"
            (horasDisponibles)="obtenerHorasDisponibles($event)"
            [esFlujoAlternativo]="esFlujoAlternativo"
          >
          </app-datos-personales>
        </div>
        <app-agendamiento
          *ngIf="pasoTasacion === 'agendamiento'"
          [datosTasacion]="datosTasacion"
          [agendamientoForm]="agendamientoForm"
          (pasoDatosPersonales)="pasoDatosPersonales()"
          (confirmarCita)="confirmarCita()"
          [horasDisponiblesAM]="horasDisponiblesAM"
          [horasDisponiblesPM]="horasDisponiblesPM"
          (horasDisponibles)="obtenerHorasDisponibles($event)"
          [dayValue]="dayValue"
          [idDeal]="idDeal"
        ></app-agendamiento>
        <app-resumen-inspeccion
          *ngIf="pasoTasacion === 'resumenInspeccion'"
          [datosTasacion]="datosTasacion"
          [agendamientoForm]="agendamientoForm"
          (pasoAgendamiento)="pasoAgendamiento()"
          (confirmarCita)="confirmarCita()"
          (horasDisponibles)="obtenerHorasDisponibles($event)"
        ></app-resumen-inspeccion>
        <app-exito-ui
          *ngIf="pasoTasacion === 'exitoSolicitud'"
          [datosTasacion]="datosTasacion"
          [datosPersonalesForm]="datosPersonalesForm"
          (pasoTasacion)="volverATasar($event)"
          (confirmarCita)="confirmarCita()"
          (triggetSaveData)="finalizeSuccessfullProcess()"
        ></app-exito-ui>
        <app-error-ui
          *ngIf="pasoTasacion === 'errorSolicitud'"
          (confirmarCita)="confirmarCita()"
        >
        </app-error-ui>
      </div>
    </div>
  </div>
</section>
