p {
  margin: 0;
}
.container-cabecera-ficha {
  padding-top: 25px;
}
.container-titulo-subtitulo {
  display: flex;
  flex-direction: column;
}
.container-subtitulo {
  display: flex;
  flex-direction: row;
  p {
    color: var(--brand-marine);
    font-family: 'mavenpro-bold', sans-serif;
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 30px;
  }
}
.separador-subtitulo {
  margin-left: 10px;
  margin-right: 10px;
}
.container-precio-boton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .row {
    width: 100%;
  }
}
.btn-agendar-visita {
  padding: 0.5rem 1rem;
}

.titulo-cabecera {
  color: var(--brand-marine);
  font-family: 'mavenpro-bold', sans-serif;
  font-size: 44px;
  letter-spacing: -0.5px;
  line-height: 1.2;
}
.btn-secondary {
  width: 100%;
  padding: 0.5rem 1rem !important;
  background: var(--brand-blue);
  border: 1px solid var(--brand-blue);
  font-size: 1rem;
  color: white;
  padding: 0;
  font-family: "mavenpro-bold",sans-serif;
  &:hover {
    background: var(--brand-marine) !important;
    color: white !important;
  }
}
@media (max-width: 500px) {
  .container-titulo-subtitulo {
    .titulo-cabecera {
      font-size: 1.5rem;
    }
    .container-subtitulo {
      p {
        font-size: 1rem;
      }
      .separador-subtitulo {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 991px) {
  .container-precio-boton {
    flex-direction: column;
    align-items: flex-start;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
    &.btn-primary {
      // &:hover {
      //   background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
      // }
      &:active{
        background: var(--brand-marine);
      }
    }
  }
  .valor{
    margin-top: .5rem;
  }
  .titulo-cabecera {
    font-size: 32px;
    line-height: 1.2;
  }

}
