<section class="container">
  <section class="container-cabecera-ficha">
    <div class="row">
      <div class="col-lg-5">
        <section class="container-titulo-subtitulo">
          <p class="titulo-cabecera">{{ fichaVehiculo.marca?.Nombre?.toUpperCase() }}</p>
          <p class="titulo-cabecera">{{ fichaVehiculo.Modelo }}</p>
          <section class="container-subtitulo">
            <p class="anio">{{ fichaVehiculo.AnioFabricacion }}</p>
            <p class="separador-subtitulo">|</p>
            <p class="kilometraje">
              {{ fichaVehiculo.Kilometraje | number: "":"es" }} KM
            </p>
            <p class="separador-subtitulo">|</p>
            <p class="tipo-transmision">
              {{ fichaVehiculo.tipo_de_transmision?.Tipo }}
            </p>
          </section>
        </section>
      </div>
      <div class="col-lg-7">
        <section class="container-precio-boton">
          <div class="row">
            <div class="col-12 col-lg-6 text-left text-lg-right">
              <app-precio-ficha-iframe
                *ngIf="!isMobile"
                [fichaVehiculo]="fichaVehiculo">
              </app-precio-ficha-iframe>
            </div>
            <div *ngIf="!isMobile" class="col-12 col-lg-6">
              <div class="row">
                <div class="col-12">
                  <button
                  class="btn btn-primary brand-single-vehicle btn-contactanos"
                  (click)="irContacto()"
                  >
                    ME INTERESA
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
