<div class="container container-error">
  <div class="row justify-content-md-center">
    <div class="col-lg-10">
      <div class="icon-container">
        <svg
          width="90px"
          height="90px"
          viewBox="0 0 90 90"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <title>checkmark</title>
          <g
            id="tasar-auto"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="tazador_2_7"
              transform="translate(-675.000000, -1966.000000)"
            >
              <g id="TASA" transform="translate(198.000000, 1902.000000)">
                <g id="TITULO" transform="translate(177.000000, 56.000000)">
                  <g id="checkmark" transform="translate(300.000000, 8.000000)">
                    <circle
                      id="Oval"
                      stroke="#4D4D4D"
                      stroke-width="3"
                      cx="45"
                      cy="45"
                      r="43.5"
                    ></circle>
                    <path
                      d="M49.0310583,45.0003262 L66.163774,27.866733 C67.278742,26.7522638 67.278742,24.9503211 66.163774,23.8358519 C65.0493279,22.7213827 63.2474227,22.7213827 62.1329766,23.8358519 L44.999739,40.9694452 L27.8670234,23.8358519 C26.7520554,22.7213827 24.9506721,22.7213827 23.836226,23.8358519 C22.721258,24.9503211 22.721258,26.7522638 23.836226,27.866733 L40.9689417,45.0003262 L23.836226,62.1339195 C22.721258,63.2483887 22.721258,65.0503314 23.836226,66.1648006 C24.3916221,66.7207302 25.1218844,67 25.8516248,67 C26.581365,67 27.3111054,66.7207302 27.8670234,66.1648006 L44.999739,49.0312073 L62.1329766,66.1648006 C62.6888946,66.7207302 63.418635,67 64.1483753,67 C64.8781156,67 65.6078558,66.7207302 66.163774,66.1648006 C67.278742,65.0503314 67.278742,63.2483887 66.163774,62.1339195 L49.0310583,45.0003262 Z"
                      id="Path"
                      fill="#34E7E4"
                      fill-rule="nonzero"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <h1 class="title-error">Se ha producido un error</h1>
      <h2 class="sub-title-error">Por favor, intente de nuevo más tarde.</h2>
      <div class="button-container">
        <button (click)="closeModal()" type="button" class="btn btn-primary">
          CERRAR
        </button>
      </div>
    </div>
  </div>
</div>
