.container-error {
  font-family: "mavenpro-regular", sans-serif;
  padding-bottom: 50px;
  .icon-container {
    margin-bottom: 20px;
    text-align: center;
    max-height: 150px;
  }
  .title-error {
    color: var(--brand-cyan2);
    font-family: "mavenpro-bold", sans-serif;
    line-height: 40px;
    text-align: center;
  }
  .sub-title-error {
    color: var(--brand-blue);
    font-size: 22px;
    margin: 40px 0 50px;
    text-align: center;
  }

  .button-container {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .container-error {
    .title-error {
      font-size: 30px;
    }

    .sub-title-error {
      font-size: 20px;
    }
  }
}
