<section id="spincar" class="catalogo-container">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-6"
        *ngFor="let vehiculo of vehiculos"
      >
        <app-card-vehiculo [vehiculo]="vehiculo"></app-card-vehiculo>
      </div>
      <div class="col-lg-12" *ngIf="vehiculos.length === 0">
        No se encontraron resultados para su búsqueda.
      </div>
    </div>
  </div>
</section>
