.precio {
    color: var(--brand-blue);
    font-family: 'mavenpro-bold', sans-serif;
    .desde {
      .text {
        font-size: 24px;
      }
      .monto {
        font-size: 20px;
      }
    }
    .cuotas {
      line-height: 18px;
    }
    .cae, .ctc {
      line-height: 18px;
      .text, .monto {
        font-size: 14px;
      }
    }
    .valor {
      .text, .monto {
        font-size: 34px;
      }
    }
    p {
        margin: 0;
    }
  }
  .precio-mobile {
    color: var(--brand-blue);
    p {
        line-height: normal;
    }
    .valor {
        font-family: 'mavenpro-bold', sans-serif;
        font-size: 1.4rem;
        margin-bottom: .4rem;
    }
    .desde {
        font-family: 'mavenpro-bold', sans-serif;
        font-size: 1rem;
        margin-bottom: .2rem;
    }
    .detalle {
        font-family: 'mavenpro-regular', sans-serif;
        font-size: .8rem;
    }
  }