<div *ngIf="!isMobile" class="row precio">
    <div *ngIf="isFinanced" class="col-12">
        <p class="valor"><span class="monto">${{ fichaVehiculo.Precio | number: "":"es" }}</span></p>
    </div>
    <div *ngIf="fichaVehiculo.CuotaMonto != null" class="col-12">
        <p class="desde"><span class="text">Desde </span><span class="monto">${{ fichaVehiculo.CuotaMonto | number: "":"es" }}</span></p>
    </div>
    <div *ngIf="fichaVehiculo.Cuotas != null" class="col-12">
        <p class="cuotas">(<span class="monto">{{ fichaVehiculo.Cuotas| number: "":"es" }} </span><span class="text">Cuotas, {{pie}}</span>)</p>
    </div>
    <div *ngIf="fichaVehiculo.CAE != null" class="col-12">
        <p class="cae"><span class="text">CAE: </span><span class="monto">{{ fichaVehiculo.CAE| number: "":"es" }}%</span></p>
    </div>
    <div *ngIf="fichaVehiculo.CTC != null" class="col-12">
        <p class="ctc"><span class="text">CTC: </span><span class="monto">${{ fichaVehiculo.CTC | number: "":"es" }}</span></p>
    </div>
    <div *ngIf="!isFinanced" class="col-12" style="margin-top: -10px">
        <p class="valor"><span style="font-size: 44px;" class="monto">${{ fichaVehiculo.Precio | number: "":"es" }}</span></p>
    </div>
</div>
<div *ngIf="isMobile" class="row precio-mobile">
    <div class="col-12">
        <p class="valor">Precio ${{ fichaVehiculo.Precio | number: "":"es" }}</p>
    </div>
    <div *ngIf="isFinanced" class="col-12">
        <p class="desde">
            <span>Desde </span>
            <span>${{ fichaVehiculo.CuotaMonto | number: "":"es" }}</span>
            <span> ({{ fichaVehiculo.Cuotas| number: "":"es" }} Cuotas)</span>
        </p>
    </div>
    <div *ngIf="isFinanced" class="col-12">
        <p class="detalle">
            <span>{{pie}} / </span>
            <span class="text">CAE: </span><span class="monto">{{ fichaVehiculo.CAE| number: "":"es" }}% / </span>
            <span class="text">CTC: </span><span class="monto">${{ fichaVehiculo.CTC | number: "":"es" }} </span>
        </p>
    </div>
</div>