<section class="container-buscador-tipo-vehiculo">
  <div class="container">
    <p class="titulo-buscador-tipo-vehiculo">Encuentra tu vehículo</p>
    <div
      class="swiper-container container-carrusel-tipo-vehiculo"
      [swiper]="config"
    >
      <div class="swiper-wrapper">
        <div
          class="swiper-slide elemento-tipo-vehiculo"
          *ngFor="let vehiculo of tipoVehiculos"
        >
          <a
            routerLink="stock-disponible"
            (click)="filtroSeleccionado(vehiculo.Nombre)"
            ><img alt="" loading=lazy [src]="vehiculo.Thumbnail.url"
          /></a>
          <p class="titulo-elemento-tipo-vehiculo">{{ vehiculo.Nombre }}</p>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
