.container-buscador-tipo-vehiculo {
  padding: 50px 0;
  .container {
    .titulo-buscador-tipo-vehiculo {
      color: var(--brand-marine);
      font-family: "mavenpro-bold", sans-serif;
      font-size: 40px;
      letter-spacing: -0.45px;
      line-height: 40px;
      text-align: center;
    }

    .container-carrusel-tipo-vehiculo {
      padding-left: 0%;
      .elemento-tipo-vehiculo {
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
          margin-left: auto;
          margin-right: auto;
        }

        .titulo-elemento-tipo-vehiculo {
          color: var(--brand-marine);
          font-family: 'mavenpro-regular', sans-serif;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.18px;
          line-height: 19px;
        }
      }

      .swiper-button-prev {
        left: 9px;

        &:after {
          font-size: 14px;
          font-weight: bold;
          color: var(--brand-cyan);
        }
      }

      .swiper-button-next {
        right: 10px;
        &:after {
          font-size: 14px;
          font-weight: bold;
          color: var(--brand-cyan);
        }
      }
    }
  }
}
