<!--New UI-->
<section class="form_tasacion container-tasador">
  <section class="izquierda pt-4">
    <section class="form_tasacion_inf d-none d-lg-block">
      <div class="form-col container_patente">
        <p class="title">¡Tenemos una oferta para ti!</p>
        <p class="precio">
          ${{ datosTasacion.valor | number: "":"es" }}
        </p>
        <p class="condiciones">
          El valor entregado puede variar seg&uacute;n el estado del
          veh&iacute;culo
        </p>
        <p class="subtitle">
          {{ datosTasacion.marca }} {{ datosTasacion.modelo }}
          {{ datosTasacion.version }} {{ datosTasacion.ano }}
        </p>
        <!-- <p class="subtitle_b">
              ¿Como llegamos a tu valor?
              
            </p> -->
      </div>
    </section>
  </section>
  <section class="derecha mt-5">
    <section class="form_tasacion_inf container d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col-lg-11">
          <div class="form-col container_patente">
            <p class="title">¡Tenemos una oferta para ti!</p>
            <p class="precio">
              ${{ datosTasacion.valor | number: "":"es" }}
            </p>
            <p class="condiciones">
              El valor entregado puede variar seg&uacute;n el estado del
              veh&iacute;culo
            </p>
            <p class="subtitle">
              {{ datosTasacion.marca }} {{ datosTasacion.modelo }}
              {{ datosTasacion.version }} {{ datosTasacion.ano }}
            </p>
            <!-- <p class="subtitle_b">
              ¿Como llegamos a tu valor?
            </p> -->
          </div>
        </div>
      </div>
    </section>
    <section class="form_tasacion_txt d-none d-sm-block">
      <div class="row justify-content-md-center">
        <span class="circle">1</span>
        <span class="rectangle"></span>
        <span class="rectangle"></span>
        <span class="circle">2</span>
      </div>
      <div class="row">
        <span class="texto">Tus Datos</span>
        <span class="rectangle_b"></span>
        <span class="texto_b">Agenda</span>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-11">
          <div class="form-col container_pasos">
            <p class="title">Agenda Tu Hora</p>
            <p class="subtitle">
              Ind&iacute;canos el d&iacute;a y hora que prefieras para realizar
              la inspecci&oacute;n por videollamada.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="form_tasacion_cnt container">
      <div class="row justify-content-md-center">
        <div class="col-lg-11">
          <form class="form_tasador">
            <div class="form-row seleccion-local">
              <div class="col-lg-11 form-group">
                <!-- <label for="inspeccionOnline" class="label-form">Local de Inspecci&oacute;n</label>
                <select class="custom-select-b custom-select-xl-b">
                  <option selected="true" disabled="disabled" value="">
                    Seleccione Local de Inspecci&oacute;n
                  </option>
                  <option value="">Rosario Norte 532</option>
                </select> -->
              </div>
            </div>
            <!-- <div class="form-row">
              <div class="col-lg-11 pre-cal">
                <div class="form-col">
                  <p class="anio">{{ year }}</p>
                  <p class="fecha">{{ fecha }}</p>
                </div>
              </div>
            </div> -->
            <div class="form-row">
              <div
                id="nuevo-custom"
                class="col-lg-10 form-group calendario-container text-center"
              >
                <bs-datepicker-inline
                  [bsValue]="dayValue"
                  [bsConfig]="{
                    showWeekNumbers: false,
                    daysDisabled: [0],
                    datesDisabled: disabledDates,
                    minDate: minDate,
                    maxDate: maxDate,
                    containerClass: 'theme-blue',
                    dateInputFormat: 'MMMM Do YYYY'
                  }"
                  (bsValueChange)="onDayChange($event)"
                ></bs-datepicker-inline>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-10 form-group">
                <div class="container-horas-custom">
                  <div class="row hora-am">
                    <span class="titulo-hora">Ma&ntilde;ana</span>
                  </div>
                  <div class="hora-am">
                    <p
                      *ngIf="horasDisponiblesAM?.length === 0"
                      class="no-horas"
                    >
                      No hay horas disponibles.
                    </p>
                  </div>
                  <div class="row container-hora-item">
                    <div
                      *ngIf="
                        horasDisponiblesAM && horasDisponiblesAM.length > 0
                      "
                      class="row container-hora-item"
                    >
                      <div
                        *ngFor="let hora of horasDisponiblesAM"
                        class="col-4"
                      >
                        <p
                          class="hora-item"
                          [ngClass]="{
                            'hora-item-seleccion ': hora.bloqueSeleccionado
                          }"
                          (click)="horaSeleccionada(hora)"
                        >
                          {{ hora.inicioBloque | bloqueHorario }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row hora-pm">
                    <p class="titulo-hora">Tarde</p>
                  </div>
                  <div class="hora-pm">
                    <p
                      *ngIf="horasDisponiblesPM?.length === 0"
                      class="no-horas"
                    >
                      No hay horas disponibles.
                    </p>
                  </div>
                  <div class="row container-hora-item">
                    <div
                      *ngIf="
                        horasDisponiblesPM && horasDisponiblesPM.length > 0
                      "
                      class="row container-hora-item"
                    >
                      <div
                        *ngFor="let hora of horasDisponiblesPM"
                        class="col-4"
                      >
                        <p
                          class="hora-item"
                          [ngClass]="{
                            'hora-item-seleccion ': hora.bloqueSeleccionado
                          }"
                          (click)="horaSeleccionada(hora)"
                        >
                          {{ hora.inicioBloque | bloqueHorario }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group last_form_group">
              <div class="d-block d-sm-none" style="margin-top: 12.5rem;"></div>
              <button
                type="button"
                (click)="volver()"
                class="btn btn-secondary_nuevo d-none d-sm-inline-block"
              >
                Volver a tus Datos
              </button>
              <button
                type="button"
                (click)="confirmar()"
                [disabled]="confirmarDisabled()"
                class="btn btn-primary2"
              >
                Confirmar Inspección
              </button>
            </div>
            <div class="row">
              <div class="col-12 text-right d-block d-sm-none">
                <a (click)="volver()" class="a-volver">&#8592; Volver</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</section>
