::ng-deep .bs-datepicker-head {
  display: none;
}

/*New UI*/
.form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  .info{
    display: none;
  }
  .header {
    width: 100%;
    padding: 1.625rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .img_cnt {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      .img {
        width: 50%;
        text-align: center;
      }
    }
  }
  .form_tasacion_inf {
    width: 100%;
    position: relative;
    background-color: #fff;
    
    .container_patente {
      padding: 1.375rem;
      background-color: var(--brand-blue);
      border-radius: 0.625rem;
      margin-bottom: 1rem;
      position: relative;
      top: 8.5rem;
      .title {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-family: "mavenpro-bold";
        margin-bottom: 0;
      }
      .precio {
        text-align: center;
        color: white;
        font-size: 3.4rem;
        font-family: "mavenpro-bold";
        margin-bottom: 0px;
        line-height: initial;
      }
      .condiciones {
        text-align: center;
        color: white;
        font-size: 0.725rem;
        font-family: "mavenpro-regular";
        margin-bottom: 11px;
      }
      .subtitle {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-family: "mavenpro-regular";
        margin-bottom: 6px;
      }
      .subtitle_b {
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: "mavenpro-bold";
        margin-bottom: 6px;
        text-decoration: underline 1px;
      }
    }
  }
  .form_tasacion_txt {
    width: 100%;
    position: relative;
    .row{
      margin-top: 0;
      margin-bottom: 0;
      justify-content: center;
      .circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        line-height: 32px;
        text-align: center;
        background: var(--brand-blue);
      }
      .rectangle {
        width: 4rem;
        height: 0.188rem;
        text-align: center;
        background: var(--brand-blue);
        margin-block:auto;
      }
      .rectangle_b {
        width: 6rem;
        height: 0.188rem;
        text-align: center;
        background: #fff;
        margin-block:auto;
      }
      .texto {
        width: 4rem;
        height: 0.188rem;
        font-size: 0.75rem;
        color: var(--brand-blue);
        line-height: 32px;
        text-align: center;
      }
      .texto_b {
        width: 4rem;
        height: 0.188rem;
        font-size: 0.75rem;
        color: var(--brand-blue);
        line-height: 32px;
        text-align: center;
      }
    }

    .container_pasos {
      padding: 1.375rem;
      border-radius: 0.625rem;
      .title {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1.5rem;
        font-family: "mavenpro-bold";
        margin-bottom: 0;
      }
      .subtitle {
        text-align: center;
        color: var(--brand-blue);
        font-size: 1rem;
        font-family: "mavenpro-regular";
        margin-bottom: 6px;
        line-height : 1.2rem;
      }
    }
  }


  .form_tasacion_cnt {
    width: 100%;
    position: relative;

    .form_tasador {
      background-color: white;
      padding: 1.375rem;
      border-radius: 0.625rem;
      margin-bottom: 2rem;
      box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.7);
      max-width: 23.8125rem;
     
      .form-group {
        padding: 0;
        background-color: white;
        border-radius: 0.625rem;
        margin-bottom: 0.5rem;
        .label-form {
          font-size: 0.875rem;
          font-family: "mavenpro-regular";
          font-weight: 300;
          color: #000000;
        }
        .custom-select-xl {
          border: 0.8px solid var(--brand-blue);
        }
        .input-form-small {
          border: 0.8px solid var(--brand-blue);
        }

        .custom-select-b {
          display: inline-block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 1.75rem 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          vertical-align: middle;
          background: #fff url(../../../../../src/assets/icons/icono_vector.svg) right 0.75rem center/8px 10px no-repeat;	
          border: 1px solid var(--brand-blue);
          border-radius: 0.25rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          
          &.custom-select-xl-b {
            height: 2rem;
            line-height: 1rem;
            color: #6C757D;
            &:disabled {
              opacity: 1;
            }
            &:focus-visible {
              outline: none;
            }
          }
        }

        .custom-b::before {
          background-color: #fff;
          border: var(--brand-blue) solid 1px;
          border-radius: 3rem !important;
          height: 0.85rem;
          left: -2.25rem !important;
          top: 0.28rem;
          width: 1.8rem !important;
        }
       
        .custom-b::after {
          height: 0.65rem !important;
          width: 0.65rem !important;
          background: var(--brand-blue);
        }

        .custom-control-input:checked ~ .custom-b::after {
          background: white;
        }

        .custom-control-input:checked ~ .custom-b::before {
          background-color: var(--brand-blue);
        }

      }
      .pre-cal{
        background: var(--brand-blue);
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        .anio{
          font-family: "brandon-regular";
          font-size: 14px;
          color: white;
          padding-left: 18px;
          margin-bottom: 0;
          padding-top: 18px;
        }
        .fecha{
          font-family: "brandon-regular";
            font-size: 36px;
          color: white;
          padding-left: 18px;
        }
      }

      .container-horas-custom{
        background: #fff;
        border-radius: 15px;
        height: 150px;
        padding: 0px 4px;
       
        .hora-pm {
          margin-top: 15px;
        }
  
        .titulo-hora {
          color: #36383c;
          font-family: "brandon-bold";
          font-size: 18px;
          margin-bottom: 10px;
          padding-left: 20px;
        }
        .container-hora-item {
            padding: 0px 5px;
            margin-left: auto;
            margin-right: auto;
  
            & > .col-4 {
              padding: 5px;
            }
          }
  
        .hora-item {
            border: 1px solid #d9dde9;
            background: #fff;
            border-color: var(--brand-blue);
            border-radius: 12px;
            font-family: "mavenpro-bold";
            font-size: 12px;
            margin: 0;
            text-align: center;
            padding: 2px -1px;
            height: 23px;
            width: 6rem;
            margin-right: 12rem;
            color: var(--brand-blue);
            line-height: 21px;
           

          &:hover {
              cursor: pointer;
          }
        }

        .hora-item-seleccion {
          background: var(--brand-marine);
          border-color: var(--brand-marine);
          color: #fff;
        }
      }
    }
  }
  .btn {
    width: 100%;
  }
  .btn-secondary_nuevo {
    margin-bottom: 1rem;
    margin-top: 12.5rem;
    width: 100%;
    height: 36px;
    border: 1px solid var(--brand-blue);
    font-size: 1rem;
    color: var(--brand-blue);
    padding: 0;
    font-family: "mavenpro-bold";
  }
  .btn-primary2 {
    margin-bottom: 0;
    width: 100%;
    height: 36px;
    background: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    font-size: 1rem;
    color: white;
    padding: 0;
    font-family: "mavenpro-bold";
  }

}
@media screen and (min-width: 992px) {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -35px;
    margin-left: -5px;
}
}
@media (min-width: 992px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 80%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
        .title {
          text-align: left;
          margin-bottom: 0;
          font-size: 40px;
        }
        .subtitle {
          text-align: left;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
      .info{
        display:flow-root;
        width: 95%;
        padding: 1.625rem;
        background-color: var(--brand-blue);
        margin-left: 2rem;
        border-radius: 0.625rem;
        .tittle {
          color: #fff;
          font-size: 1.5rem;
          font-family: "mavenpro-bold";
          margin-bottom: 0;
          //margin-top: 1rem;
        }
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mavenpro-bold";
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mavenpro-regular";
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          .info-logo {
            padding:1rem;
          }
        }
      }
    }
    .form_tasacion_inf{
      margin-top: 3rem;
      display: flow-root;
      width: 95%;
      margin-left: 2rem;
    }
    .derecha{
      

      .form_tasacion_cnt{
        .form_tasador {
          .titulo-hora {
            margin-left: 5px;

          }
          .container-hora-item {
            margin-left: 0px;
          }
        }
      }
    }

  }

}
// @media screen and (min-width: 1200px) {
//   .bs-datepicker .bs-datepicker-container .bs-datepicker-body {
//     border: none;
//     margin-left: 6% !important;
// } 
// }
@media screen and (max-width: 1100px) {
  .form_tasacion{
    display: flex;
       
    .form_tasacion_inf {
      
      .container_patente {
        padding: 1.375rem;
        background-color: var(--brand-blue);
        border-radius: 0.625rem;
        margin-bottom: 1rem;
        position: relative;
        top: -1rem;
        .title {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-bold";
          margin-bottom: 0;
        }
        .precio {
          text-align: center;
          color: white;
          font-size: 3rem;
          font-family: "mavenpro-bold";
          margin-bottom: 0;
          line-height: initial;
        }
        .condiciones {
          text-align: center;
          color: white;
          font-size: 0.625rem;
          font-family: "mavenpro-regular";
          margin-bottom: 11px;
        }
        .subtitle {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-regular";
          margin-bottom: 6px;
        }
        .subtitle_b {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mavenpro-bold";
          margin-bottom: 6px;
          text-decoration: underline 1px;
        }
      }
    }
  }
}
@media screen and (max-width: 450px){
  .form_tasacion {
  .form_tasacion_cnt {
    .container-horas-custom{
      .hora-item {
        border: 1px solid #d9dde9;
        background: #5eb3f4;
        border-color: #5eb3f4;
        border-radius: 12px;
        font-family: "mavenpro-regular";
        font-size: 12px;
        margin: 0;
        text-align: center;
        padding: 2px -1px;
        height: 21px;
        width: 5.5rem;
        margin-right: 5rem;
        color: #fff;
        }
      }
    }
  }
}
.no-horas{
  margin-left: 9px;
}