<section class="filtro-ak-container">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="cerrarDropdown()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row justify-content-center">
    <div class="col-lg-6 filtro-ak-anio-container">
      <app-range [opciones]="opcionesAnio"></app-range>
    </div>
    <div class="col-lg-6 filtro-ak-kilometros-container">
      <app-range [opciones]="opcionesKms"></app-range>
    </div>
  </div>
</section>
