.filtro-ak-container {
  padding: 30px;

  .filtro-ak-anio-container {
    padding: 30px 50px 10px 20px;
    border-right: 1px solid #d9dde9;
  }

  .filtro-ak-kilometros-container {
    padding: 30px 20px 10px 50px;
  }
}

@media (max-width: 991px) {
  .filtro-ak-container {
    padding: 30px 20px;

    .filtro-ak-anio-container {
      padding: 0 20px;
      border-right: none;
    }

    .filtro-ak-kilometros-container {
      margin-top: 30px;
      padding: 0 20px;
    }
  }
}
