<section class="container-ficha">
  <app-cabecera-ficha
    [fichaVehiculo]="fichaVehiculo"
    [disableBtnComprar]="disableBtnComprar"
  ></app-cabecera-ficha>
  <app-spincar-ficha [fichaVehiculo]="fichaVehiculo"></app-spincar-ficha>
  <app-descripcion-ficha
    [fichaVehiculo]="fichaVehiculo"
  ></app-descripcion-ficha>
  <app-caracteristicas-ficha
    [fichaVehiculo]="fichaVehiculo"
  ></app-caracteristicas-ficha>
  <app-tabs-ficha [fichaVehiculo]="fichaVehiculo"></app-tabs-ficha>
  <app-info-compra></app-info-compra>
</section>
