<app-banner [bannerHome]="bannerHome"></app-banner>
<app-noticias-car1></app-noticias-car1>
<app-buscador-tipo-vehiculo
  [tipoVehiculos]="tipoVehiculos"
></app-buscador-tipo-vehiculo>
<app-carrusel-publicidad
  [publicidadHome]="publicidadHome"
></app-carrusel-publicidad>
<app-info-compra></app-info-compra>
<app-buscador-marcas [marcas]="marcas"></app-buscador-marcas>
