.filtro-marca-container {
  padding: 25px 0 35px 0;
  .filtro-marca-item-container {
    .filtro-marca-item {
      font-family: "mavenpro-regular", sans-serif;
      color: var(--brand-marine);
      padding: 10px 0;

      p {
        width: max-content;
        margin-bottom: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .filtro-marca-container {
    .filtro-marca-item-container {
      text-align: center;

      .filtro-marca-item {
        p {
          width: auto;
          text-align: center;
        }
      }
    }
  }
}
