<section class="filtro-marca-container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="row filtro-marca-item-container">
        <div
          class="col-lg-3 col-md-6 filtro-marca-item"
          *ngFor="let marca of marcas"
        >
          <p (click)="marcaSeleccionada(marca.Nombre)">{{ marca.Nombre }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
