<section class="container-tabs-ficha">
  <section class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-9 col-md-11 p-md-0">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
              aria-controls="pills-home" aria-selected="true">
              <h1>Equipamiento</h1>
            </a>
          </li>
          <li class="nav-item">
            <div class="separador"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false">
              <h1>Detalles</h1>
            </a>
          </li>
          <li class="nav-item" *ngIf="existenDocumentos">
            <div class="separador"></div>
          </li>
          <li *ngIf="existenDocumentos" class="nav-item">
            <a class="nav-link" id="pills-report-tab" data-toggle="pill" href="#pills-report" role="tab"
              aria-controls="pills-report" aria-selected="false">
              <h1>Informes</h1>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <app-equipamiento-ficha-iframe [fichaVehiculo]="fichaVehiculo"></app-equipamiento-ficha-iframe>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <app-detalle-ficha-iframe [fichaVehiculo]="fichaVehiculo">
            </app-detalle-ficha-iframe>
          </div>
          <div *ngIf="existenDocumentos" class="tab-pane fade" id="pills-report" role="tabpanel" aria-labelledby="pills-report-tab">
            <app-informe-ficha-iframe [fichaVehiculo]="fichaVehiculo">
            </app-informe-ficha-iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
