.container-tabs-ficha {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

  .nav {
    justify-content: center;

    .nav-item {
      .nav-link {
        h1 {
          color: var(--brand-gray);
          font-family: "mavenpro-bold", sans-serif;
          font-size: 40px;
          letter-spacing: -0.45px;
          line-height: 56px;
        }

        &.active {
          background: none;

          h1 {
            color: var(--brand-cyan2);
          }
        }
      }
      .separador {
        height: 45px;
        border-right: 1px solid var(--brand-gray);
        position: relative;
        top: 50%;
        margin-top: -25px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .container-tabs-ficha {
    .nav {
      .nav-item {
        .separador {
          height: auto;
          border-right: 0;
          top: auto;
          margin-top: auto;
        }
      }
    }
  }
}