<section class="form_tasacion container-tasador pb-4">
  <section class="izquierda pt-4">
    <section class="form_tasacion_inf d-none d-lg-block">
      <div class="form-col container_patente">
        <p class="title">¡Tenemos una oferta para ti!</p>
        <p class="precio">
          $ 9.300.000
        </p>
        <p class="condiciones">
          El valor entregado puede variar seg&uacute;n el estado del veh&iacute;culo
        </p>
        <p class="subtitle">
          Peugeot 208 1.6 Active Pack HDI 92HP MT Diesel
        </p>
        <p class="subtitle_b">
          ¿Como llegamos a tu valor?
        </p>
      </div>
</section>
    <article class="info">
      <div>
        <p class="tittle">¿Por qué elegirnos?</p>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-verification icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Tranquilidad</p>
          <p class="subtitle">
            A diferencia de otras empresas, nos preocupamos de transferir el auto a nuestro nombre, lo que te libera de cualquier responsabilidad futura sobre el auto.  Así, tú no tendrás que preocuparte de nada más que recibir tu dinero.
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-tag-peso icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Precio</p>
          <p class="subtitle">
            Tenemos precios muy competitivos. Cotiza con nosotros, te haremos una oferta que te sorprenderá. <strong>¿Tu auto tiene prenda? Despreocúpate, lo compramos igual!</strong>
          </p>
        </div>
      </div>
      <div class="info-texto">
        <div >
          <span class="icon-comodo icon"></span>
        </div>
        <div class="info-logo">
          <p class="tittle">Comodidad</p>
          <p class="subtitle">
            Te pagamos en una hora y nos encargamos de todo el proceso de transferencia. Olvídate de la notaría, el banco y los trámites molestos. <strong>Vende tu auto sin salir de tu casa.</strong>
          </p>
        </div>
      </div>
    </article>
  </section>
  <section class="derecha mt-5">
    <section class="form_tasacion_inf container d-lg-none">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <div class="form-col container_patente">
            <p class="title">¡Tenemos una oferta para ti!</p>
            <p class="precio">
              $ 9.300.000
            </p>
            <p class="condiciones">
              El valor entregado puede variar seg&uacute;n el estado del veh&iacute;culo
            </p>
            <p class="subtitle">
              Peugeot 208 1.6 Active Pack HDI 92HP MT Diesel
            </p>
            <p class="subtitle_b">
              ¿Como llegamos a tu valor?
            </p>
          </div>
          
        </div>
      </div>
    </section>
    <section class="form_tasacion_txt">
      <div class="row justify-content-md-center">
        <span class="circle">1</span>
        <span class="rectangle"></span>
        <span class="rectangle2"></span>
        <span class="circle2">2</span>
      </div>
      <div class="row">
        <span class="texto">Tus Datos</span>
        <span class="rectangle_b"></span>
        <span class="texto2">Agenda</span>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <div class="form-col container_pasos">
            <p class="title">Tus datos para agendar</p>
            <p class="subtitle">
              Completa con tus datos para que podamos contactarte y hacer la inspecci&oacute;n por videollamada.
            </p>

          </div>
          
        </div>
      </div>
    </section>
    <section class="form_tasacion_cnt container">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <form class="form_tasador">
            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="nombre" class="label-form">Nombre<span class="text-blue">*</span></label>
                <input
                  type="nombre"
                  class="form-control input-form-small"
                  id="nombre"
                  placeholder="Nombre"
                  maxLength="100"
                />
              </div>
              <div class="col-lg-12 form-group">
                <label for="apellidos" class="label-form">Apellidos<span class="text-blue">*</span></label>
                <input
                  type="apellidos"
                  class="form-control input-form-small"
                  id="apellidos"
                  placeholder="Apellidos"
                  maxLength="100"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-12 form-group">
                <label for="telefono" class="label-form">Confirmar tel&eacute;fono<span class="text-blue">*</span></label>
                <input
                  type="telefono"
                  class="form-control input-form-small"
                  id="telefono"
                  placeholder="+569..."
                  maxLength="100"
                />
              </div>
              <div class="col-lg-12 form-group">
                <label for="kilometraje" class="label-form">Confirmar Correo Electr&oacute;nico<span class="text-blue">*</span></label>
                <input
                  type="email"
                  class="form-control input-form-small"
                  id="email"
                  placeholder="abcd@abcd.cl"
                  maxLength="100"
                />
              </div>
              
            </div>
  

            <div class="form-group last_form_group">
              <button type="button" (click)="volver()" class="btn btn-secondary_nuevo">Volver a Cotizar</button>
              <button type="submit" (click)="siguiente()" class="btn btn-primary2">Agendar Hora</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  </section>

</section>

