.container-contacto {
  background-color: #f2f8f8;
  padding: 20px 0 40px 0;

  .title-contacto {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 56px;
    text-align: center;
  }

  .subtitle-contacto {
    color: var(--brand-blue);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 25px;
    text-align: center;

    .car-name {
      color: var(--brand-cyan2);
    }
  }

  .campos-obligatorios {
    color: #fe6666;
    font-family: "mavenpro-bold", sans-serif;
    font-size: 12px;
    letter-spacing: -0.14px;
    line-height: 25px;
  }

  .label-form {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 16px;

    span {
      color: #fe6666;
    }
  }

  .input-form {
    color: #36383c;
    font-family: "mavenpro-regular", sans-serif;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 16px;
    padding: 25px 20px;
  }

  .chek-info {
    margin-top: 15px;

    input {
      padding: 25px 20px;
      width: 240px;
    }
  }

  .invalid-feedback {
    color: #fe6666;
    font-family: "brandon-regular";
    font-size: 12px;
  }

  .btn.btn-primary[disabled]:hover {
    cursor: not-allowed;
  }

  .opcionales-container {
    padding: 0 5px;
    & > .opcionales-opcion:nth-child(odd) {
      margin-right: 10px;
    }

    & > .opcionales-opcion:nth-child(even) {
      margin-left: 10px;
    }
  }

  .opcionales-opcion {
    border: 1px solid #d9dde9;
    border-radius: 4px;
    padding: 20px 30px;
    width: calc(50% - 10px);
  }

  .term-container {
    text-align: center;
    margin-top: 20px;
    padding: 25px 10px;
    .terms-text {
      width: 380px;
      padding-left: 25px;
      margin: 0 auto;
      line-height: 20px;

      .terms-link {
        color: #36383c;
        text-decoration: underline;
      }
    }
  }

  .captcha {
    margin-top: 20px;
    margin-left: 5px;
  }

  #patente {
    text-transform: uppercase;
  }

  .resumen-parte-pago {
    color: #36383c;
    font-family: "brandon-regular";
    font-size: 16px;
    letter-spacing: -0.18px;

    .detail-resumen {
      font-family: "brandon-bold";
    }
  }

  .car-table {
    color: #36383c;
    font-family: "brandon-regular";
    font-size: 16px;
    letter-spacing: -0.18px;
    td {
      padding: 0;
    }
  }

  .volver-tasar-link {
    color: var(--brand-cyan);
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.modal-dialog {
  .modal-content {
    .modal-header {
      border: 0px;
      padding: 10px 25px;

      .close {
        color: #057c9e;
        font-size: 3rem;
        font-weight: 300;
        padding: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .container-contacto {
    .chek-info {
      input {
        width: 180px;
      }
    }

    .opcionales-container {
      & > .opcionales-opcion:nth-child(odd) {
        margin-right: 0;
      }

      & > .opcionales-opcion:nth-child(even) {
        margin-left: 0;
      }
      .opcionales-opcion {
        width: 100%;
      }
    }

    .term-container {
      float: none;
      margin: 0 auto;
      padding: 20px 0;
      width: max-content;
      .terms-text {
        width: 270px;
        padding-left: 25px;
        margin: 0 auto;
        line-height: 20px;
      }
    }

    .captcha {
      margin: 0px auto 30px;
      width: max-content;
    }
  }
}

@media (max-width: 575px) {
  .container-contacto {
    .term-container {
      float: none;
      margin: 0;
      padding: 20px 0;
      width: auto;
    }
  }
}

@media (max-width: 425px) {
  .container-contacto {
    .btn.btn-primary {
      width: 100%;
    }
  }
  .btn {
    width: 100%;
    margin-top: 10px;
    &.btn-primary {
      &:hover {
        /*
        background: linear-gradient(
          90deg,
          #48b2be 13%,
          #6b75ff 79%,
          #967eff 100%
        );
        color: #ffffff;
        */
        background: rgba(0,0,0,.2)
      }
    }
  }
}

@media (max-width: 390px) {
  .container-contacto {
    .opcionales-container {
      .opcionales-opcion {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
