<section class="container-contacto" id="contacto-ficha">
    <section class="container">
      <h1 *ngIf="tipoContacto === 'ficha'" class="title-contacto">Contacto</h1>
      <h1 *ngIf="tipoContacto !== 'ficha'" class="title-contacto">
        ¿Tienes dudas?
      </h1>
      <h3 *ngIf="tipoContacto === 'ficha'" class="subtitle-contacto">
        Estás solicitando información sobre:
        <span class="car-name">{{ fichaVehiculo.Modelo }}</span>
      </h3>
      <h3 *ngIf="tipoContacto !== 'ficha'" class="subtitle-contacto">
        Completa nuestro formulario para poder contactarte
      </h3>
  
      <div class="row justify-content-md-center">
        <div class="col-lg-9 p-lg-0">
          <p class="campos-obligatorios">(*) Datos obligatorios</p>
          <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col">
                <div class="row">
                  <div class="form-group col-md-3" [ngClass]="{ 'col-md-4': tipoContacto === 'ficha' || dataBanner?.flag}">
                    <label for="nombre" class="label-form"
                      >Nombre<span>*</span></label
                    >
                    <input
                      type="text"
                      class="form-control input-form"
                      [ngClass]="{
                        'is-invalid':
                          !!contactoForm.get('nombre')?.errors &&
                          contactoForm.get('nombre')?.touched
                      }"
                      id="nombre"
                      placeholder="Ej: Francisco"
                      formControlName="nombre"
                      maxLength="40"
                    />
                    <div
                      *ngIf="
                        !!contactoForm.get('nombre')?.errors?.required &&
                        contactoForm.get('nombre')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Por favor, introduce tu nombre
                    </div>
                    <div
                      *ngIf="
                        (!!contactoForm.get('nombre')?.errors?.pattern ||
                          !!contactoForm.get('nombre')?.errors?.minlength) &&
                        contactoForm.get('nombre')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Por favor, introduce un nombre válido
                    </div>
                  </div>
                  <div class="form-group col-md-3" [ngClass]="{ 'col-md-4': tipoContacto === 'ficha' || dataBanner?.flag }">
                    <label for="apellidos" class="label-form"
                      >Apellidos<span>*</span></label
                    >
                    <input
                      type="text"
                      class="form-control input-form"
                      [ngClass]="{
                        'is-invalid':
                          !!contactoForm.get('apellidos')?.errors &&
                          contactoForm.get('apellidos')?.touched
                      }"
                      id="apellidos"
                      placeholder="Ej: Campos Tapia"
                      formControlName="apellidos"
                      maxLength="40"
                    />
                    <div
                      *ngIf="
                        !!contactoForm.get('apellidos')?.errors?.required &&
                        contactoForm.get('apellidos')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Por favor, introduce tus apellidos
                    </div>
                    <div
                      *ngIf="
                        (!!contactoForm.get('apellidos')?.errors?.pattern ||
                          !!contactoForm.get('apellidos')?.errors?.minlength) &&
                        contactoForm.get('apellidos')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Por favor, introduce apellidos válidos
                    </div>
                  </div>
                  <div class="form-group col-md-3" [ngClass]="{ 'col-md-4': tipoContacto === 'ficha' || dataBanner?.flag }">
                    <label for="telefono" class="label-form"
                      >Teléfono<span>*</span></label
                    >
                    <input
                      type="text"
                      class="form-control input-form"
                      [ngClass]="{
                        'is-invalid':
                          !!contactoForm.get('telefono')?.errors &&
                          contactoForm.get('telefono')?.touched
                      }"
                      id="telefono"
                      placeholder="Ej: +569XXXXXXXX"
                      formControlName="telefono"
                      maxLength="12"
                    />
                    <div
                      *ngIf="
                        !!contactoForm.get('telefono')?.errors?.required &&
                        contactoForm.get('telefono')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Por favor, introduce tu teléfono
                    </div>
                    <div
                      *ngIf="
                        (!!contactoForm.get('telefono')?.errors?.pattern ||
                          !!contactoForm.get('telefono')?.errors?.minlength) &&
                        contactoForm.get('telefono')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Por favor, ingresa +569XXXXXXXX
                    </div>
                  </div>
                  <div class="form-group col-md-3" [ngClass]="{ 'col-md-4': tipoContacto === 'ficha' || dataBanner?.flag }">
                    <label for="email" class="label-form"
                      >Email<span>*</span></label
                    >
                    <input
                      type="email"
                      class="form-control input-form"
                      [ngClass]="{
                        'is-invalid':
                          !!contactoForm.get('email')?.errors &&
                          contactoForm.get('email')?.touched
                      }"
                      id="email"
                      placeholder="Ej: correo@ejemplo.com"
                      formControlName="email"
                      maxLength="100"
                    />
                    <div class="invalid-feedback">
                      Por favor, introduce un email válido
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row opcionales-container">
              <div
                *ngIf="tipoContacto === 'ficha'"
                class="mt-2 opcionales-opcion"
              >
                <div class="">
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="switchFinancia"
                      (click)="onFinanciaCompra()"
                      formControlName="financiarCompra"
                    />
                    <label
                      class="custom-control-label label-container pl-1 financiar"
                      for="switchFinancia"
                      >Necesito Financiamiento</label
                    >
                  </div>
                </div>
              </div>
              <div
                *ngIf="tipoContacto === 'ficha'"
                class="mt-2 opcionales-opcion"
              >
                <div class="">
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="switchPartePago"
                      (click)="onPartePago()"
                      formControlName="autoPartePago"
                    />
                    <label
                      class="
                        custom-control-label
                        label-container
                        pl-1
                        partedepago
                      "
                      for="switchPartePago"
                      >Quiero dejar mi auto en parte de pago</label
                    >
                  </div>
                  <div *ngIf="mostrarOferta" class="chek-info">
                    <div class="resumen-parte-pago">
                      <div class="row">
                        <div class="col-5 col-lg-4 info-resumen">Auto:</div>
                        <div class="col-7 col-lg-8 detail-resumen">
                          {{ ofertaPartePago?.marca }}
                          {{ ofertaPartePago?.modelo }}
                          {{ ofertaPartePago?.version }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5 col-lg-4 info-resumen">Patente:</div>
                        <div class="col-7 col-lg-8 detail-resumen">
                          {{ ofertaPartePago?.patente | uppercase }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5 col-lg-4 info-resumen">Año:</div>
                        <div class="col-7 col-lg-8 detail-resumen">
                          {{ ofertaPartePago?.ano }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5 col-lg-4 info-resumen">
                          Kilometraje:
                        </div>
                        <div class="col-7 col-lg-8 detail-resumen">
                          {{ ofertaPartePago?.kilometraje | number: "":"es" }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5 col-lg-4 info-resumen">
                          Valor tasación:
                        </div>
                        <div class="col-7 col-lg-8 detail-resumen">
                          ${{ ofertaPartePago?.valor | number: "":"es" }}
                        </div>
                      </div>
                    </div>
                    <p class="mb-0 mt-2 text-right">
                      <a (click)="volverTasar()" class="volver-tasar-link"
                        >Volver a tasar</a
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div *ngIf="tipoContacto === 'ficha'" class="col-md-12">
                <div class="term-container">
                  <label class="label-container terms-text"
                    >Estoy de acuerdo con los
                    <a
                      class="terms-link"
                      [href]="urlPdfTerminosCondiciones"
                      target="_blank"
                      >términos y condiciones</a
                    >.
                    <input
                      type="checkbox"
                      formControlName="terminosCondiciones"
                    />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
  
            <div
            class="mt-2"
            [ngClass]="{
              'text-right': tipoContacto !== 'ficha',
              'text-center': tipoContacto === 'ficha'
            }"
          >
            <button
              type="submit"
              class="btn btn-second"
              [ngClass]="{
                'btn-ficha': tipoContacto === 'ficha'
              }"
              [disabled]="formDisabled()"
            >
              {{ textoBotonEnviar }}
            </button>
          </div>
          <div class="mt-2 text-center">
            <small>
              Este sitio está protegido por reCAPTCHA, se aplica la 
              <a target="_blank" href="https://policies.google.com/privacy">Política de privacidad</a> y los 
              <a target="_blank" href="https://policies.google.com/terms">Términos de servicio</a> de Google.
            </small>
          </div>
          </form>
        </div>
      </div>
    </section>
  </section>
  