.header {
  height: 20px;
  width: 100%;
  background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
}

.principal_bg {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  position: relative;
  background-image: url("../../../assets/images/landing-car1_1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 1rem;
  .principal_bg_cnt {
    width: 100%;
    padding: 2rem;
    position: relative;
    .logo_cnt {
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin: 0;
      cursor: pointer;
      .img {
        width: 12%;
      }
    }
    .title {
      font-size: 5rem;
      margin: 0;
      margin-bottom: 1.5rem;
      color: white;
      font-family: "brandon-bold";
    }
    .btn_quiero_vender {
      width: 25%;
      padding: 1rem;
      background: linear-gradient(
        90deg,
        #48b2be 13%,
        #6b75ff 79%,
        #967eff 100%
      );
      color: white;
      font-family: "brandon-bold";
      font-weight: 400;
      border: none;
      font-size: 2.5rem;
    }
  }
}

.info_bg {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/images/landing-car1_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
  .info_bg_cnt {
    width: 100%;
    padding: 1rem;
    margin: 0 2rem;
    position: relative;
    top: -20px;
    display: flex;
    align-items: center;
    border-left: 2px solid #4ba7c3;
    .line_top_left {
      position: absolute;
      top: 0;
      left: 0;
      border-top: 3px solid #4ba7c3;
      width: 70px;
    }

    .line_bottom_left {
      position: absolute;
      left: 0;
      bottom: 0;
      border-top: 3px solid #4ba7c3;
      width: 70px;
    }
    .icon_cnt {
      position: relative;
      width: auto;
      margin-left: 4rem;
      display: flex;
      justify-content: center;
      .icon_info {
        width: 152px;
        display: block;
        text-align: center;
      }
      .icon {
        color: #35383c;
        font-size: 5rem;
      }
      .icon_text {
        color: #35383c;
        font-size: 1.375rem;
        font-weight: 600;
        margin-top: 0.325rem;
        font-family: "brandon-bold";
        &.icon_text--no_margin {
          margin-top: 0;
        }
      }
    }
    .title {
      position: relative;
      top: -10px;
      font-size: 2.5rem;
      font-weight: 600;
      color: #35383c;
      margin: 0;
      font-family: "brandon-bold";
      &-line_top_left {
        display: none;
      }
      &-line_bottom_left {
        display: none;
      }
      &-line_top_right {
        display: none;
      }
      &-line_bottom_right {
        display: none;
      }
    }
  }
}

.steps_container {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  margin-bottom: 1rem;
  .info_steps {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../../../assets/images/landing-car1_3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 1rem 1rem 0;
    .info_steps_cnt {
      width: 100%;
      padding: 1rem 1rem;
      .title {
        color: #35383c;
        font-size: 2.5rem;
        margin: 0 0 1rem;
        font-weight: 600;
        font-family: "brandon-bold";
        &-line_top_left {
          display: none;
        }
        &-line_bottom_left {
          display: none;
        }
        &-line_top_right {
          display: none;
        }
        &-line_bottom_right {
          display: none;
        }
      }
      .btn_inicia_aqui {
        width: 243px;
        padding: 1rem;
        background: linear-gradient(
          90deg,
          #48b2be 13%,
          #6b75ff 79%,
          #967eff 100%
        );
        color: white;
        font-family: "brandon-bold";
        font-weight: 400;
        font-size: 1.625rem;
        border: none;
      }
    }
  }
  .steps {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #4ba7c3;
    margin-bottom: 1rem;
    .steps_cnt {
      width: 100%;
      padding: 1rem 0;
      .text {
        padding: 0 2rem;
        margin-bottom: 0.5rem;
        font-size: 1.325rem;
        font-family: "brandon-bold";
        font-weight: 600;
        color: white;
        &.text--principal {
          padding: 0 3rem;
          margin-bottom: 2rem;
          font-size: 1.5rem;
          color: white;
        }
        .icon {
          font-size: 0.825rem;
          margin-right: 0.5rem;
        }
      }
      .btn_inicia_aqui {
        display: none;
      }
    }
  }
}

.quoting_container {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  margin-bottom: 1rem;
  .info_quoting {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../../../assets/images/landing-car1_4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 1rem 1rem;
    .info_quoting_cnt {
      width: 100%;
      padding: 1rem 2rem;
      .title {
        color: #35383c;
        font-size: 2.5rem;
        margin: 0 0 1rem;
        font-weight: 600;
        font-family: "brandon-bold";
      }
      .btn_cotiza_aqui {
        width: 243px;
        padding: 1rem;
        background: linear-gradient(
          90deg,
          #48b2be 13%,
          #6b75ff 79%,
          #967eff 100%
        );
        color: white;
        font-family: "brandon-bold";
        font-weight: 400;
        border: none;
        font-size: 1.625rem;
      }
    }
  }
  .quoting {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #4ba7c3;
    margin-bottom: 1rem;
    .quoting_cnt {
      position: relative;
      width: 100%;
      padding: 2rem 0;
      margin: 0 2rem;
      border-left: 2px solid white;
      .line_top_left {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 3px solid white;
        width: 70px;
      }
      .line_bottom_left {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 3px solid white;
        width: 70px;
      }
      .text {
        padding: 0 2rem;
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
        font-weight: 600;
        color: white;
        font-family: "brandon-bold";
      }
    }
  }
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem 0;
  background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
  .text {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "brandon-bold";
  }
  .social_cnt {
    width: 100%;
    display: flex;
    justify-content: center;
    .icon {
      margin: 0 0.325rem;
      color: white;
      font-size: 2.5rem;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 1140px) {
  .principal_bg {
    .principal_bg_cnt {
      .logo_cnt {
        .img {
          width: 18%;
        }
      }
      .title {
        font-size: 4rem;
      }
      .btn_quiero_vender {
        width: 40%;
        font-size: 2rem;
      }
    }
  }

  .steps_container {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    margin-bottom: 1rem;
    .steps {
      .steps_cnt {
        .text {
          padding: 0 2rem;
          margin-bottom: 0.5rem;
          font-size: 0.875rem;
          font-weight: 600;
          color: white;
          &.text--principal {
            padding: 0 3rem;
            margin-bottom: 2rem;
            font-size: 1.2rem;
            color: white;
          }
        }
      }
    }
  }

  .quoting_container {
    .info_quoting {
      .info_quoting_cnt {
        .title {
          font-size: 2rem;
        }
      }
    }
    .quoting {
      .quoting_cnt {
        .text {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .principal_bg {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/landing-car1_1_mobile.jpg");
    background-position: center;
    .principal_bg_cnt {
      width: 100%;
      padding: 2rem 2rem;
      position: relative;
      .logo_cnt {
        position: relative;
        margin: 0;
        .img {
          width: 25%;
        }
      }
      .title {
        font-size: 3rem;
      }
      .btn_quiero_vender {
        width: 60%;
        font-size: 1.625rem;
      }
    }
  }

  .info_bg {
    height: 100%;
    background-image: url("../../../assets/images/landing-car1_2_mobile.jpg");
    background-position: top;
    .info_bg_cnt {
      padding: 2rem 0 0 2rem;
      flex-flow: column;
      align-items: flex-start;
      border-left: 0;
      margin: 0;
      top: 0;
      .line_top_left {
        display: none;
      }

      .line_bottom_left {
        display: none;
      }
      .icon_cnt {
        width: 100%;
        margin: 0;
        justify-content: flex-end;
        .icon_info {
          width: 136px;
          display: block;
          text-align: center;
          margin: 0;
          &:nth-child(3) {
            width: 122px;
          }
        }
        .icon {
          color: white;
          font-size: 4rem;
        }
        .icon_text {
          color: white;
          font-size: 1.25rem;
        }
      }
      .title {
        position: relative;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-right: 0;
        border-left: 2px solid #4ba7c3;
        &-line_top_left {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          border-top: 3px solid #4ba7c3;
          width: 50px;
        }
        &-line_bottom_left {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          border-top: 3px solid #4ba7c3;
          width: 50px;
        }
      }
    }
  }

  .steps_container {
    width: 100%;
    height: 100%;
    display: block;
    .info_steps {
      height: auto;
      background-color: #4ba7c3;
      background-image: none;
      display: block;
      padding: 2rem;
      .info_steps_cnt {
        width: 100%;
        .title {
          position: relative;
          padding: 2rem 1rem;
          color: white;
          font-size: 2.5rem;
          border-right: 2px solid white;
          border-left: 2px solid white;
          text-align: center;
          font-weight: 600;
          &-line_top_left {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 3px solid white;
            width: 70px;
          }
          &-line_bottom_left {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 3px solid white;
            width: 70px;
          }
          &-line_top_right {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-top: 3px solid white;
            width: 70px;
          }
          &-line_bottom_right {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 3px solid white;
            width: 70px;
          }
        }

        .btn_inicia_aqui {
          display: none;
        }
      }
    }
    .steps {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      background-image: url("../../../assets/images/landing-car1_3_mobile.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 1rem;
      .steps_cnt {
        width: 100%;
        padding: 1rem 0;
        .text {
          line-height: normal;
          padding: 0 2rem;
          margin-bottom: 0.5rem;
          font-size: 1.325rem;
          font-weight: 600;
          color: #35383c;
          &.text--principal {
            padding: 0 3rem;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            color: #35383c;
          }
          .icon {
            font-size: 0.825rem;
            margin-right: 0.5rem;
          }
        }
        .btn_inicia_aqui {
          width: 243px;
          margin: 1rem 2rem;
          font-family: "brandon-bold";
          display: block;
          padding: 0.5rem;
          background: linear-gradient(
            90deg,
            #48b2be 13%,
            #6b75ff 79%,
            #967eff 100%
          );
          color: white;
          font-weight: 400;
          border: none;
          font-size: 1.625rem;
        }
      }
    }
  }

  .quoting_container {
    width: 100%;
    height: 100%;
    display: block;
    .info_quoting {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      background-image: url("../../../assets/images/landing-car1_4_mobile.jpg");
      margin: 0;
      .info_quoting_cnt {
        width: 100%;
        padding: 1rem 2rem;
        .title {
          color: #35383c;
          font-size: 2rem;
          margin: 0 0 1rem;
          font-weight: 600;
        }
        .btn_cotiza_aqui {
          padding: 0.5rem;
        }
      }
    }
    .quoting {
      height: 100%;
      width: 100%;
      display: block;
      align-items: center;
      position: relative;
      .quoting_cnt {
        position: relative;
        width: 100%;
        padding: 2rem 0;
        margin: 0;
        border-left: 0;
        .line_top_left {
          display: none;
        }
        .line_bottom_left {
          display: none;
        }
        .text {
          line-height: normal;
          position: relative;
          padding: 2rem 0;
          font-size: 2.5rem;
          font-weight: 600;
          color: white;
          border-right: 2px solid white;
          border-left: 2px solid white;
          margin: 0 2rem;
          text-align: center;
          &-line_top_left {
            position: absolute;
            top: 0;
            left: 0;
            border-top: 3px solid white;
            width: 70px;
          }
          &-line_bottom_left {
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 3px solid white;
            width: 70px;
          }
          &-line_top_right {
            position: absolute;
            top: 0;
            right: 0;
            border-top: 3px solid white;
            width: 70px;
          }
          &-line_bottom_right {
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 3px solid white;
            width: 70px;
          }
        }
      }
    }
  }

  .footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1rem 0;
    background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
    .text {
      font-size: 1.5rem;
      color: white;
      font-weight: 400;
      text-align: center;
      margin-bottom: 1rem;
    }
    .social_cnt {
      width: 100%;
      display: flex;
      justify-content: center;
      .icon {
        margin: 0 0.325rem;
        color: white;
        font-size: 2.5rem;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 482px) {
  .principal_bg {
    .principal_bg_cnt {
      .logo_cnt {
        .img {
          width: 42%;
        }
      }
      .btn_quiero_vender {
        width: 80%;
      }
    }
  }

  .info_bg {
    .info_bg_cnt {
      .icon_cnt {
        .icon_info {
          width: 100px;
        }
        .icon {
          font-size: 2.5rem;
        }
        .icon_text {
          font-size: 0.875rem;
        }
      }
    }
  }
}
