<header class="header"></header>

<section class="principal_bg">
  <section class="principal_bg_cnt">
    <figure class="logo_cnt">
      <img
        class="img"
        (click)="redirectToHome()"
        src="../../../assets/images/logo_car_1.svg"
        alt="logo-car1"
      />
    </figure>
    <h1 class="title">
      Car1 te compra <br />
      el auto ¡As&iacute; de <br />
      simple!
    </h1>
    <button class="btn_quiero_vender land1 boton1" (click)="goToVenta()">
      Quiero vender
    </button>
  </section>
</section>

<section class="info_bg">
  <section class="info_bg_cnt">
    <span class="line_top_left"></span>
    <span class="line_bottom_left"></span>
    <h1 class="title">
      <span class="title-line_top_left"></span>
      <span class="title-line_bottom_left"></span>
      <span class="title-line_top_right"></span>
      <span class="title-line_bottom_right"></span>
      ¿Por qu&eacute; <br />
      elegir Car1?
    </h1>
    <article class="icon_cnt">
      <div class="icon_info">
        <span class="icon icon-credit"></span>
        <p class="icon_text icon_text--no_margin">
          Pago <br />
          en 1 hora
        </p>
      </div>

      <div class="icon_info">
        <span class="icon icon-phone"></span>
        <p class="icon_text">
          Inspecci&oacute;n por <br />
          videollamada
        </p>
      </div>

      <div class="icon_info">
        <span class="icon icon-home"></span>
        <p class="icon_text">
          Retiro a <br />
          domicilio
        </p>
      </div>
    </article>
  </section>
</section>

<section class="steps_container">
  <section class="info_steps">
    <section class="info_steps_cnt">
      <h1 class="title">
        <span class="title-line_top_left"></span>
        <span class="title-line_bottom_left"></span>
        <span class="title-line_top_right"></span>
        <span class="title-line_bottom_right"></span>
        ¡Te lo hacemos sencillo! <br />
        Olv&iacute;date de los <br />
        tr&aacute;mites molestos
      </h1>
      <button class="btn_inicia_aqui land1 boton2" (click)="goToVenta()">
        Inicia aqu&iacute;
      </button>
    </section>
  </section>

  <section class="steps">
    <section class="steps_cnt">
      <p class="text text--principal">
        Siguiendo tan solo 3 sencillos pasos <br />
        puedes comenzar a despedirte de tu <br />
        viejo amigo.
      </p>
      <p class="text">
        <span class="icon icon-check"></span>Ingresa tus datos y los de tu auto.
      </p>
      <p class="text">
        <span class="icon icon-check"></span>Agenda una inspección virtual.
      </p>
      <p class="text">
        <span class="icon icon-check"></span>Conversaremos para ajustar detalles
        finales.
      </p>
      <button class="btn_inicia_aqui land1 boton2" (click)="goToVenta()">
        Inicia aqu&iacute;
      </button>
    </section>
  </section>
</section>

<section class="quoting_container">
  <section class="quoting">
    <section class="quoting_cnt">
      <span class="line_top_left"></span>
      <span class="line_bottom_left"></span>
      <p class="text">
        <span class="text-line_top_left"></span>
        <span class="text-line_bottom_left"></span>
        <span class="text-line_top_right"></span>
        <span class="text-line_bottom_right"></span>
        ¿Sabes cu&aacute;nto cuesta <br />
        tu auto? ¡Puedes <br />
        saberlo en un minuto!
      </p>
    </section>
  </section>

  <section class="info_quoting">
    <section class="info_quoting_cnt">
      <h1 class="title">
        En Car1 es muy f&aacute;cil y rápido <br *ngIf="!mobile" />
        averiguar el valor de tu auto. <br *ngIf="!mobile" />
        Sólo debes rellenar los datos <br *ngIf="!mobile" />
        solicitados y listo.
      </h1>
      <button class="btn_cotiza_aqui land1 boton3" (click)="goToVenta()">
        Cotiza aqu&iacute;
      </button>
    </section>
  </section>
</section>
<footer class="footer">
  <p class="text">S&iacute;guenos</p>
  <article class="social_cnt">
    <a
      href="https://www.facebook.com/car1chile/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
      ><span class="icon-facebook"></span
    ></a>
    <a
      href="https://www.instagram.com/car1_chile"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <span class="icon-instagram"></span
    ></a>
    <a
      href="https://www.linkedin.com/company/car1chile/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon"
    >
      <span class="icon-linkedin"></span
    ></a>
  </article>
</footer>
