.card-vehiculo-container {
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px 0 rgba(148, 148, 148, 0.5);

  .card {
    .imagen-container {
      height: 260px;
      width: 100%;

      img{
        height: 100%;
        width: 100%;
      }
    }
    a {
      cursor: pointer;
    }
  }

  .info-vehiculo {
    color: var(--brand-marine);
    font-family: "mavenpro-regular", sans-serif;
    height: 140px;

    .marca-precio-vehiculo {
      display: flex;
      justify-content: space-between;
      .marca-vehiculo {
        font-family: "mavenpro-bold", sans-serif;
        font-size: 18px;
        margin-bottom: 0;
      }

      .precio-vehiculo {
        color:var(--brand-marine);
        font-family: "mavenpro-bold", sans-serif;
        font-size: 18px;
        margin-bottom: 0;
        text-align: right;
        span {
          display: block;
        }
        .cuotas {
          font-size: 14px;
        }
      }
    }

    .modelo-vehiculo {
      font-size: 16px;
      margin-bottom: 0;
    }

    .anio-vehiculo {
      color: #9d9d9d;
      margin-bottom: 0;
    }
  }

  .icons-info {
    display: flex;
    justify-content: space-between;

    p {
      color: #9d9d9d;
      font-family: "mavenpro-regular", sans-serif;
      font-size: 12px;

      img {
        margin-right: 5px;
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 1196) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 215px;
      }
    }
  }
}

@media (max-width: 991) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 245px;
      }
    }
  }
}

@media (max-width: 767) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 180px;
      }
    }
  }
}

@media (max-width: 575) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 405px;
      }
    }
  }
}

@media (max-width: 425) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 295px;
      }
    }
  }
}

@media (max-width: 375) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 260px;
      }
    }
  }
}

@media (max-width: 320) {
  .card-vehiculo-container {
    .card {
      .imagen-container {
        height: 215px;
      }
    }
  }
}
