<section class="card-vehiculo-container">
  <div class="card">
    <a (click)="redirectToFicha()" target="_blank">
      <div class="imagen-container">
        <img
          [src]="getUrlMiniatura()"
          (load)="hideSpinner('ok')"
          alt="miniatura"
          loading=lazy
        />
        <input
          id="placa_patente"
          name="placa_patente"
          type="hidden"
          [value]="vehiculo.Patente"
        />
      </div>
    </a>
    <div class="card-body">
      <div class="info-vehiculo">
        <div class="marca-precio-vehiculo">
          <p class="marca-vehiculo">{{ vehiculo.marca?.Nombre }}</p>
          <p class="precio-vehiculo">
            <span>${{ vehiculo.Precio | number: "":"es" }}</span>
            <span *ngIf="vehiculo.CuotaMonto != null">Desde ${{ vehiculo.CuotaMonto | number: "":"es" }}</span>
            <span *ngIf="vehiculo.Cuotas != null" class="cuotas">({{ vehiculo.Cuotas | number: "":"es" }} Cuotas)</span>
          </p>
        </div>
        <p class="modelo-vehiculo">{{ vehiculo.Modelo }}</p>
        <p class="anio-vehiculo">{{ vehiculo.AnioFabricacion }}</p>
      </div>
      <div class="icons-info">
        <p>
          <img
            src="../../../../../assets/icons/icono_combustible.svg"
            alt="icono_combustible"
            loading=lazy
          />{{ vehiculo.tipo_de_combustible?.Tipo }}
        </p>
        <p>
          <img
            src="../../../../../assets/icons/icono_km.svg"
            alt="icono_km"
            loading=lazy
          />{{ vehiculo.Kilometraje | number: "":"es" }} km
        </p>
        <p>
          <img
            src="../../../../../assets/icons/icono_trasmison.svg"
            alt="icono_trasmison"
            loading=lazy
          />{{ vehiculo.tipo_de_transmision?.Tipo }}
        </p>
      </div>
    </div>
  </div>
</section>
