.info-compra-container {
  background-color: #fff;

  .title-info-compra {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.45px;
    text-align: center;
    margin: 0 0 30px 0;
  }

  .container-info-compra {
    .elemento-info-compra{
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 78px;
      }
    }
    .container-elemento-info-compra {
      margin-bottom: 30px;
      text-align: left;

      .text-titulo-elemento-info-compra {
        color: var(--brand-blue);
        font-family: "mavenpro-bold", sans-serif;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 22px;
        
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .text-elemento-info-compra {
        color: var(--brand-marine);
        font-family: "mavenpro-regular", sans-serif;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 22px;
       
        margin: 0 30px 0 0;
      }
    }
  }
}
