<div class="info-compra-container">
  <div class="container">
    <p class="title-info-compra">Cómo conseguir tu vehículo</p>

    <div class="row container-info-compra">
      <div class="col">
        <div class="row">
          <div class="col-5 elemento-info-compra">
              <img alt="" src="/assets/images/icono_lupa.svg" />
          </div>
          <div class="col-7 container-elemento-info-compra">
              <span class="text-titulo-elemento-info-compra">
                Paso 1
              </span><br/>
              <span class="text-elemento-info-compra">
                Completa el formulario de contacto  en la ficha del auto que te gusta
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 elemento-info-compra">
              <img alt="" src="/assets/images/icono_mobile.png" />
          </div>
          <div class="col-7 container-elemento-info-compra">
              <span class="text-titulo-elemento-info-compra">
                Paso 2
              </span><br/>
              <span class="text-elemento-info-compra">
                Nuestro equipo de ventas te contactará para resolver dudas y agendar tu visita para ver el auto.
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 elemento-info-compra">
              <img alt="" src="/assets/images/icono_tuerca.png" />
          </div>
          <div class="col-7 container-elemento-info-compra">
            <span  class="text-titulo-elemento-info-compra">
                Paso 3
              </span><br/>
              <span class="text-elemento-info-compra">
                Conoce tu auto en nuestra sucursal de Rosario Norte 532, of. 1404, Las Condes.
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 elemento-info-compra">
              <img alt="" src="/assets/images/icono_tienda.png" />
          </div>
          <div class="col-7 container-elemento-info-compra">
              <span class="text-titulo-elemento-info-compra">
                Paso 4
              </span><br/>
              <span class="text-elemento-info-compra">
                Te gustó? Compra en cuotas o con financiamiento y regresa a casa en tu nuevo auto o lo despachamos a tu domicilio.
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
