.container-descripcion {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
h1 {
  color: var(--brand-marine);
  font-family: "mavenpro-bold", sans-serif;
  font-size: 40px;
  letter-spacing: -0.45px;
  line-height: 56px;
}
p {
  color: var(--brand-blue);
  font-family: "mavenpro-regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 22px;
  text-align: center;
}
