.container-caracteristicas {
  text-align: center;
  background-color: #f2f8f8;
  padding: 25px;

  h1 {
    color: #36383c;
    font-family: "mavenpro-bold", sans-serif;
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 56px;
  }

  .info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dcdcdc;
    font-size: 14px;
    padding: 15px 25px;

    &:nth-child(odd) {
      border-right: 1px solid #dcdcdc;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-top: none;
    }

    .titulo-caracteristica {
      font-size: 14px;
      font-family: "barlow-regular";
      margin: 0;

      img {
        margin-right: 16px;
      }
    }
    .valor-caracteristica {
      margin: 0;
      font-size: 14px;
      font-family: "barlow-regular";
      font-weight: bold;
    }
  }
}

@media (max-width: 991px) {
  .container-caracteristicas {
    .info-item {
      &:nth-child(odd) {
        border-right: none;
      }

      &:nth-child(2) {
        border-top: 1px solid #dcdcdc;
      }
    }
  }
}
