.info-compra-container {
  background-color: #fff;
  padding: 60px 0;

  .title-info-compra {
    color: var(--brand-marine);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 56px;
    text-align: center;
    margin: 0 0 50px 0;
  }

  .container-info-compra {
    .container-elemento-info-compra {
      margin-bottom: 30px;
      text-align: center;

      img {
        height: 88px;
      }

      .text-titulo-elemento-info-compra {
        color: var(--brand-blue);
        font-family: "mavenpro-bold", sans-serif;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 22px;
        text-align: center;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .text-elemento-info-compra {
        color: var(--brand-marine);
        font-family: "mavenpro-regular", sans-serif;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 22px;
        text-align: center;
        margin: 0;
      }
    }
  }
}
