<div class="info-compra-container">
  <div class="container">
    <p class="title-info-compra">Cómo conseguir tu vehículo</p>

    <div class="row container-info-compra">
      <div class="col-md-4">
        <section class="container-elemento-info-compra">
          <img alt="" src="/assets/images/icono_lupa.svg" />
          <p class="text-titulo-elemento-info-compra">
            ELIGE TU MODELO FAVORITO
          </p>
          <p class="text-elemento-info-compra">
            Conoce en detalle las características de cada auto y rellena el
            formulario de contacto para coordinar la compra o resolver cualquier
            duda.
          </p>
        </section>
      </div>
      <div class="col-md-4">
        <section class="container-elemento-info-compra">
          <img alt="" src="/assets/icons/icono_reserva_tu_auto.svg" />
          <p class="text-titulo-elemento-info-compra">PRUEBA TU AUTO EN CASA</p>
          <p class="text-elemento-info-compra">
            Prueba tu auto favorito en casa pagando una reserva de $100.000 y
            recíbelo dentro de 24 horas*.<br /><br /><em
              >*Exhibici&oacute;n a domicilio solo disponible para Regi&oacute;n
              Metropolitana.</em
            >
          </p>
        </section>
      </div>
      <div class="col-md-4">
        <section class="container-elemento-info-compra">
          <img alt="" src="/assets/icons/icono_lo_probaste_te_gusto.svg" />
          <p class="text-titulo-elemento-info-compra">
            ¿LO PROBASTE Y TE GUSTÓ?
          </p>
          <p class="text-elemento-info-compra">
            Termina tu compra pagando el saldo y comienza a disfrutar tu nuevo
            auto. ¡Así de simple! Adem&aacute;s, puedes consultar con tu
            ejecutivo las condiciones de entrega a domicilio en todo Chile.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
