<div class="button-container" [style]="visibleContacto ?'display:none' : ''">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-second" (click)="contactoBtn()">
                    CONTACTO
                </button>
            </div>
            <div class="col-6">
                <a *ngIf="whatsappURL" class="btn btn-second" [href]="whatsappURL">
                    WHATSAPP
                </a>
            </div>
        </div>
    </div>
</div>