.button-container {
    position: fixed;
    width: 100%;
    padding: .5rem;
    top: auto;
    bottom: 0;
    background-color: #fff;
    z-index: 500;
    box-shadow: 10px 5px 5px #000;
}
button, a {
    width: 100% !important;
}
::ng-deep body {
    margin-bottom: 58px !important;
}