.container-tabs-ficha {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

  .nav {
    justify-content: center;

    .nav-item {
      .nav-link {
        h1 {
          color: #c3c5c7;
          font-family: "mavenpro-bold", sans-serif;
          font-size: 40px;
          letter-spacing: -0.45px;
          line-height: 56px;
        }

        &.active {
          background: none;

          h1 {
            color: #4caac6;
          }
        }
      }
    }
  }
}
