<section class="container-tabs-ficha">
  <section class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-9 col-md-11 p-md-0">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="pills-home-tab"
              data-toggle="pill"
              href="#pills-home"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              ><h1>Equipamiento</h1></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="pills-profile-tab"
              data-toggle="pill"
              href="#pills-profile"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              ><h1>Detalles</h1></a
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <app-equipamiento-ficha
              [fichaVehiculo]="fichaVehiculo"
            ></app-equipamiento-ficha>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <app-detalle-ficha [fichaVehiculo]="fichaVehiculo">
            </app-detalle-ficha>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
