hr {
    border-color: var(--brand-cyan2);
}
p {
    margin-bottom: 0.1rem;
}
.container {
    font-family: "mavenpro-regular", sans-serif;
}
.subtitle {
    color: var(--brand-blue);
    font-family: "mavenpro-bold", sans-serif;
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 25px;
    text-align: center;
}
.valorTitulo, .valorRange {
    font-family: "mavenpro-bold", sans-serif;
    font-size: 22px;
}
.valorRange {
  color: var(--brand-blue);
}
.pie-irregular {
    color: #fe6666;
}
.valor {
    font-family: "mavenpro-bold", sans-serif;
    font-size: 24px;
}
.valorCuota {
    font-family: "mavenpro-bold", sans-serif;
    font-size: 24px;
}
.cuotas {
    font-size: 22px;
}
.input-group-text, .form-control {
  border: 1px solid var(--brand-cyan2);
}
.border-form {
    border: 1px solid var(--brand-cyan); 
    border-radius: 10px; 
    padding: 10px 0;
}
.btn-secondary {
    height: 36px;
    background: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    font-size: 1rem;
    color: white;
    padding: 0;
    font-family: "mavenpro-bold", sans-serif;
    
  }
  .btn-secondary:hover {
    color: var(--brand-blue) !important;
}