<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <hr/>
            <h3 class="subtitle finan-title">¿Necesitas Financiamiento? <br/> Solicita tu crédito con nosotros</h3>
            <div class="row my-3 my-md-4 text-center">
                <div class="col-12 col-sm-6">
                    <p class="valorTitulo">Valor del vehiculo:</p>
                    <p class="valor">${{ fichaVehiculo.Precio | number: "":"es" }}</p>
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <div class="row justify-content-center">
                        <div class="col-6 col-sm-8 col-lg-10 text-left">
                            <p class="cuotas">{{ Cuotas }} Cuotas de</p>
                            <p class="valorCuota">${{ CuotaMonto | number: "":"es" }}</p>
                            <ul>
                                <li>{{ porcentajePieResultadoFinal }}% pie</li>
                                <li>CTC: ${{ CTC | number: "":"es" }}</li>
                                <li>CAE: {{ CAE }}%</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button [hidden]="!isCollapsedSimulator" class="btn btn-primary brand-single-vehicle" (click)="collapseToggleSimulator()">Simular Crédito</button>
            </div>
            <div class="col-12 mt-3">
                 <div [collapse]="isCollapsedSimulator" [isAnimated]="true">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-12 col-sm-6 text-left">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                            <span>Pie: </span>
                                          </div>
                                        </div>
                                        <input 
                                            [textMask]="{mask: mask}"
                                            [disabled]="tasacionAppId != undefined"
                                            type="text"
                                            class="form-control"
                                            [value]="valorPieInput"
                                            [(ngModel)]="valorPieInput"
                                            maxlength="12"
                                            (change)="changeValorPie()"
                                        />
                                      </div>
                                </div>
                                <div class="col-12 col-sm-6 text-center text-sm-right">
                                    <span class="valorRange">{{ porcentajePieDisplay }}</span>
                                </div>
                                <div class="col-12 text-center">
                                    <span>* Indica un monto entre el 20% y el 90% del valor del auto</span>
                                </div>
                                <div *ngIf="mensajeAppPieIrregular" class="col-12 pie-irregular text-center">
                                    <span>{{mensajeAppPieIrregular}}</span>
                                </div>
                                <div class="col-12 my-3 text-center">   
                                    <label class="form-label label-auto-parte" for="ddlcuotas"><b>Cuotas</b></label>
                                    <select id="ddlcuotas" class="form-control w-25 m-auto" [(ngModel)]="cuotasSeleccion">
                                        <option 
                                            *ngFor="let cuota of financiamientoConfig.cuotas.secuencia" 
                                            [value]="cuota"
                                        >{{ cuota }}</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3 text-center">
                                    <div class="row border-form">
                                        <div class="col-12">
                                            <span>Seguros</span>
                                        </div>
                                        <div class="col-6">
                                            <div class="custom-control custom-switch">
                                                <input class="custom-control-input" type="checkbox" id="desgravamen" 
                                                [(ngModel)]="seguroDesgravamen" 
                                                [checked]="financiamientoConfig.seguros.desgravamen.checked"
                                                [disabled]="financiamientoConfig.seguros.desgravamen.disabled">
                                                <label class="custom-control-label" for="desgravamen">Desgravamen</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="custom-control custom-switch">
                                                <input class="custom-control-input" type="checkbox" id="cesantia" 
                                                [(ngModel)]="seguroCesantia"
                                                [checked]="financiamientoConfig.seguros.cesantia.checked"
                                                [disabled]="financiamientoConfig.seguros.cesantia.disabled">
                                                <label class="custom-control-label" for="cesantia">Cesantia</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3 text-center">
                                    <button class="btn btn-secondary" [disabled]="habilitaSilumacion()" (click)="simulacion()">
                                        <span>Simula tu cuota</span>
                                    </button>
                                </div>
                                <div class="col-12 mb-3 text-center">
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" type="checkbox" id="switch-app" 
                                        [(ngModel)]="autoParteDePago">
                                        <label class="custom-control-label" for="switch-app">Dejar auto en parte de pago</label>
                                    </div>
                                </div>
                                <div class="col-12 p-0">
                                    <app-auto-parte-pago 
                                        class="border-form" 
                                        [collapse]="!autoParteDePago" 
                                        [isAnimated]="true"
                                        (aceptaAppEmit)="aceptaApp($event)"
                                    ></app-auto-parte-pago>
                                </div>
                                <div class="col-12 my-3 text-center">
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" type="checkbox" id="switch-solicitud" 
                                        [(ngModel)]="solicitar">
                                        <label class="custom-control-label" for="switch-solicitud">Quiero solicitar el crédito</label>
                                    </div>
                                </div>
                                <div class="col-12 p-0">
                                    <app-solicitud-form
                                        class="border-form"
                                        [collapse]="!solicitar"
                                        [fichaVehiculo]="fichaVehiculo"
                                        [isAnimated]="true"
                                        [CuotasSolicitud]="Cuotas"
                                        [PieSolicitud]="valorPie"
                                        [CesantiaSolicitud]="seguroCesantia"
                                        [DesgravamenSolicitud]="seguroDesgravamen"
                                        [IdApp]="tasacionAppId"
                                    ></app-solicitud-form>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <hr/>
        </div>
    </div>
</section>