<section class="container-resumen">
  <div class="pasos-container">
    <div class="paso1">
      <p class="numero">
        <span>1</span>
        <img
          src="../../../../assets/icons/icono_check_wizard.svg"
          alt="icono-wizard"
        />
      </p>
      <p class="texto">Ingresa tus datos</p>
    </div>
    <div class="linea-activa"><hr /></div>
    <div class="paso2">
      <p class="numero">
        <span>2</span>
        <img
          src="../../../../assets/icons/icono_check_wizard.svg"
          alt="icono-wizard"
        />
      </p>
      <p class="texto">Agenda inspecci&oacute;n</p>
    </div>
    <div class="linea-activa"><hr /></div>
    <div class="paso3">
      <p class="numero">3</p>
      <p class="texto">Revisa</p>
    </div>
  </div>
  <h1 class="titulo-datos">Revisa</h1>
  <h2 class="subtitulo-datos">
    Lee atentamente los datos que ingresaste. Si deseas hacer alg&uacute;n cambio haz click en volver.
  </h2>
  <div class="container-form">
    <div class="row justify-content-md-center px-3">
      <div class="col-lg-10">
        <div class="resumen-container">
          <h3 class="titulo-resumen">Tu auto:</h3>
          <p class="detalle-resumen">
            <span *ngIf="!!datosTasacion.brandName">
              {{ datosTasacion.brandName }} {{ datosTasacion.modelName }}
              {{ datosTasacion.showName }}
            </span>
            <span *ngIf="!datosTasacion.brandName">
              Sin informaci&oacute;n
            </span>
            <span *ngIf="!!datosTasacion.year && !!datosTasacion.brandName"
              ><span class="mx-1">|</span>{{ datosTasacion.year }}</span
            >
            <span
              *ngIf="!!datosTasacion.requestedKm && !!datosTasacion.brandName"
              ><span class="mx-1">|</span
              >{{ datosTasacion.requestedKm | number: "":"es" }} KM</span
            >
          </p>
          <h3 class="titulo-resumen">Fecha de inspecci&oacute;n:</h3>
          <p class="detalle-resumen">
            {{
              agendamientoForm.controls.fechaInspeccion.value
                | date: "dd / MM / yyyy"
            }}
          </p>
          <h3 class="titulo-resumen">Hora:</h3>
          <p class="detalle-resumen">
            {{ agendamientoForm.controls.inicioBloque.value }} hrs.
          </p>
          <h3 class="titulo-resumen">Modalidad:</h3>
          <p class="detalle-resumen">Video llamada</p>
          <h3 class="titulo-resumen">Oferta:</h3>
          <p class="detalle-resumen mb-0">
            <span *ngIf="!!datosTasacion.valorTasacion">
              ${{ datosTasacion.valorTasacion | number: "":"es" }}
            </span>
            <span *ngIf="!datosTasacion.valorTasacion">
              Valor por definir
            </span>
          </p>
          <p class="nota-oferta">
            *Valor sujeto a cambios según inspecci&oacute;n realizada.
          </p>
        </div>
        <div class="form-row justify-content-md-center button-container mt-4">
          <button
            type="button"
            class="btn btn-secondary btn-revisar"
            (click)="volver()"
          >
            VOLVER
          </button>
          <button
            type="button"
            class="btn btn-primary btn-confirmar"
            (click)="confirmar()"
          >
            CONFIRMAR
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
