.container-resumen {
  .pasos-container {
    display: flex;
    font-family: "brandon-bold";
    justify-content: center;
    margin: 40px auto 10px;
    width: 60%;

    & > div {
      padding: 10px;
      text-align: center;
      width: 20%;
    }

    .numero {
      font-size: 30px;
      margin: 0;
    }

    .texto {
      font-size: 20px;
      line-height: 20px;
    }

    .paso1,
    .paso2 {
      color: #57afc9;

      span {
        display: none;
      }

      img {
        margin-bottom: 5px;
        width: 45px;
        height: 45px;
      }
    }

    .paso3 {
      color: #36383c;
    }

    .linea-activa {
      padding-top: 50px;
      hr {
        border-color: #57afc9;
      }
    }

    .linea {
      padding-top: 50px;
    }
  }

  .titulo-datos {
    color: #36383c;
    font-family: "brandon-bold";
    font-size: 40px;
    letter-spacing: -0.45px;
    line-height: 40px;
    text-align: center;
  }

  .subtitulo-datos {
    color: #36383c;
    font-family: "brandon-regular";
    font-size: 22px;
    letter-spacing: -0.25px;
    line-height: 25px;
    text-align: center;
  }

  .container-form {
    background: #f2f8f8;
    border-radius: 9px;
    margin-top: 30px;
    padding: 40px 0 60px;

    .resumen-container {
      color: #36383c;
      font-family: "barlow-regular";
      font-size: 16px;
      text-align: center;

      .titulo-resumen {
        font-size: 16px;
        margin-bottom: 0;
      }

      .detalle-resumen {
        font-family: "barlow-bold";
      }

      .nota-oferta {
        font-size: 10px;
      }
    }
  }

  .button-container {
    .btn-secondary {
      margin-right: 15px;
    }

    .btn-primary {
      margin-left: 15px;
    }
  }
}

@media (max-width: 991px) {
  .container-resumen {
    .pasos-container {
      width: 70%;

      .texto {
        display: none;
      }

      .linea,
      .linea-activa {
        padding-top: 20px;
      }

      .paso1,
      .paso2 {
        span {
          display: block;
        }
        img {
          display: none;
        }
      }
    }

    .button-container {
      flex-direction: column-reverse;
      padding: 0 5px;
      .btn-secondary {
        margin: 20px 0px;
        width: 100%;
      }

      .btn-primary {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 425px) {
  .container-resumen {
    .pasos-container {
      & > div {
        padding: 0;
      }

      .linea-activa {
        padding-top: 10px;
      }
    }

    .titulo-datos {
      font-size: 30px;
    }

    .subtitulo-datos {
      font-size: 20px;
    }
  }
}
