@import "./assets/icons/icomoon/style";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-steps/scss/bootstrap-steps';

:root{
  --brand-marine: #0F044C;
  --brand-cyan: #38F9F9;
  --brand-cyan2: #34e7e4;
  --brand-blue: #141E61;
  --brand-gray: #787A91;
  --brand-gray2: #bcbdc5;
}

.grecaptcha-badge { 
  visibility: hidden;
}

@font-face {
  font-family: "mavenpro-regular";
  font-display: swap;
  src: url(/assets/fonts/MavenPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "mavenpro-bold";
  font-display: swap;
  src: url(/assets/fonts/MavenPro-Bold.ttf) format("truetype");
}

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "brandon-bold";
  font-display: swap;
  src: url(/assets/fonts/BrandonText-Bold.otf) format("opentype");
}
@font-face {
  font-family: "brandon-regular";
  font-display: swap;
  src: url(/assets/fonts/BrandonText-Regular.otf) format("opentype");
}
@font-face {
  font-family: "barlow-medium";
  font-display: swap;
  src: url(/assets/fonts/Barlow-Medium.otf) format("opentype");
}
@font-face {
  font-family: "barlow-regular";
  font-display: swap;
  src: url(/assets/fonts/Barlow-Regular.otf) format("opentype");
}
@font-face {
  font-family: "barlow-bold";
  font-display: swap;
  src: url(/assets/fonts/Barlow-Bold.otf) format("opentype");
}
@font-face {
  font-family: "mulish-light";
  font-display: swap;
  src: url(/assets/fonts/Mulish-Light.ttf) format("opentype");
}
@font-face {
  font-family: "mulish-regular";
  font-display: swap;
  src: url(/assets/fonts/Mulish-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "mulish-bold";
  font-display: swap;
  src: url(/assets/fonts/Mulish-Bold.ttf) format("opentype");
}
html,
body {
  padding: 0;
  margin: 0;
}

/* Custom buttons */
.btn {
  font-family: "mavenpro-bold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.18px;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  outline: none;
  width: 260px;
  &.btn-primary {
    background: transparent;
    padding: .25rem .5rem;
    border: 3px solid var(--brand-cyan);
    color: var(--brand-marine);
    /*background: linear-gradient(90deg, #48b2be 13%, #6b75ff 79%, #967eff 100%);
    padding-top: 13px;
    padding-bottom: 13px;
    */
    &:hover {
      /*
      background: linear-gradient(
        90deg,
        rgba(51, 111, 133, 1) 13%,
        rgba(66, 84, 161, 1) 69%,
        rgba(101, 84, 169, 1) 100%
      );
      color: #ffffff;
      */
      background: rgba(0, 0, 0, 0.15);
    }
    &:active{
      background: var(--brand-marine);
    }
  }
  &.btn-secondary {
    background: transparent;
    padding: .25rem .5rem;
    border: 3px solid var(--brand-cyan);
    color: var(--brand-marine);
    /*
    color: var(--brand-cyan);
    background: none;
    border: 4px solid var(--brand-cyan);
    */
    &:hover {
      /*
      background: linear-gradient(
        90deg,
        rgba(51, 111, 133, 1) 13%,
        rgba(66, 84, 161, 1) 69%,
        rgba(101, 84, 169, 1) 100%
      );
      border-image: linear-gradient(
        90deg,
        rgba(51, 111, 133, 1) 13%,
        rgba(66, 84, 161, 1) 69%,
        rgba(101, 84, 169, 1) 100%
      );
      color: #ffffff;
      border: none;
      padding: 12px 0px 14px 0;
      */
      background: rgba(255, 255, 255, 0.25);
    }
    &:active{
      color: white;
      background: var(--brand-marine);
    }
  }

  &.btn-white {
    color: var(--brand-blue);
    background: #fff;
    border: 1px solid #d9dde9;
    border-radius: 4px;
    font-size: 14px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &::after {
      color: var(--brand-cyan);
      margin-top: 10px;
    }
  }
}

.btn-second {
  padding: 0.5rem 1rem !important;
  background: var(--brand-blue);
  border: 1px solid var(--brand-blue);
  font-size: 1rem;
  color: white;
  padding: 0;
  font-family: "mavenpro-bold",sans-serif;
  &:hover {
    background: var(--brand-marine) !important;
    color: white !important;
  }
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

/* Custom checkbox */

/* Customize the label (the container) */
.label-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #36383c;
  font-family: "mavenpro-regular";
  font-size: 16px;
  letter-spacing: -0.18px;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #d9dde9;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: var(--brand-blue);
  border: 1px solid var(--brand-blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create the custom Switch Buttom*/
.custom-control-label::before {
  background-color: #d9dde9;
  border: #d9dde9 solid 1px;
  border-radius: 5rem !important;
  height: 1.2rem;
  left: -2.25rem !important;
  top: 0.28rem;
  width: 2rem !important;
}

.custom-control-label::after {
  background-color: #fff ;
  border-radius: 1rem !important;
  height: 1rem !important;
  width: 1rem !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--brand-cyan);
  background-color: var(--brand-cyan);
}

input[type="checkbox"]:focus {
  outline: none;
}

.brandon-bold {
  font-family: "mavenpro-bold";
}

@media (max-width: 767px) {
  .custom-control-label::before {
    top: 0.3rem;
  }

  .custom-control-label::after {
    height: 1.01rem !important;
    width: 1.01rem !important;
  }
}

/* Create the custom Select*/
.custom-select {
  background-image: url(../src/assets/icons/flecha_select.svg);

  &.custom-select-xl {
    color: var(--brand-blue);

    &:disabled {
      opacity: 1;
    }
  }
}

.custom-select.is-invalid,
.was-validated .custom-select:invalid {
  border-color: #dc3545;
  padding-right: calc(0.75em + 2.3125rem);
  background: url(../src/assets/icons/flecha_select.svg) right 0.75rem
      center/8px 10px no-repeat,
    #fff
      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/></svg>")
      center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)
      no-repeat;
}

/* Create the custom spinner */
.spinner-custom {
  position: absolute;
  z-index: 100000;
}

/* Custom datepicker */
.bs-datepicker {
  box-shadow: none;
  border-radius: 15px;
  font-size: 22px;
  font-family: "mavenpro-regular";

  .bs-datepicker-container {
    // padding: 5px;
    margin-left: -24px;
    z-index: -1;
    margin-top: -5rem;

    .bs-datepicker-head {
      background-color: transparent;
      // border-bottom: 1px solid #d9dde9;
      text-align: center;
      color: transparent;

      button.current {
        color: transparent;
        text-transform: capitalize;
        font-family: "mavenpro-bold";
        padding: 0px;
      }

      button.next,
      button.previous {
        color: #57afc9;
      }

      button:hover {
        background: none;
      }
      button[disabled] {
        background: none;
        color: white;
      }
    }

    .bs-datepicker-body {
      border: none;
      max-width: 300px;

      table th {
        color: #36383c;
        font-family: "mavenpro-bold";
        font-size: 18px;
        text-transform: capitalize;
        padding: 0 5px;
        text-align: center;
      }

      table td {
        color: #36383c;
        font-family: "mavenpro-bold";
        padding: 2px 4px;
      }

      table td span {
        font-size: 18px;
      }

      table td span.is-other-month {
        font-family: "mavenpro-regular";
      }

      table td span.disabled,
      table td.disabled span {
        font-family: "mavenpro-regular";
      }

      table td span.selected {
        background-color: var(--brand-blue);
        font-family: "mavenpro-regular";
      }

      table.days span {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .bs-datepicker {
    .bs-datepicker-container {
      .bs-datepicker-body {
        table td span {
          font-size: 16px;
        }

        table.days span {
          width: 35px;
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 479px) {
  .bs-datepicker {
    .bs-datepicker-container {
      .bs-datepicker-body {
        table td {
          padding: 2px;
        }

        table td span {
          font-size: 16px;
        }

        table.days span {
          width: 35px;
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 425px) {
  .bs-datepicker {
    .bs-datepicker-container {
      .bs-datepicker-body {
        table th {
          font-size: 16px;
        }

        table td {
          padding: 2px;
        }

        table td span {
          font-size: 16px;
        }

        table.days span {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
}

@media (max-width: 399px) {
  .bs-datepicker {
    font-size: 18px;
    .bs-datepicker-container {
      padding: 15px 0;
      .bs-datepicker-body {
        table th {
          font-size: 14px;
        }

        table td {
          padding: 2px;
        }

        table td span {
          font-size: 14px;
        }

        table.days span {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .bs-datepicker {
    box-shadow: none;
    border-radius: 15px;
    font-size: 22px;
    font-family: "mavenpro-regular";
    
    
    .bs-datepicker-container {
      // padding: 5px;
      margin-left: 0px;
      display: block;
      justify-content: center;
      text-align: center;
  
      .bs-datepicker-head {
        background-color: transparent;
        // border-bottom: 1px solid #d9dde9;
        text-align: center;
        color: transparent;
  
        button.current {
          color: transparent;
          text-transform: capitalize;
          font-family: "mavenpro-bold";
          padding: 0px;
        }
  
        button.next,
        button.previous {
          color: #57afc9;
        }
  
        button:hover {
          background: none;
        }
        button[disabled] {
          background: none;
          color: white;
        }
      }
  
      .bs-datepicker-body {
        border: none;
        
  
        table th {
          color: #36383c;
          font-family: "mavenpro-bold";
          font-size: 14px;
          text-transform: capitalize;
          padding: 0 5px;
          text-align: center;
        }
  
        table td {
          color: #36383c;
          font-family: "mavenpro-bold";
          padding: 2px 4px;
        }
  
        table td span {
          font-size: 14px;
        }
  
        table td span.is-other-month {
          font-family: "mavenpro-regular";
        }
  
        table td span.disabled,
        table td.disabled span {
          font-family: "mavenpro-regular";
        }
  
        table td span.selected {
          background-color: var(--brand-blue);
          font-family: "mavenpro-regular";
        }
  
        table.days span {
          width: 30px !important;
          height: 30px !important;
          line-height: 30px;
        }
      }
    }
  }
  
  
}

/* Custom Alert */
.alert-warning {
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgb(148 148 148 / 30%);
  color: #bf8f05;
  font-family: "mavenpro-regular";
  font-size: 14px;
}
.phone-container {
  .contact {
    a, a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
@media screen and (min-width: 476px) and (max-width: 767px) {
  .contact-bar {
    .phone-container {
      .contact {
        font-size: 12px !important;
      }
    } 
  }
}
@media screen and (max-width: 475px) {
  .contact-bar {
    .phone-container {
      .contact {
        font-size: 10px !important;
      }
    } 
  }
}
/* modal style*/
.modal {
  padding: 0 1rem;
}

/* Brand Toggle*/
.brand-toggle.navbar-toggler{
  border-color: rgba(255, 255, 255, 0.5);
}

.brand-toggle .navbar-toggler-icon{
  filter: invert(1);
}
.brand-collapse.navbar-collapse{
  margin-bottom: 0.75rem;
}
.brand-whatsapp{
  max-height: 2rem;
}
.brand-single-vehicle.btn-contactanos{
  color: var(--brand-blue);
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
  &:hover{
    background: rgba(0, 0, 0, 0.15);
  }
  &:active{
    background-color: var(--brand-marine) !important;
    color: white !important;
  }
}
.btn.btn-primary.btn-ficha{
  color: var(--brand-marine);
}

.btn.btn-primary.btn-quierocomprar{
  color: white;
}

.btn-buscarpatente{
  background: var(--brand-blue) !important;
  border-color:  var(--brand-blue) !important;
}
.btn-quierovender{
  color: white !important;
}
.btn-quierocomprar:active, .btn-quierovender:active{
  background: var(--brand-cyan) !important;
  border-color: var(--brand-cyan) !important;
  color: white !important;
}
.btn-buscarcomprador{
  color: var(--brand-blue) !important;
  border-color:  var(--brand-blue) !important;
}
.btn-limpiarcomprador{
  color: var(--brand-marine) !important;
}
.btn-limpiarcomprador:active{
  background: var(--brand-blue) !important;
  border-color:  var(--brand-blue) !important;
  color: white !important;
}
.btn-tasarcomprador:active{
  background: var(--brand-blue) !important;
  border-color:  var(--brand-blue) !important;
  color: white !important;
}
.a-volver {
  cursor: pointer;
  font-family: "mavenpro-regular";
  color: var(--brand-blue);
  &:hover {
    text-decoration: none;
  }
}