.pasos {
    color: var(--brand-blue);
    font-family: "mavenpro-bold", sans-serif;
    .numeros {
        z-index: 10;
        span {
            padding: .5rem 1rem;
            background-color: var(--brand-gray2);
            border-radius: 2rem;
        }
        .active {
            background-color: var(--brand-cyan);
            color: var(--brand-blue);
        }
    }
    .detalle {
        font-family: "mavenpro-regular", sans-serif;
        .active {
            font-family: "mavenpro-bold", sans-serif !important;
        }
    }
    .linea {
        z-index: 1;
        position: relative;
        top: -2.8rem;
        span {
            border: 2px solid var(--brand-gray2);
            display: block;
        }
    }
}