<div class="row pasos mt-4 d-block d-sm-none">
    <div class="col-12 numeros d-flex justify-content-between">
        <span [ngClass]="{'active': paso == 1}">1</span>
        <span [ngClass]="{'active': paso == 2}">2</span>
        <span [ngClass]="{'active': paso == 3}">3</span>
    </div>
    <div class="col-12 detalle d-flex justify-content-between">
        <span [ngClass]="{'active': paso == 1}">Cotiza</span>
        <span [ngClass]="{'active': paso == 2}">Agenda</span>
        <span [ngClass]="{'active': paso == 3}">Vende</span>
    </div>
    <div class="col-12 linea">
        <span></span>
    </div>
</div>