.form_tasacion {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fffff;
  .info{
    display: none;
  }
  .header {
      width: 100%;
      padding: 1.625rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      .img_cnt {
          display: flex;
          justify-content: center;
          margin-bottom: 1.5rem;
          .img {
          width: 50%;
          text-align: center;
          }
      }
  }
  .icon_cnt {
      display: flex;
      width: 100%;
      position: relative;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 1.375rem;
      .tittle {
        text-align: center;
        color: #4caac6;
        font-size: 1.5rem;
        font-family: "mulish-bold";
        margin-bottom: 0;
        margin-top: 1rem;
      }
      .tittle_com {
        text-align: center;
        color: #4caac6;
        font-size: 1.5rem;
        font-family: "mulish-bold";
        margin-bottom: 0;
        margin-top: 0;
      }
      .subtitle {
        text-align: center;
        color: #4caac6;
        font-size: 1rem;
        font-family: "mulish-regular";
        margin-bottom: 0;
      }
      .icon {
        font-size: 10rem;
        color: #4caac6;
        margin-top: 1.5rem;
      }
  }
  .form_tasacion_inf {
      width: 100%;
      position: relative;
      background-color: #fffff;
      .container_patente {
        padding: 1.375rem;
        background-color: #4caac6;
        border-radius: 0.625rem;
        margin-bottom: 1rem;
        .img {
          margin-bottom: 17px;
        }
        .title {
          text-align: center;
          color: white;
          font-size: 1.5rem;
          font-family: "mulish-Bold";
          margin-bottom: 0;
        }
        .title_a {
          text-align: center;
          color: white;
          font-size: 1.625rem;
          font-family: "mulish-regular";
          margin-bottom: 7px;
        }
        .precio {
          text-align: center;
          color: white;
          font-size: 3rem;
          font-family: "mulish-bold";
          margin-bottom: 0px;
          line-height: 60px;
        }
        .condiciones {
          text-align: center;
          color: white;
          font-size: 0.75rem;
          font-family: "mulish-regular";
          margin-bottom: 27px;
        }
        .condiciones_b {
          text-align: center;
          color: white;
          font-size: 0.625rem;
          font-family: "mulish-regular";
          margin-bottom: 11px;
        }
        .subtitle {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mulish-regular";
          margin-bottom: 6px;
        }
        .subtitle_c {
          text-align: center;
          color: white;
          font-size: 1rem;
          font-family: "mulish-regular";
          margin-bottom: 16px;
        }
        .btn {
          width: 100%;
          &:first-child {
            margin-bottom: 1rem;
            margin-top: 1.5rem;
            width: 100%;
            height: 36px;
            border: 1px solid white;
            font-size: 1rem;
            color: white;
            padding: 0;
            font-family: "mulish-bold";
          }
          &:last-child {
            margin-bottom: 0;
            width: 100%;
            height: 36px;
            background: white;
            border: 1px solid white;
            font-size: 1rem;
            color: #4caac6;
            padding: 0;
            font-family: "mulish-bold";
          }
        }
      }
  }
}
@media (min-width: 800px) {
  .form_tasacion{
    display: flex;
    .izquierda {
      width: 80%;
      .header {
        justify-content: left;
        padding-top: 3rem;
        padding-left: 2rem;
        .img_cnt {
          display: flex;
          justify-content: left;
          margin-bottom: 0.5rem;
          .img {
            width: 250px;
            text-align: left;
          }
        }
        .title {
          text-align: left;
          margin-bottom: 0;
          font-size: 40px;
        }
        .subtitle {
          text-align: left;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 0;
        }
      }
      .info{
        display:flow-root;
        width: 95%;
        padding: 1.625rem;
        background-color: #4caac6;
        margin-left: 2rem;
        border-radius: 0.625rem;
        .tittle {
          color: #fff;
          font-size: 1.5rem;
          font-family: "mulish-bold";
          margin-bottom: 0;
          //margin-top: 1rem;
        }
        .tittle_com {
          font-size: 1.5rem;
          font-family: "mulish-bold";
          color: #fff;
        }
        .subtitle {
          font-size: 1rem;
          font-family: "mulish-regular";
          color: #fff;
        }
        .icon {
          font-size: 6.5rem;
          color: #fff;
          margin-top: 1.5rem;
          
        }
        .info-texto {
          display: flex;
          align-items: center;
          .info-logo {
            padding:1rem;
          }
        }
      }
    }
    .derecha{
      .form_tasacion_inf{
        margin-top: 3rem;
      }
    }
  }
    
}