<section class="form_tasacion container-tasador">
  <section class="izquierda">
    <article class="info">
        <div>
          <p class="tittle">¿Por qué elegirnos?</p>
        </div>
        <div class="info-texto">
          <div >
            <span class="icon-verification icon"></span>
          </div>
          <div class="info-logo">
            <p class="tittle">Tranquilidad</p>
            <p class="subtitle">
              A diferencia de otras empresas, nos preocupamos de transferir el auto a nuestro nombre, lo que te libera de cualquier responsabilidad futura sobre el auto.  Así, tú no tendrás que preocuparte de nada más que recibir tu dinero.
            </p>
          </div>
        </div>
        <div class="info-texto">
          <div >
            <span class="icon-tag-peso icon"></span>
          </div>
          <div class="info-logo">
            <p class="tittle">Precio</p>
            <p class="subtitle">
              Tenemos precios muy competitivos. Cotiza con nosotros, te haremos una oferta que te sorprenderá. <strong>¿Tu auto tiene prenda? Despreocúpate, lo compramos igual!</strong>
            </p>
          </div>
        </div>
        <div class="info-texto">
          <div >
            <span class="icon-comodo icon"></span>
          </div>
          <div class="info-logo">
            <p class="tittle">Comodidad</p>
            <p class="subtitle">
              Te pagamos en una hora y nos encargamos de todo el proceso de transferencia. Olvídate de la notaría, el banco y los trámites molestos. <strong>Vende tu auto sin salir de tu casa.</strong>
            </p>
          </div>
        </div>
      </article>
  </section>
  <section class="derecha"> 
    <section class="form_tasacion_inf container">
        <div class="row justify-content-md-center">
     
            <div class="col-lg-10">

                <div class="form-col container_patente">
                    <p class="title">
                        <img 
                            src="../../../../assets/images/resumen_agenda.svg"
                            alt="logo_car1"
                            class="img"
                        />
                    </p>
                    <p class="title">Listo</p>
                    <p class="subtitle_c">
                        Tu cita de inspecci&oacute;n ha sido reservada.
                    </p>
                    <p class="title_a"><strong>Lunes 13 de Enero</strong><br>
                        11:00 am</p>
                    <p class="condiciones">
                        <strong>Recuerda:</strong><br>
                        Te llegara un correo con la confirmación de esta cita.
                    </p>
                    <p class="title">Tu Oferta</p>
                    <p class="precio">
                        $9.300.000
                    </p>
                    <p class="condiciones_b">
                        El valor entregado puede variar seg&uacute;n el estado del veh&iacute;culo
                    </p>
                    <p class="subtitle">
                        Peugeot 208 1.6 Active Pack HDI 92HP MT Diesel
                    </p>
                    <p class="subtitle">
                        ¿Tu objetivo es renovarte? Revisa nuestro stock y encuentra el auto que buscas.
                    </p>



                    <div class="form-group last_form_group">
                        <button type="button" (click)="volver()" class="btn btn-secondary_nuevo">Volver al Home</button>
                        <button type="submit" class="btn btn-primary2">Ver Stock</button>
                    </div>


                </div>
                
            </div>
          
        </div>


    </section>
  </section>
</section>
