.info-sucursal-mobile-container {
    background-color: #fff;
    padding: 30px 0;
    color: black;
    font-family: "mavenpro-regular", sans-serif;
    font-weight: bold;
    text-align: left;

    .title-info-sucursal-mobile {
      font-size: 22px;
      letter-spacing: -0.45px;
      line-height: 56px;
      margin: 0 0 0 0;
    }
    .text-info-sucursal-mobile {
      font-size: 18px;
      letter-spacing: -0.18px;
      line-height: 22px;
      margin: 0 30px 0 0;
    }
  }
  