<carousel
appCarouselSwipe
[isAnimated]="true"
>
    <slide>
        <a class="noticia1" href="https://www.emol.com/noticias/Economia/2022/04/20/1058529/car1-compra-venta-autos.html" target="_blank">
            <section class="container">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <img src="/assets/images/logo_car_1.svg" class="img-fluid" alt="Car1 Logo">
                    </div>
                    <div class="col-12 col-md-6">
                        <h2>¡ES NOTICIA!</h2>
                    </div>
                </div>
            </section>
        </a>
    </slide>
    <slide>
        <a class="noticia2" href="https://chocale.cl/2022/05/car1-plataforma-vender-comprar-autos-usados-desde-casa/" target="_blank">
            <section class="container">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <img src="/assets/images/logo_car_1.svg" class="img-fluid" alt="Car1 Logo">
                    </div>
                    <div class="col-12 col-md-6">
                        <h2>¡EN LA PRENSA!</h2>
                    </div>
                </div>
            </section>
        </a>
    </slide>
</carousel>