::ng-deep .carousel-control {
    display: none;
}
.noticia1 section {
    background-image: url(/assets/images/noticias/noticia_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 67% 65%;
    height: 8rem;
    padding-top: 2.4rem;
}
.noticia2 section {
    background-image: url(/assets/images/noticias/noticia2_back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 67% 65%;
    height: 8rem;
    padding-top: 2.4rem;
}
a.noticia1, a.noticia1:hover {
    color: var(--brand-cyan);
    text-decoration: none;
}
a.noticia2, a.noticia2:hover {
    color: var(--brand-blue);
    text-decoration: none;
}
h2 {
    font-size: 2rem;
    font-family: "mavenpro-bold", sans-serif;
    margin-top: 1.1rem;
}
@media (max-width: 990px) {
    h2 {
        font-size: 1.6rem;
        margin-top: 0rem;
    }
}