<section class="containter-detalle">
  <div class="row container-items">
    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.Color">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Color:
          {{ fichaVehiculo.Color }}
        </p>
      </div>
    </div>
    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.FechaRevisionTecnica">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Fecha Vencimiento Rev. Técnica:
          {{ fichaVehiculo.FechaRevisionTecnica | date: 'MM/yyyy' }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.FechaVencimientoPermiso">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Fecha Vencimiento P. Circulación:
          {{ fichaVehiculo.FechaVencimientoPermiso | date: 'MM/yyyy' }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.FechaUltimaMantencion">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Fecha Última Mantención:
          {{ fichaVehiculo.FechaUltimaMantencion | date: 'dd/MM/yyyy' }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.KilometrajeUltimaMantencion">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Kilometraje Última
          Mantención:
          {{ fichaVehiculo.KilometrajeUltimaMantencion | number: '':'es' }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.tipo_de_techo?.Tipo">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Tipo de Techo:
          {{ fichaVehiculo.tipo_de_techo?.Tipo }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.tipo_de_asiento?.Tipo">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Tipo de Asiento:
          {{ fichaVehiculo.tipo_de_asiento?.Tipo }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.CantidadAsientos">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Cantidad de asientos:
          {{ fichaVehiculo.CantidadAsientos }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.CantidadLlaves">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Cantidad de Llaves:
          {{ fichaVehiculo.CantidadLlaves }}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.TipoMotorLitros">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Cilindrada:
          {{ fichaVehiculo.TipoMotorLitros | number:'1.1'}}
        </p>
      </div>
    </div>

    <div class="col-md-6 container-item" *ngIf="fichaVehiculo.Patente">
      <div class="item-detalle">
        <p>
          <img alt="" src="/assets/images/bullet.svg" />Patente:
          {{ fichaVehiculo.Patente }}
        </p>
      </div>
    </div>
  </div>
</section>
