::ng-deep .carousel-control {
    display: none;
}
img {
    display: block;
    width: 100%;
    cursor: pointer;
}
.container {
    padding: 0;
    margin: auto;
}
div.counter {
    position: relative;
    z-index: 100;
    margin-top: 0.5rem;
    text-align: right;
    top: 2rem;
    padding: 0 1rem;
    span {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 0.5rem;
        padding: 0.1rem 0.2rem;
        background-color: rgba(0, 0, 0, 0.5);
        font-family: "mavenpro-regular", sans-serif;
        font-size: 0.7rem;
    }
}