<section class="container">
    <div class="counter">
        <span>{{activeSlide + 1}}/{{slides.length}}</span>
   </div>
   <carousel
    [(activeSlide)]="activeSlide"
    appCarouselSwipe
    [isAnimated]="true"
    >
        <slide *ngFor="let slide of slides; let index = index">
            <img (click)="redirectFullView()" [src]="slide" [alt]="'imagen_' + index">
        </slide>
    </carousel>
</section>