.container-exito {
  font-family: "mavenpro-regular", sans-serif;
  padding-bottom: 50px;
  .icon-container {
    margin-bottom: 20px;
    text-align: center;
  }
  .icon-container img{
    max-height: 150px;
  }
  .title-exito {
    color: var(--brand-cyan2);
    font-family: "mavenpro-bold", sans-serif;
    line-height: 40px;
    text-align: center;
  }
  .sub-title-exito {
    color: var(--brand-blue);
    font-size: 22px;
    margin: 40px 0 50px;
    text-align: center;

    .email {
      font-family: "mavenpro-bold", sans-serif;
    }
  }

  .button-container {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .container-exito {
    .title-exito {
      font-size: 30px;
    }

    .sub-title-exito {
      font-size: 20px;
    }
  }
}
