<div class="container container-exito">
  <div class="row justify-content-md-center">
    <div class="col-lg-10">
      <div class="icon-container">
        <img
          src="../../../assets/icons/icono_check_exito.svg"
          alt="exito-icono"
        />
      </div>
      <h1 class="title-exito">
        ¡Hemos recibido tu solicitud!
      </h1>
      <h2 class="sub-title-exito">
        Te enviaremos un correo de confirmación a
        <span class="email">{{ emailCliente }}</span
        >. ¡Atento! Que un ejecutivo te contactará lo antes posible.
      </h2>
      <div class="button-container">
        <button (click)="closeModal()" type="button" class="btn btn-primary">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
