<section class="container container-venta">
  <div class="row justify-content-center">
    <div class="col-md-11 col-12">
      <div class="container-tasador">
        <app-tasador [esVenta]="esVenta"></app-tasador>
      </div>
    </div>
  </div>
</section>
