.containter-informe {
    .container-items {
      .container-item {
        &:nth-child(odd) {
          padding-left: 0;
          padding-right: 5px;
        }
  
        &:nth-child(even) {
          padding-left: 5px;
          padding-right: 0;
        }
  
        .item-informe {
          background-color: #f2f8f8;
          font-size: 16px;
          font-family: "mavenpro-regular", sans-serif;
          text-align: left;
          padding: 15px 30px;
          margin-bottom: 10px;
          
          a, a:hover {
            color: #36383c;
            text-decoration: none;
          }

          p {
            margin: 0;
  
            img {
              margin-right: 20px;
              max-width: 20px;
              position: relative;
              top: -5px;
              fill: var(--brand-cyan2);
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .containter-informe {
      .container-items {
        .container-item {
          &:nth-child(odd) {
            padding-right: 0;
          }
  
          &:nth-child(even) {
            padding-left: 0;
          }
        }
      }
    }
  }
  
  @media (max-width: 575px) {
    .containter-informe {
      .container-items {
        .container-item {
          &:nth-child(odd),
          &:nth-child(even) {
            padding-right: 15px;
            padding-left: 15px;
          }
        }
      }
    }
  }
  