<section class="containter-informe">
    <div class="row container-items">
      <div *ngFor="let informe of enlaces" class="col-md-6 container-item">
        <div class="item-informe">
          <a href="{{ informe.val2 }}" target="_blank">
            <p><img alt="" src="/assets/icons/icono_save_file.svg" />{{ informe.val1 }}</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  